2026/06/E7U3Fx9FuUFTp7u8.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-10T06:27:31.420Z",
    "createdAt": "2026-06-10T05:09:56.411Z",
    "versionId": "70ae301f-fb5e-47ad-9e5e-16e0b16f2a78",
    "workflowId": "E7U3Fx9FuUFTp7u8",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "86ab66a9-f082-43b8-997c-f78098390688",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "fieldToSplitOut": "output.chapters",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          208,
          0
        ],
        "id": "c3db2c1c-7f18-4933-8072-308e3a07043e",
        "name": "Split Out"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          416,
          0
        ],
        "id": "0afafd57-8897-44a2-99ce-130ff5e9cdb4",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f7eed64f-4897-466c-99fc-4c08debacf5d",
                "name": "script",
                "value": "={{ $json.content }}",
                "type": "string"
              },
              {
                "id": "2dfb6a73-b954-44b0-9b8d-39ad6f88bc36",
                "name": "level",
                "value": "={{ $json.level }}",
                "type": "number"
              },
              {
                "id": "c0ace5f4-a240-4f0a-8869-e89c749b9b74",
                "name": "title",
                "value": "={{ $json.title }}",
                "type": "string"
              },
              {
                "id": "3d1ea015-8dc9-4f19-b84e-5749e4c5a689",
                "name": "BASE ID",
                "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
                "type": "string"
              },
              {
                "id": "ab939dfe-6012-4af4-9f45-1ce292261456",
                "name": "Worker Sheet ID",
                "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
                "type": "string"
              },
              {
                "id": "8759f2e3-bb9f-4161-98b1-63eef6c0be55",
                "name": "Character Reference URL",
                "value": "={{ $('When Executed by Another Workflow').first().json['Character Reference URL'] }}",
                "type": "string"
              },
              {
                "id": "c3fd1165-eff2-4d5b-bf27-c2461940e599",
                "name": "Storage Bucket",
                "value": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
                "type": "string"
              },
              {
                "id": "13c9fccd-7786-42af-96c3-04f9f867e27a",
                "name": "Videos Path",
                "value": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          608,
          96
        ],
        "id": "922df8c2-4b3c-4253-98ca-0ba687ecaf89",
        "name": "Chunk Settings"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "workspaceId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "projectId": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
            "mode": "id"
          },
          "id": "="
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 4,
        "position": [
          784,
          96
        ],
        "id": "7267707d-ff54-479a-9eec-41f328aa7e57",
        "name": "Ping Worker Status",
        "credentials": {
          "nocoDbApiToken": {
            "id": "1gvRq0BbKFPkQsOh",
            "name": "NocoDB Token account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Chunk Settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chunk Settings": {
        "main": [
          [
            {
              "node": "Ping Worker Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carmelo Iglesias",
    "name": "Version 70ae301f",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "70ae301f-fb5e-47ad-9e5e-16e0b16f2a78",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Chunk Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Settings": {
      "main": [
        [
          {
            "node": "Ping Worker Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-10T04:20:51.377Z",
  "id": "E7U3Fx9FuUFTp7u8",
  "isArchived": false,
  "meta": null,
  "name": "Video Generation",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "86ab66a9-f082-43b8-997c-f78098390688",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.chapters",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "c3db2c1c-7f18-4933-8072-308e3a07043e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "0afafd57-8897-44a2-99ce-130ff5e9cdb4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7eed64f-4897-466c-99fc-4c08debacf5d",
              "name": "script",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "2dfb6a73-b954-44b0-9b8d-39ad6f88bc36",
              "name": "level",
              "value": "={{ $json.level }}",
              "type": "number"
            },
            {
              "id": "c0ace5f4-a240-4f0a-8869-e89c749b9b74",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "3d1ea015-8dc9-4f19-b84e-5749e4c5a689",
              "name": "BASE ID",
              "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
              "type": "string"
            },
            {
              "id": "ab939dfe-6012-4af4-9f45-1ce292261456",
              "name": "Worker Sheet ID",
              "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
              "type": "string"
            },
            {
              "id": "8759f2e3-bb9f-4161-98b1-63eef6c0be55",
              "name": "Character Reference URL",
              "value": "={{ $('When Executed by Another Workflow').first().json['Character Reference URL'] }}",
              "type": "string"
            },
            {
              "id": "c3fd1165-eff2-4d5b-bf27-c2461940e599",
              "name": "Storage Bucket",
              "value": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
              "type": "string"
            },
            {
              "id": "13c9fccd-7786-42af-96c3-04f9f867e27a",
              "name": "Videos Path",
              "value": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        96
      ],
      "id": "922df8c2-4b3c-4253-98ca-0ba687ecaf89",
      "name": "Chunk Settings"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
          "mode": "id"
        },
        "id": "="
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        784,
        96
      ],
      "id": "7267707d-ff54-479a-9eec-41f328aa7e57",
      "name": "Ping Worker Status",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Base ID": "p3l64neoyynn30b",
          "Channel Sheet ID": "m5s88g69xzb08wl",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guys-channel/videos",
          "output": {
            "chapters": [
              {
                "level": 1,
                "title": "The Walk-In",
                "content": "You are standing on a rain-slicked sidewalk in a city whose name you cannot tell your parents. You are twenty-four years old. You have a degree in international relations, a minor in Mandarin, and a fitness level that suggests you've never missed a morning run in your life. You are currently staring at a nondescript office building in Northern Virginia. To the world, this is just a government contractor's headquarters. To you, it is the threshold.\n\nThe recruitment process was a year of silence interrupted by sudden, invasive questions. They've mapped your debt, your sexual history, and the exact reason you stopped talking to your college roommate. Now, you step through the glass doors. You are given a blue badge. It is the lowest rung on the ladder. You are a trainee at the Farm.\n\nYour days are no longer yours. You learn the \"Art of the Brush Pass\"—how to hand off a micro-SD card in a crowded subway without breaking stride. You learn the \"Dead Drop\"—how to hide a brick of cash in a hollowed-out stone near a park bench. Most importantly, you learn the \"SDR,\" the Surveillance Detection Route. You spend six hours driving in circles, turning into dead-end alleys, and stopping at gas stations just to see if the same gray sedan is still three cars back. You learn that if someone follows you for more than three turns, your life as a normal citizen is over. You graduate, not with a ceremony, but with a plane ticket to a Third World capital and a \"clean\" phone. You aren't an officer yet. You are an asset-in-waiting."
              },
              {
                "level": 2,
                "title": "The Case Officer",
                "content": "You are living in a villa in Amman. Your official title is \"Junior Economic Attaché\" at the Embassy. You spend your days looking at spreadsheets and attending boring cocktail parties. But your real work begins at 11:00 PM.\n\nYou have your first \"asset.\" He is a mid-level bureaucrat in the Ministry of Defense who likes Scotch and hates his boss. Your job is to make him love you. You listen to his problems. You remember his children's birthdays. You slowly, methodically, erode his sense of loyalty to his country until he is handing you photocopies of troop movements in exchange for envelopes of cash.\n\nYou feel a rush of power the first time he hands you a classified folder. It's better than any drug. But then comes the \"burn.\" You realize that if this man is caught, he will be executed, and you will simply be declared *persona non grata* and flown home in business class. You stay up late staring at the ceiling, wondering if you actually like him, or if you just like the information. You realize the \"relationship\" is a meticulously constructed lie. You are a professional friend, and your friendship is a weapon."
              },
              {
                "level": 3,
                "title": "The Black Roofer",
                "content": "You have been moved from the \"Light\" side to the \"Dark\" side. You are no longer at the Embassy. You are now part of the Special Operations Group—the SOG. You are a \"Black Roofer\".\n\nYou are a Tier 1 operator, likely former Delta or SEAL Team 6, seconded to the Agency. You don't have a badge anymore. If you are captured, the U.S. government will claim they have never heard of you. You are in a \"denied area\"—a country where we are not officially at war.\n\nIt is 2:00 AM in a suburb of Karachi. You are wearing local clothes and carrying a suppressed submachine gun with no serial numbers. Your team is scaling a wall using silent tactical ladders. Your mission isn't to talk to people; it's to \"sanitize\" a room. You move with a fluidity that only comes from ten thousand hours of practice. The door is breached. Three pops of suppressed fire. The target is dead before he can reach for his phone. You don't take a trophy. You take a hard drive and a stack of papers. You are gone in ninety seconds. Back at the safehouse, you clean your weapon in total silence. You realize you haven't spoken a word to another human being in three days. You are becoming a ghost."
              },
              {
                "level": 4,
                "title": "The Paramilitary Chief",
                "content": "You've traded the submachine gun for a satellite phone and a map. You are in the mountains of a country the news doesn't mention. You are the \"Chief of Station\" for a paramilitary base—a Black Site.\n\nYou manage thirty men who don't exist. You spend your days negotiating with local warlords, buying their loyalty with crates of AK-47s and pallets of non-sequential hundred-dollar bills. You are a king in a valley of shadows. You decide who gets a drone strike and who gets a seat at the table.\n\nThe morality gets heavy here. You know the warlord you're funding is a monster who burns villages. But he's *your* monster. He gives you the coordinates for the high-value targets. You sit in a plywood command center, watching a grainy infrared feed from a Predator drone orbiting five miles above. You see a heat signature—a person—exit a house. You give the word: \"Clear to engage.\" You watch the screen flash white. A few seconds later, the person is gone. You go to the mess hall and eat a lukewarm MRE. You don't think about the person you just evaporated. You think about the next three targets on the list."
              },
              {
                "level": 5,
                "title": "The Interrogator",
                "content": "You are transferred to a \"Secondary Location.\" It is a windowless facility in a country that doesn't believe in the Geneva Convention. You are the man in the room.\n\nThe target is a \"HVT\"—a High-Value Target. He has information about a ticking bomb or a mole in the Pentagon. Your job is to break him. You don't use the Hollywood stuff; that doesn't work. You use sleep deprivation. You use white noise at 110 decibels for twenty hours straight. You use the \"Confinement Box.\" You watch him through a one-way mirror. You see a man lose his mind in real-time.\n\nThen, you enter the room. You are the \"Good Cop.\" You bring him water. You offer him a cigarette. You talk about his family. You are the only source of kindness in his hellish world. And eventually, he cracks. He weeps into your shoulder and tells you everything. You feel a deep, sickening sense of accomplishment. You've reached into a man's soul and pulled out the truth. When you go back to your hotel, you scrub your hands until they are raw, but you can still smell the sweat and fear from the room."
              },
              {
                "level": 6,
                "title": "The Deputy Director of Operations (DDO)",
                "content": "You are back in Langley. You have a corner office with a view of the woods. You wear a three-piece suit. You are \"Seventh Floor\".\n\nYou are no longer in the field, but the field is always in your ear. You balance a $2 billion black budget. You sit in the Situation Room with the President, explaining why a covert coup in Central America is \"the only viable path for regional stability.\" You speak in euphemisms. You don't say \"kill\"; you say \"neutralize.\" You don't say \"unlawful\"; you say \"extra-legal.\"\n\nYou realize your job is to keep the secrets buried deep enough that the public never has to feel guilty. You are the person who signs the execution orders. You are the one who decides which of your officers is \"expendable\" when a mission goes sideways. You look at the wall in the main lobby—the one with the stars carved into the marble for every officer who died in the line of duty. You know exactly which stars were your fault. You sleep four hours a night. Your spouse left you years ago because you couldn't tell them where you were going for weeks at a time. Your children call you by your first name."
              },
              {
                "level": 7,
                "title": "The Legend",
                "content": "You are seventy years old. You are retired, but you aren't really retired. You live on a farm in Virginia, surrounded by high-tech security fences and cameras. You have a \"handler\" from the agency who checks on you once a week to make sure your mind isn't slipping. You carry too many secrets for your brain to hold comfortably.\n\nYou spend your days gardening. You look like any other grandfather. But sometimes, when the wind catches the trees, you're back in a jungle in 1985, or a basement in Beirut. You see the faces of the men you burned and the assets you abandoned. You wonder if the world is actually safer because of what you did, or if you just moved the pieces around on a board that never ends.\n\nOne afternoon, a young man knocks on your door. He's twenty-four, fit, with a degree in international relations and a look of desperate ambition in his eyes. He's part of a new \"vetting\" process. He wants to know about the \"pioneer days.\" He looks at you with awe, as if you're a hero.\n\nYou look at his clean, unscarred hands. You think about the brush passes, the black sites, the white noise, and the stars on the wall. You invite him in. You offer him a glass of Scotch. And as you begin to tell him a version of the truth—the version he's allowed to hear—you realize the cycle is starting again. You were once him. And thirty years from now, he will be sitting in a chair just like yours, wondering when the rain will finally wash the secrets away. You pour him another drink and begin. \"The first thing you have to understand,\" you say, \"is that you are about to become a very professional liar.\""
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8nmanamagementserver",
  "repo_owner": "typespectrum-dev",
  "repo_path": "workflows/n8n-second/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-10T04:20:51.377Z",
      "createdAt": "2026-06-10T04:20:51.377Z",
      "role": "workflow:owner",
      "workflowId": "E7U3Fx9FuUFTp7u8",
      "projectId": "CBMgvnupThQ6ZdzY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-10T05:09:56.410Z",
  "versionId": "70ae301f-fb5e-47ad-9e5e-16e0b16f2a78"
}