2026/06/E7U3Fx9FuUFTp7u8.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-10T06:27:31.420Z",
    "createdAt": "2026-06-10T05:09:56.411Z",
    "versionId": "70ae301f-fb5e-47ad-9e5e-16e0b16f2a78",
    "workflowId": "E7U3Fx9FuUFTp7u8",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "86ab66a9-f082-43b8-997c-f78098390688",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "fieldToSplitOut": "output.chapters",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          208,
          0
        ],
        "id": "c3db2c1c-7f18-4933-8072-308e3a07043e",
        "name": "Split Out"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          416,
          0
        ],
        "id": "0afafd57-8897-44a2-99ce-130ff5e9cdb4",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f7eed64f-4897-466c-99fc-4c08debacf5d",
                "name": "script",
                "value": "={{ $json.content }}",
                "type": "string"
              },
              {
                "id": "2dfb6a73-b954-44b0-9b8d-39ad6f88bc36",
                "name": "level",
                "value": "={{ $json.level }}",
                "type": "number"
              },
              {
                "id": "c0ace5f4-a240-4f0a-8869-e89c749b9b74",
                "name": "title",
                "value": "={{ $json.title }}",
                "type": "string"
              },
              {
                "id": "3d1ea015-8dc9-4f19-b84e-5749e4c5a689",
                "name": "BASE ID",
                "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
                "type": "string"
              },
              {
                "id": "ab939dfe-6012-4af4-9f45-1ce292261456",
                "name": "Worker Sheet ID",
                "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
                "type": "string"
              },
              {
                "id": "8759f2e3-bb9f-4161-98b1-63eef6c0be55",
                "name": "Character Reference URL",
                "value": "={{ $('When Executed by Another Workflow').first().json['Character Reference URL'] }}",
                "type": "string"
              },
              {
                "id": "c3fd1165-eff2-4d5b-bf27-c2461940e599",
                "name": "Storage Bucket",
                "value": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
                "type": "string"
              },
              {
                "id": "13c9fccd-7786-42af-96c3-04f9f867e27a",
                "name": "Videos Path",
                "value": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          608,
          96
        ],
        "id": "922df8c2-4b3c-4253-98ca-0ba687ecaf89",
        "name": "Chunk Settings"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "workspaceId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "projectId": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
            "mode": "id"
          },
          "id": "="
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 4,
        "position": [
          784,
          96
        ],
        "id": "7267707d-ff54-479a-9eec-41f328aa7e57",
        "name": "Ping Worker Status",
        "credentials": {
          "nocoDbApiToken": {
            "id": "1gvRq0BbKFPkQsOh",
            "name": "NocoDB Token account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Chunk Settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chunk Settings": {
        "main": [
          [
            {
              "node": "Ping Worker Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carmelo Iglesias",
    "name": "Version 70ae301f",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "70ae301f-fb5e-47ad-9e5e-16e0b16f2a78",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Chunk Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Settings": {
      "main": [
        [
          {
            "node": "Ping Worker Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-10T04:20:51.377Z",
  "id": "E7U3Fx9FuUFTp7u8",
  "isArchived": false,
  "meta": null,
  "name": "Video Generation",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        0
      ],
      "id": "86ab66a9-f082-43b8-997c-f78098390688",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.levels",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c3db2c1c-7f18-4933-8072-308e3a07043e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        0
      ],
      "id": "920565ae-e1ef-4786-a1ec-b426ac4f4f74",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e899409e-3da5-4c6a-86f1-60695d31950c",
              "name": "script",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "cb34a319-c1d3-494f-a121-cc4b1a9d37c6",
              "name": "level",
              "value": "={{ $json.level_number }}",
              "type": "number"
            },
            {
              "id": "a285cb3a-6d3b-4124-a30a-3e3e17fd423e",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "1a37d44b-90e1-4ba6-9103-2836d4ef7ca8",
              "name": "Base ID",
              "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
              "type": "string"
            },
            {
              "id": "63644497-8977-4d73-9141-e259acd98d90",
              "name": "Worker Sheet ID",
              "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
              "type": "string"
            },
            {
              "id": "ff8a873c-f34c-4b19-8292-5001c3ca24d9",
              "name": "Character Reference URL",
              "value": "={{ $('When Executed by Another Workflow').first().json['Character Reference URL'] }}",
              "type": "string"
            },
            {
              "id": "baabcd60-1766-4a09-8891-fef79729010f",
              "name": "Storage Bucket",
              "value": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
              "type": "string"
            },
            {
              "id": "d7e87e16-870e-407f-a3fe-305ebd747c20",
              "name": "Videos Path",
              "value": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        96
      ],
      "id": "c584ea40-aa9d-4c2e-8891-8e71d7d47b0f",
      "name": "Chunk Settings"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "search",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "id",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        720,
        96
      ],
      "id": "fc48c773-d899-4414-a2e9-1f5ec0189cee",
      "name": "Ping Worker Status",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8nmanamagementserver",
  "repo_owner": "typespectrum-dev",
  "repo_path": "workflows/n8n-second/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-10T04:20:51.377Z",
      "createdAt": "2026-06-10T04:20:51.377Z",
      "role": "workflow:owner",
      "workflowId": "E7U3Fx9FuUFTp7u8",
      "projectId": "CBMgvnupThQ6ZdzY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-22T02:54:05.811Z",
  "versionId": "b738f821-1329-4b49-b3e1-28ee7b3c8e57"
}