2026/06/EB6ZxVBh9wX1Dixp.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-10T04:42:12.737Z",
    "createdAt": "2026-07-10T00:15:09.594Z",
    "versionId": "ae2071b3-0a25-448a-9231-907dc99e1a5f",
    "workflowId": "EB6ZxVBh9wX1Dixp",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1968,
          -96
        ],
        "id": "97407ac6-7d3d-4310-a69e-ad38e939b3b9",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "fieldToSplitOut": "output.levels",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -1744,
          -112
        ],
        "id": "3ad6f78c-d30c-4d13-9776-33bdfadb2b0c",
        "name": "Split Out"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1456,
          -112
        ],
        "id": "60f3f8cb-24f2-493f-a589-e1584007d221",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8f1dbc75-9144-4fae-8cad-5a4c50962603",
                "name": "script",
                "value": "={{ $json.content }}",
                "type": "string"
              },
              {
                "id": "e1e8d4f5-fe71-410a-a145-fafff15e92b2",
                "name": "level_number",
                "value": "={{ $json.level_number }}",
                "type": "number"
              },
              {
                "id": "d6c3a4b1-8e0d-40c2-9259-7eee640d355d",
                "name": "Title",
                "value": "={{ $json.title }}",
                "type": "string"
              },
              {
                "id": "d9a4ae6a-5921-455e-ba6e-211de4b6174b",
                "name": "Base ID",
                "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
                "type": "string"
              },
              {
                "id": "9514ce15-317a-40f6-bc98-b276f8325f65",
                "name": "Worker Sheet ID",
                "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
                "type": "string"
              },
              {
                "id": "7bcc4ae5-bcdb-4fb1-849f-9b6577789a34",
                "name": "Character Reference URL",
                "value": "={{ $('When Executed by Another Workflow').first().json['Character Reference URL'] }}",
                "type": "string"
              },
              {
                "id": "45814488-27ba-4e5a-b4d3-458a75088eaa",
                "name": "Storage Bucket",
                "value": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
                "type": "string"
              },
              {
                "id": "6508af4c-0097-4a4d-8013-79ec9b8a340c",
                "name": "Videos Path",
                "value": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}",
                "type": "string"
              },
              {
                "id": "1fc6cd55-b1f8-4598-82cc-05a7463066b3",
                "name": "fields['Video Title']",
                "value": "={{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1136,
          432
        ],
        "id": "3adcfaba-5c29-466e-bf45-77f08d85a731",
        "name": "Chunk Settings"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "search",
          "workspaceId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "projectId": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
            "mode": "id"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 4,
        "position": [
          -896,
          432
        ],
        "id": "a38f50da-4da0-41a3-a4c5-98cd9db49ff5",
        "name": "Ping Worker Status",
        "credentials": {
          "nocoDbApiToken": {
            "id": "1gvRq0BbKFPkQsOh",
            "name": "NocoDB Token account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "83229cac-306b-4c76-b644-757ac86894a5",
                "leftValue": "={{ $json.fields['Worker Status'] }}",
                "rightValue": "Ready",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -656,
          432
        ],
        "id": "f72a2724-74be-40a0-a423-4c7f86c3e184",
        "name": "If"
      },
      {
        "parameters": {
          "amount": 20
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -256,
          608
        ],
        "id": "91e0277a-a99c-4de4-a82a-7bb11b63adfe",
        "name": "Wait",
        "webhookId": "4c285fd2-f18c-4da1-9a86-bd6fe0110bcd"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "oKcy6HGCCMQOaouA",
            "mode": "id",
            "cachedResultUrl": "/workflow/oKcy6HGCCMQOaouA"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          240,
          720
        ],
        "id": "8e0947ea-e3fb-4ab9-add0-4b79d491fbbb",
        "name": "Call 'Chunk Subworkflow'"
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          16,
          256
        ],
        "id": "b23732c6-a2c7-4d1a-9735-0fdcbd2fd6dc",
        "name": "Merge"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "workspaceId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "projectId": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
            "mode": "id"
          },
          "id": "={{ $json.id }}",
          "fieldsMapper": {
            "mappingMode": "defineBelow",
            "value": {
              "Worker Status": "Processing"
            },
            "matchingColumns": [
              "Worker Status"
            ],
            "schema": [
              {
                "id": "Worker Status",
                "displayName": "Worker Status",
                "type": "string",
                "display": true,
                "defaultMatch": false,
                "readOnly": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 4,
        "position": [
          -304,
          256
        ],
        "id": "8ce897ab-3c34-432e-b2f6-b1c0ee62cbcd",
        "name": "Change Worker Status to Processing",
        "credentials": {
          "nocoDbApiToken": {
            "id": "1gvRq0BbKFPkQsOh",
            "name": "NocoDB Token account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -1200,
          -112
        ],
        "id": "907d01cf-9cac-4460-b0e4-596b3bed84cf",
        "name": "Limit"
      },
      {
        "parameters": {
          "jsCode": "// Inputs on incoming item:\n//   \"Chunk Path\"   -> base URL ending in \"chunk_\" (e.g. .../chunks/chunk_)\n//   \"Chunk Amount\" -> number of chunks (e.g. 8)\n\nconst CHUNK_START_INDEX = 1; // set to 0 if your chunks are 0-indexed\n\nconst item = $input.first().json;\n\nconst chunkPath = item['Chunk Path'];\nconst chunkAmount = Number(item['Chunk Amount']);\n\nif (!chunkPath) {\n  throw new Error('Missing \"Chunk Path\" input.');\n}\nif (!chunkAmount || chunkAmount < 1) {\n  throw new Error('\"Chunk Amount\" must be a number >= 1.');\n}\n\nconst video_urls = [];\nfor (let i = CHUNK_START_INDEX; i < CHUNK_START_INDEX + chunkAmount; i++) {\n  video_urls.push({ video_url: `${chunkPath}${i}.mp4` });\n}\n\nconst payload = {\n  video_urls,\n  id: `concat_${Date.now()}`\n};\n\nreturn [{ json: payload }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -128,
          -544
        ],
        "id": "392541e0-da7c-4bdd-b233-2445c7d161cd",
        "name": "Create NCA Toolkit Body"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e10fd273-ddea-4f80-9c99-00d293cde494",
                "name": "Chunk Path",
                "value": "=https://minio-api.n8ntypespectrum.cfd/{{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}/{{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_",
                "type": "string"
              },
              {
                "id": "9377ed83-066d-4e7c-8464-13dcdba91573",
                "name": "=Chunk Amount",
                "value": "={{ $json.level }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -304,
          -544
        ],
        "id": "4df689cb-9f24-4753-8566-3cdc77ae3bca",
        "name": "Prepare Render Input for Chunk"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://nca.n8ntypespectrum.cfd/v1/video/concantenate",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          64,
          -544
        ],
        "id": "439250cf-4f39-4431-971a-c76c8fd6bebe",
        "name": "Render Chunk",
        "credentials": {
          "httpHeaderAuth": {
            "id": "zFJo8K2PEmO7Ziev",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.response[0].file_url.replace(/^https?:\\/\\/minio:9000\\/?/, 'https://minio-api.n8ntypespectrum.cfd/') }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          256,
          -544
        ],
        "id": "caf7d0aa-d665-4a3f-8112-61eb9b89a250",
        "name": "Download Chunk",
        "credentials": {
          "httpHeaderAuth": {
            "id": "zFJo8K2PEmO7Ziev",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "workspaceId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "projectId": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Channel Sheet ID'] }}",
            "mode": "id"
          },
          "id": "={{ $('When Executed by Another Workflow').first().json.id }}",
          "fieldsMapper": {
            "mappingMode": "defineBelow",
            "value": {
              "Worker Status": "=Done at {{ $now }}"
            },
            "matchingColumns": [
              "Worker Status"
            ],
            "schema": [
              {
                "id": "Worker Status",
                "displayName": "Worker Status",
                "type": "string",
                "display": true,
                "defaultMatch": false,
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 4,
        "position": [
          704,
          -544
        ],
        "id": "d5ee13e2-4b79-407f-8214-e092d261c36c",
        "name": "Update a row",
        "credentials": {
          "nocoDbApiToken": {
            "id": "1gvRq0BbKFPkQsOh",
            "name": "NocoDB Token account"
          }
        }
      },
      {
        "parameters": {
          "keep": "lastItems"
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -1040,
          -560
        ],
        "id": "3a5525fc-61fc-4df6-a9e5-15888ac8acf2",
        "name": "Limit1"
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -512,
          -544
        ],
        "id": "7adbf552-7b16-48f5-855d-7584d0427fcc",
        "name": "Merge1"
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
          "fileName": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}.mp4",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          448,
          -544
        ],
        "id": "82f1f1ee-af9d-4dec-9222-91cc0082c061",
        "name": "Upload Final Video",
        "retryOnFail": false,
        "credentials": {
          "s3": {
            "id": "lMpFToUlFsGHfghm",
            "name": "S3 account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -496,
          160
        ],
        "id": "006df79b-0c1a-4095-bf61-276ecd8ae3a6",
        "name": "Chunk Settings2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -432,
          496
        ],
        "id": "0d00e14a-9fae-45fa-aa70-5082633b027c",
        "name": "Limit2"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "search",
          "workspaceId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "projectId": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
            "mode": "id"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 4,
        "position": [
          -960,
          -320
        ],
        "id": "33b45230-da78-4d0e-8edd-7d936c9f0fe8",
        "name": "Ping Worker Status1",
        "credentials": {
          "nocoDbApiToken": {
            "id": "1gvRq0BbKFPkQsOh",
            "name": "NocoDB Token account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "83229cac-306b-4c76-b644-757ac86894a5",
                "leftValue": "={{ JSON.stringify($json.data) }}",
                "rightValue": "Processing",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -496,
          -320
        ],
        "id": "c2461ef2-9132-4f5a-b14b-501b4df95860",
        "name": "If1"
      },
      {
        "parameters": {
          "amount": 20
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -48,
          -320
        ],
        "id": "4c5b4ba3-0c72-4b77-b8e5-b5b061bfbb4a",
        "name": "Wait1",
        "webhookId": "4c285fd2-f18c-4da1-9a86-bd6fe0110bcd"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -256,
          -320
        ],
        "id": "733f8133-c932-48d7-b7ed-1fb5467ac0a5",
        "name": "Limit3"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -704,
          -320
        ],
        "id": "35d6449d-7abe-41f3-b757-adb7575fc091",
        "name": "Aggregate"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Chunk Settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            },
            {
              "node": "Limit1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chunk Settings": {
        "main": [
          [
            {
              "node": "Ping Worker Status",
              "type": "main",
              "index": 0
            },
            {
              "node": "Chunk Settings2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ping Worker Status": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Chunk Settings2",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Limit2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Ping Worker Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Chunk Subworkflow'": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Call 'Chunk Subworkflow'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Change Worker Status to Processing": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Ping Worker Status1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create NCA Toolkit Body": {
        "main": [
          [
            {
              "node": "Render Chunk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Render Input for Chunk": {
        "main": [
          [
            {
              "node": "Create NCA Toolkit Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Render Chunk": {
        "main": [
          [
            {
              "node": "Download Chunk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Chunk": {
        "main": [
          [
            {
              "node": "Upload Final Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Prepare Render Input for Chunk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Final Video": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chunk Settings2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Change Worker Status to Processing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit2": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ping Worker Status1": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Limit3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Ping Worker Status1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit3": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carmelo Iglesias",
    "name": "Version ae2071b3",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "ae2071b3-0a25-448a-9231-907dc99e1a5f",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chunk Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Settings": {
      "main": [
        [
          {
            "node": "Ping Worker Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chunk Settings2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Worker Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Chunk Settings2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Ping Worker Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Chunk Subworkflow'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Call 'Chunk Subworkflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Worker Status to Processing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Ping Worker Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create NCA Toolkit Body": {
      "main": [
        [
          {
            "node": "Render Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Render Input for Chunk": {
      "main": [
        [
          {
            "node": "Create NCA Toolkit Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Chunk": {
      "main": [
        [
          {
            "node": "Download Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Chunk": {
      "main": [
        [
          {
            "node": "Upload Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Prepare Render Input for Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Final Video": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Settings2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Change Worker Status to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Worker Status1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Ping Worker Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-22T03:50:22.802Z",
  "id": "EB6ZxVBh9wX1Dixp",
  "isArchived": false,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "name": "Video Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1968,
        -96
      ],
      "id": "97407ac6-7d3d-4310-a69e-ad38e939b3b9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.levels",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1744,
        -112
      ],
      "id": "3ad6f78c-d30c-4d13-9776-33bdfadb2b0c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1456,
        -112
      ],
      "id": "60f3f8cb-24f2-493f-a589-e1584007d221",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f1dbc75-9144-4fae-8cad-5a4c50962603",
              "name": "script",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "e1e8d4f5-fe71-410a-a145-fafff15e92b2",
              "name": "level_number",
              "value": "={{ $json.level_number }}",
              "type": "number"
            },
            {
              "id": "d6c3a4b1-8e0d-40c2-9259-7eee640d355d",
              "name": "Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "d9a4ae6a-5921-455e-ba6e-211de4b6174b",
              "name": "Base ID",
              "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
              "type": "string"
            },
            {
              "id": "9514ce15-317a-40f6-bc98-b276f8325f65",
              "name": "Worker Sheet ID",
              "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
              "type": "string"
            },
            {
              "id": "7bcc4ae5-bcdb-4fb1-849f-9b6577789a34",
              "name": "Character Reference URL",
              "value": "={{ $('When Executed by Another Workflow').first().json['Character Reference URL'] }}",
              "type": "string"
            },
            {
              "id": "45814488-27ba-4e5a-b4d3-458a75088eaa",
              "name": "Storage Bucket",
              "value": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
              "type": "string"
            },
            {
              "id": "6508af4c-0097-4a4d-8013-79ec9b8a340c",
              "name": "Videos Path",
              "value": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}",
              "type": "string"
            },
            {
              "id": "1fc6cd55-b1f8-4598-82cc-05a7463066b3",
              "name": "fields['Video Title']",
              "value": "={{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        432
      ],
      "id": "3adcfaba-5c29-466e-bf45-77f08d85a731",
      "name": "Chunk Settings"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "search",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -896,
        432
      ],
      "id": "a38f50da-4da0-41a3-a4c5-98cd9db49ff5",
      "name": "Ping Worker Status",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "83229cac-306b-4c76-b644-757ac86894a5",
              "leftValue": "={{ $json.fields['Worker Status'] }}",
              "rightValue": "Ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        432
      ],
      "id": "f72a2724-74be-40a0-a423-4c7f86c3e184",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -256,
        608
      ],
      "id": "91e0277a-a99c-4de4-a82a-7bb11b63adfe",
      "name": "Wait",
      "webhookId": "4c285fd2-f18c-4da1-9a86-bd6fe0110bcd"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oKcy6HGCCMQOaouA",
          "mode": "id",
          "cachedResultUrl": "/workflow/oKcy6HGCCMQOaouA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        720
      ],
      "id": "8e0947ea-e3fb-4ab9-add0-4b79d491fbbb",
      "name": "Call 'Chunk Subworkflow'"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        256
      ],
      "id": "b23732c6-a2c7-4d1a-9735-0fdcbd2fd6dc",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
          "mode": "id"
        },
        "id": "={{ $json.id }}",
        "fieldsMapper": {
          "mappingMode": "defineBelow",
          "value": {
            "Worker Status": "Processing"
          },
          "matchingColumns": [
            "Worker Status"
          ],
          "schema": [
            {
              "id": "Worker Status",
              "displayName": "Worker Status",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -304,
        256
      ],
      "id": "8ce897ab-3c34-432e-b2f6-b1c0ee62cbcd",
      "name": "Change Worker Status to Processing",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1200,
        -112
      ],
      "id": "907d01cf-9cac-4460-b0e4-596b3bed84cf",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// Inputs on incoming item:\n//   \"Chunk Path\"   -> base URL ending in \"chunk_\" (e.g. .../chunks/chunk_)\n//   \"Chunk Amount\" -> number of chunks (e.g. 8)\n\nconst CHUNK_START_INDEX = 1; // set to 0 if your chunks are 0-indexed\n\nconst item = $input.first().json;\n\nconst chunkPath = item['Chunk Path'];\nconst chunkAmount = Number(item['Chunk Amount']);\n\nif (!chunkPath) {\n  throw new Error('Missing \"Chunk Path\" input.');\n}\nif (!chunkAmount || chunkAmount < 1) {\n  throw new Error('\"Chunk Amount\" must be a number >= 1.');\n}\n\nconst video_urls = [];\nfor (let i = CHUNK_START_INDEX; i < CHUNK_START_INDEX + chunkAmount; i++) {\n  video_urls.push({ video_url: `${chunkPath}${i}.mp4` });\n}\n\nconst payload = {\n  video_urls,\n  id: `concat_${Date.now()}`\n};\n\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -544
      ],
      "id": "392541e0-da7c-4bdd-b233-2445c7d161cd",
      "name": "Create NCA Toolkit Body"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e10fd273-ddea-4f80-9c99-00d293cde494",
              "name": "Chunk Path",
              "value": "=https://minio-api.n8ntypespectrum.cfd/{{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}/{{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_",
              "type": "string"
            },
            {
              "id": "9377ed83-066d-4e7c-8464-13dcdba91573",
              "name": "=Chunk Amount",
              "value": "={{ $json.level_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -544
      ],
      "id": "4df689cb-9f24-4753-8566-3cdc77ae3bca",
      "name": "Prepare Render Input for Chunk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nca.n8ntypespectrum.cfd/v1/video/concantenate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        -544
      ],
      "id": "439250cf-4f39-4431-971a-c76c8fd6bebe",
      "name": "Render Chunk",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zFJo8K2PEmO7Ziev",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.response[0].file_url.replace(/^https?:\\/\\/minio:9000\\/?/, 'https://minio-api.n8ntypespectrum.cfd/') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        -544
      ],
      "id": "caf7d0aa-d665-4a3f-8112-61eb9b89a250",
      "name": "Download Chunk",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zFJo8K2PEmO7Ziev",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Channel Sheet ID'] }}",
          "mode": "id"
        },
        "id": "={{ $('When Executed by Another Workflow').first().json.id }}",
        "fieldsMapper": {
          "mappingMode": "defineBelow",
          "value": {
            "Worker Status": "=Done at {{ $now }}"
          },
          "matchingColumns": [
            "Worker Status"
          ],
          "schema": [
            {
              "id": "Worker Status",
              "displayName": "Worker Status",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        704,
        -544
      ],
      "id": "d5ee13e2-4b79-407f-8214-e092d261c36c",
      "name": "Update a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1040,
        -560
      ],
      "id": "3a5525fc-61fc-4df6-a9e5-15888ac8acf2",
      "name": "Limit1"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -512,
        -544
      ],
      "id": "7adbf552-7b16-48f5-855d-7584d0427fcc",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
        "fileName": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}.mp4",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        448,
        -544
      ],
      "id": "82f1f1ee-af9d-4dec-9222-91cc0082c061",
      "name": "Upload Final Video",
      "retryOnFail": false,
      "credentials": {
        "s3": {
          "id": "lMpFToUlFsGHfghm",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -496,
        160
      ],
      "id": "006df79b-0c1a-4095-bf61-276ecd8ae3a6",
      "name": "Chunk Settings2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -432,
        496
      ],
      "id": "0d00e14a-9fae-45fa-aa70-5082633b027c",
      "name": "Limit2"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "search",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -960,
        -320
      ],
      "id": "33b45230-da78-4d0e-8edd-7d936c9f0fe8",
      "name": "Ping Worker Status1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "83229cac-306b-4c76-b644-757ac86894a5",
              "leftValue": "={{ JSON.stringify($json.data) }}",
              "rightValue": "Processing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        -320
      ],
      "id": "c2461ef2-9132-4f5a-b14b-501b4df95860",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -48,
        -320
      ],
      "id": "4c5b4ba3-0c72-4b77-b8e5-b5b061bfbb4a",
      "name": "Wait1",
      "webhookId": "4c285fd2-f18c-4da1-9a86-bd6fe0110bcd"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -256,
        -320
      ],
      "id": "733f8133-c932-48d7-b7ed-1fb5467ac0a5",
      "name": "Limit3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -704,
        -320
      ],
      "id": "35d6449d-7abe-41f3-b757-adb7575fc091",
      "name": "Aggregate"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Base ID": "p3l64neoyynn30b",
          "Channel Sheet ID": "m5s88g69xzb08wl",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guy-channel/videos",
          "output": {
            "levels": [
              {
                "level_number": 1,
                "title": "The Walk-in",
                "content": "You are sitting in a grey, windowless room in a Boring, Virginia office park. There is no agency seal on the wall. There is only a laminated sign that says \"HR Recruitment\" and a clock that ticks with a heavy, mechanical thud. You have already passed the polygraph—four hours of sweating under a fluorescent light while a technician in a short-sleeved shirt asked if you had ever betrayed your country, or if you intended to. You have passed the psych eval, where a woman with a soft voice tried to find the exact crack in your childhood where a secret could be planted.\n\nNow, you are being handed a blue folder. Inside is a non-disclosure agreement that carries the weight of a federal prison sentence. You sign it. The recruiter doesn't shake your hand; he simply takes the pen and tells you to go to a parking lot in a suburb you've never heard of at 0400 hours. This is the \"Walk-in\" phase. You are a GS-7, a probationary trainee. You are nothing. You tell your parents you got a job in \"logistics consulting.\" You tell your girlfriend the hours will be long, but the benefits are good. You are already lying, and the most frightening part is how easy the first lie feels. It tastes like copper in the back of your throat. You go home, pack a bag with no logos, no labels, and no electronics, and you wait for the sun to go down for the last time as a private citizen.",
                "word_count": 218
              },
              {
                "level_number": 2,
                "title": "The Farmhand",
                "content": "Level two, the Trainee at Camp Peary. You are standing in the mud in the middle of a swampy stretch of Virginia woods. They call this \"The Farm.\" For the next six months, you are not a person; you are a set of skills being forcefully uploaded into a biological machine. You spend fourteen hours a day learning \"The Trade.\" You learn how to drive a car at sixty miles per hour in reverse, slamming the J-turn until your neck snaps back and your teeth rattle. You learn how to pick a five-pin tumbler lock with a tension wrench and a rake in under thirty seconds while wearing heavy gloves.\n\nYou learn the \"Paramilitary\" side—the side the analysts at Langley pretend doesn't exist. You crawl through cold water with an M4 carbine, learning to transition to a sidearm without thinking. You learn the \"bump\"—how to accidentally collide with a target in a crowded marketplace to plant a tracking device or lift a wallet. Your instructors are men with no last names and eyes that never seem to blink. They push you until you vomit, then make you recite your cover story while you're cleaning the floor. By the end of Level Two, you have a new name, a new history, and a new face. You look in the mirror and realize you don't remember what you used to talk about at dinner parties. All you can think about is the \"dead drop\" you have to service at midnight without being spotted by the instructors playing the role of hostile surveillance.",
                "word_count": 222
              },
              {
                "level_number": 3,
                "title": "The Case Officer",
                "content": "Level three, the Junior Case Officer. You are assigned to a \"denied area\" station, perhaps in Eastern Europe or Southeast Asia. You are officially a \"Political Attaché\" at the Embassy. You spend your days reading boring cables about trade wheat prices, but your real work begins after dark. You are a \"Streetman.\" Your job is to find people with access—foreign generals, disgruntled scientists, mid-level bureaucrats—and turn them.\n\nYou learn the cycle: Spotting, Assessing, Developing, Recruiting. You spend months befriending a lonely colonel over drinks, listening to him complain about his wife and his lack of a promotion. You are his best friend, his confessor, his psychiatrist. And then, one night, you pivot. You show him the photos of his gambling debts, or you offer him the money that will send his daughter to a university in the West. You watch the moment his soul breaks. You watch him realize he is now a traitor. You feel a surge of power, followed immediately by a cold, hollow sensation. You have just destroyed a man's life to gain a window into a ministry you don't even care about. You go back to your apartment, sweep for bugs, and sleep with a 9mm under your pillow. You are twenty-six years old, and you have forgotten how to trust a smile.",
                "word_count": 205
              },
              {
                "level_number": 4,
                "title": "The Ground Branch Operative",
                "content": "Level four, the Paramilitary Operations Officer. The suit and the embassy parties are gone. You have moved from the Directorate of Operations to the Special Activities Center (SAC), specifically Ground Branch. You are no longer convincing people to talk; you are the scalpel used when talking has failed. You are deployed to a \"black site\" or a concealed firebase in a country the U.S. denies being in. You wear local clothes, grow a thick, dusty beard, and carry \"sterile\" weapons—firearms with no serial numbers, manufactured in factories that don't officially exist.\n\nYour life is defined by the \"HVI\"—High Value Individual. You spend weeks living in the dirt, watching a compound through a long-range thermal lens. You eat cold rations and piss into a bottle. When the \"Go\" order comes, it's a blur of suppressed gunfire and infrared strobes. You enter a room, clear the corners, and see the target. You don't read him his rights. You bag him, zip-tie his wrists, and drag him to a waiting helicopter that has no markings. You are the shadow in the night. The adrenaline is the only thing that makes you feel alive now. The \"consulting\" job you told your family about has become a series of \"extended business trips\" to places you can't name. You miss birthdays, funerals, and anniversaries. You are becoming a ghost.",
                "word_count": 209
              },
              {
                "level_number": 5,
                "title": "The Chief of Base",
                "content": "Level five, the Chief of Base (COB). You have been promoted out of the mud and back into the shadows, but this time, you are the one holding the leash. You run a small, undeclared outpost in a high-threat environment. You move from the tactical to the visceral. You are responsible for a team of six operatives and twenty local assets. Every morning, you wake up knowing that if one of your assets is caught, they will be tortured and executed on camera. You have to decide if the intelligence they are providing is worth their life.\n\nYou become a master of \"disposable human beings.\" You sit in a darkened room, looking at satellite feeds, directing men into harm's way via encrypted radio. When an operation goes \"kinetic\"—when the gunfire starts and the local police start closing in—you are the one who has to decide whether to send a rescue team and risk a diplomatic nightmare or to \"burn\" the team and cut ties. You learn to speak in euphemisms. You don't say \"kill\"; you say \"neutralize.\" You don't say \"betray\"; you say \"terminate the relationship.\" You have a direct line to the Seventh Floor at Langley, and you realize that your primary job isn't to win; it's to provide \"plausible deniability\" for the people above you.",
                "word_count": 205
              },
              {
                "level_number": 6,
                "title": "The Echo Archer",
                "content": "Level six, the Targeted Killing Program Manager. You are back at Headquarters, but you don't work in the main building. You work in a SCIF (Sensitive Compartmented Information Facility) three stories underground. You are part of the \"Clean-up Crew.\" Your world is a grid of coordinates and a screen filled with the grainy, grey-and-white feed of a Predator drone orbiting five miles above a village you couldn't find on a map two years ago.\n\nYou are the \"Echo Archer.\" You hold the \"Kill Chain.\" You spend your days staring at a man's life from the air. You see him play with his children. You see him eat dinner. You wait for him to step away from the crowd, to walk into an open field or a lonely road. You are the judge, the jury, and the silent executioner. When it's time, you don't pull a trigger; you click a mouse. There is a silent flash on the screen, a delay of few seconds, and then the plume of dust. You watch the heat signatures fade from white to grey as the bodies cool. Then you stand up, badge out of the turnstile, and drive home through Virginia traffic. You stop at a grocery store to buy milk, looking at the people around you, wondering how they would react if they knew you just ended a life before your morning coffee.",
                "word_count": 210
              },
              {
                "level_number": 7,
                "title": "The Chief of Station",
                "content": "Level seven, the Chief of Station (COS). You are the king of your own secret country. You are the senior-most agency official in a major foreign capital. You are the shadow ambassador. You meet with heads of state in the middle of the night. You handle the \"special channel\"—the messages that the State Department isn't allowed to see. You are no longer just an operative; you are a politician of the dark.\n\nYou manage a budget of tens of millions of dollars in \"black funds\"—cash that leaves no paper trail, used to buy elections, fund insurgencies, or bribe foreign kings. You realize that the \"National Interest\" is a flexible concept. You have seen regimes you helped build crumble, and you have seen monsters you funded become allies. You are exhausted. The weight of the secrets you carry has physically changed you. You have a tremor in your hand that you hide by gripping your coffee mug tightly. You realize that you have spent thirty years manipulating the world, and yet, the world seems more broken than when you started. You have achieved total power in the shadows, but you have no one to share it with. Your first wife left you a decade ago. Your children call you by your first name. You are a vault filled with gold that no one is allowed to spend.",
                "word_count": 208
              },
              {
                "level_number": 8,
                "title": "The Seventh Floor",
                "content": "Level eight, the Deputy Director for Operations. You are one of the \"Princes of Langley.\" You sit in an office with mahogany furniture and a view of the woods. You are the bridge between the secret world and the white world of the White House. You spend your days in the Situation Room, briefing the President. You have mastered the art of \"Strategic Ambiguity.\" You tell the truth, but never the whole truth.\n\nYou are now the architect of the very cycles you once lived through. You authorize the \"Walk-ins,\" knowing most will fail. You approve the \"Farm\" curriculum, knowing it will break the trainees. You sign the \"Finding\"—the presidential authorization for covert action—that will send young men to die in deserts for goals that will be obsolete in five years. You see the entire board now. You realize that the Black Ops world isn't about winning a war; it's about managing the chaos of a planet that is constantly trying to tear itself apart. You are the gardener of a forest of thorns. You feel nothing when you hear of a casualty. You only feel a slight irritation at the paperwork it will require.",
                "word_count": 183
              },
              {
                "level_number": 9,
                "title": "The Asset",
                "content": "Level nine, the Retiree. You are sixty-five years old. You are sitting on a porch in a quiet town in North Carolina. You have a pension and a medal you can never show anyone. You have a \"handler\" who calls you once a month just to check in—not because they care, but because they need to know if your mind is starting to go. You are the greatest threat to the organization now, because you remember everything.\n\nYou watch the news and see a coup in a country you used to live in. You see a familiar face in the background of a press conference—a man you recruited thirty years ago, now a gray-haired dictator. You realize you are the only person on earth who knows why he is there. You feel a sudden, sharp pang of irrelevance. The world is moving on, fueled by new secrets, new lies, and new young men in grey rooms. You look at your hands and see the scars from The Farm, the callouses from the M4, the wedding ring from a marriage that didn't survive the \"logistics consulting\" job. You are a library of ghosts.",
                "word_count": 183
              },
              {
                "level_number": 10,
                "title": "The Recruiter",
                "content": "Level ten, the Final Cycle. You are back in a boring, windowless room in an office park in Virginia. You are no longer the one in the chair; you are the one behind the desk. You are the Recruiter. Across from you sits a young man, twenty-two years old, with bright eyes and a resume full of potential. He wants to serve his country. He wants adventure. He wants to matter.\n\nYou look at him, and for a split second, you see yourself thirty-five years ago. You could tell him. You could tell him about the hollow feeling in the grocery store, the sound of the drone strike, the faces of the men you betrayed. You could tell him that he will lose his name and his soul in exchange for a front-row seat to the end of the world.\n\nInstead, you open a blue folder. You push it across the desk toward him. You hand him a pen.\n\n\"Sign here,\" you say, your voice flat and professional. \"And welcome to the team.\"",
                "word_count": 168
              }
            ]
          },
          "id": "1",
          "fields": {
            "Video Title": "Your_Life_as_Every_CIA_Black_Ops_Rank"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8nmanamagementserver",
  "repo_owner": "typespectrum-dev",
  "repo_path": "workflows/n8n-second/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2026-06-22T03:50:22.802Z",
      "createdAt": "2026-06-22T03:50:22.802Z",
      "role": "workflow:owner",
      "workflowId": "EB6ZxVBh9wX1Dixp",
      "projectId": "CBMgvnupThQ6ZdzY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-10T05:11:00.275Z",
  "versionId": "815e1fcb-1e0a-4a80-a3a4-2d8dc332746a"
}