2026/06/EB6ZxVBh9wX1Dixp.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-30T04:45:01.025Z",
    "createdAt": "2026-06-30T04:41:56.480Z",
    "versionId": "02eb298e-ae68-47a7-ab98-7ebda0993506",
    "workflowId": "EB6ZxVBh9wX1Dixp",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1888,
          -48
        ],
        "id": "97407ac6-7d3d-4310-a69e-ad38e939b3b9",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "fieldToSplitOut": "output.levels",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -1680,
          -48
        ],
        "id": "3ad6f78c-d30c-4d13-9776-33bdfadb2b0c",
        "name": "Split Out"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1472,
          -48
        ],
        "id": "60f3f8cb-24f2-493f-a589-e1584007d221",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8f1dbc75-9144-4fae-8cad-5a4c50962603",
                "name": "script",
                "value": "={{ $json.content }}",
                "type": "string"
              },
              {
                "id": "e1e8d4f5-fe71-410a-a145-fafff15e92b2",
                "name": "level_number",
                "value": "={{ $json.level_number }}",
                "type": "number"
              },
              {
                "id": "d6c3a4b1-8e0d-40c2-9259-7eee640d355d",
                "name": "Title",
                "value": "={{ $json.title }}",
                "type": "string"
              },
              {
                "id": "d9a4ae6a-5921-455e-ba6e-211de4b6174b",
                "name": "Base ID",
                "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
                "type": "string"
              },
              {
                "id": "9514ce15-317a-40f6-bc98-b276f8325f65",
                "name": "Worker Sheet ID",
                "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
                "type": "string"
              },
              {
                "id": "7bcc4ae5-bcdb-4fb1-849f-9b6577789a34",
                "name": "Character Reference URL",
                "value": "={{ $('When Executed by Another Workflow').first().json['Character Reference URL'] }}",
                "type": "string"
              },
              {
                "id": "45814488-27ba-4e5a-b4d3-458a75088eaa",
                "name": "Storage Bucket",
                "value": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
                "type": "string"
              },
              {
                "id": "6508af4c-0097-4a4d-8013-79ec9b8a340c",
                "name": "Videos Path",
                "value": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}",
                "type": "string"
              },
              {
                "id": "1fc6cd55-b1f8-4598-82cc-05a7463066b3",
                "name": "fields['Video Title']",
                "value": "={{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1168,
          -16
        ],
        "id": "3adcfaba-5c29-466e-bf45-77f08d85a731",
        "name": "Chunk Settings"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "search",
          "workspaceId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "projectId": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
            "mode": "id"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 4,
        "position": [
          -928,
          -16
        ],
        "id": "a38f50da-4da0-41a3-a4c5-98cd9db49ff5",
        "name": "Ping Worker Status",
        "credentials": {
          "nocoDbApiToken": {
            "id": "1gvRq0BbKFPkQsOh",
            "name": "NocoDB Token account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "83229cac-306b-4c76-b644-757ac86894a5",
                "leftValue": "={{ $json.fields['Worker Status'] }}",
                "rightValue": "Ready",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -720,
          -16
        ],
        "id": "f72a2724-74be-40a0-a423-4c7f86c3e184",
        "name": "If"
      },
      {
        "parameters": {
          "amount": 20
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -512,
          192
        ],
        "id": "91e0277a-a99c-4de4-a82a-7bb11b63adfe",
        "name": "Wait",
        "webhookId": "4c285fd2-f18c-4da1-9a86-bd6fe0110bcd"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "oKcy6HGCCMQOaouA",
            "mode": "id",
            "cachedResultUrl": "/workflow/oKcy6HGCCMQOaouA"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -432,
          -336
        ],
        "id": "8e0947ea-e3fb-4ab9-add0-4b79d491fbbb",
        "name": "Call 'Chunk Subworkflow'"
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -256,
          -48
        ],
        "id": "b23732c6-a2c7-4d1a-9735-0fdcbd2fd6dc",
        "name": "Merge"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "workspaceId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "projectId": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
            "mode": "id"
          },
          "id": "={{ $json.id }}",
          "fieldsMapper": {
            "mappingMode": "defineBelow",
            "value": {
              "Worker Status": "Processing"
            },
            "matchingColumns": [
              "Worker Status"
            ],
            "schema": [
              {
                "id": "Worker Status",
                "displayName": "Worker Status",
                "type": "string",
                "display": true,
                "defaultMatch": false,
                "readOnly": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 4,
        "position": [
          -496,
          -32
        ],
        "id": "8ce897ab-3c34-432e-b2f6-b1c0ee62cbcd",
        "name": "Change Worker Status to Processing",
        "credentials": {
          "nocoDbApiToken": {
            "id": "1gvRq0BbKFPkQsOh",
            "name": "NocoDB Token account"
          }
        }
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -608,
          -336
        ],
        "id": "006df79b-0c1a-4095-bf61-276ecd8ae3a6",
        "name": "Chunk Settings1"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Chunk Settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chunk Settings": {
        "main": [
          [
            {
              "node": "Ping Worker Status",
              "type": "main",
              "index": 0
            },
            {
              "node": "Chunk Settings1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ping Worker Status": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Change Worker Status to Processing",
              "type": "main",
              "index": 0
            },
            {
              "node": "Chunk Settings1",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Ping Worker Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Chunk Subworkflow'": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Change Worker Status to Processing": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Chunk Settings1": {
        "main": [
          [
            {
              "node": "Call 'Chunk Subworkflow'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carmelo Iglesias",
    "name": "Version 02eb298e",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "02eb298e-ae68-47a7-ab98-7ebda0993506",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Chunk Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Settings": {
      "main": [
        [
          {
            "node": "Ping Worker Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chunk Settings1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Worker Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Change Worker Status to Processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chunk Settings1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Ping Worker Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Chunk Subworkflow'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Worker Status to Processing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chunk Settings1": {
      "main": [
        [
          {
            "node": "Call 'Chunk Subworkflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-22T03:50:22.802Z",
  "id": "EB6ZxVBh9wX1Dixp",
  "isArchived": false,
  "meta": null,
  "name": "Video Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1888,
        -48
      ],
      "id": "97407ac6-7d3d-4310-a69e-ad38e939b3b9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.levels",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1680,
        -48
      ],
      "id": "3ad6f78c-d30c-4d13-9776-33bdfadb2b0c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1472,
        -48
      ],
      "id": "60f3f8cb-24f2-493f-a589-e1584007d221",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f1dbc75-9144-4fae-8cad-5a4c50962603",
              "name": "script",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "e1e8d4f5-fe71-410a-a145-fafff15e92b2",
              "name": "level_number",
              "value": "={{ $json.level_number }}",
              "type": "number"
            },
            {
              "id": "d6c3a4b1-8e0d-40c2-9259-7eee640d355d",
              "name": "Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "d9a4ae6a-5921-455e-ba6e-211de4b6174b",
              "name": "Base ID",
              "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
              "type": "string"
            },
            {
              "id": "9514ce15-317a-40f6-bc98-b276f8325f65",
              "name": "Worker Sheet ID",
              "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
              "type": "string"
            },
            {
              "id": "7bcc4ae5-bcdb-4fb1-849f-9b6577789a34",
              "name": "Character Reference URL",
              "value": "={{ $('When Executed by Another Workflow').first().json['Character Reference URL'] }}",
              "type": "string"
            },
            {
              "id": "45814488-27ba-4e5a-b4d3-458a75088eaa",
              "name": "Storage Bucket",
              "value": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
              "type": "string"
            },
            {
              "id": "6508af4c-0097-4a4d-8013-79ec9b8a340c",
              "name": "Videos Path",
              "value": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}",
              "type": "string"
            },
            {
              "id": "1fc6cd55-b1f8-4598-82cc-05a7463066b3",
              "name": "fields['Video Title']",
              "value": "={{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        -16
      ],
      "id": "3adcfaba-5c29-466e-bf45-77f08d85a731",
      "name": "Chunk Settings"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "search",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -928,
        -16
      ],
      "id": "a38f50da-4da0-41a3-a4c5-98cd9db49ff5",
      "name": "Ping Worker Status",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "83229cac-306b-4c76-b644-757ac86894a5",
              "leftValue": "={{ $json.fields['Worker Status'] }}",
              "rightValue": "Ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -720,
        -16
      ],
      "id": "f72a2724-74be-40a0-a423-4c7f86c3e184",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -512,
        192
      ],
      "id": "91e0277a-a99c-4de4-a82a-7bb11b63adfe",
      "name": "Wait",
      "webhookId": "4c285fd2-f18c-4da1-9a86-bd6fe0110bcd"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oKcy6HGCCMQOaouA",
          "mode": "id",
          "cachedResultUrl": "/workflow/oKcy6HGCCMQOaouA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -432,
        -336
      ],
      "id": "8e0947ea-e3fb-4ab9-add0-4b79d491fbbb",
      "name": "Call 'Chunk Subworkflow'"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -256,
        -48
      ],
      "id": "b23732c6-a2c7-4d1a-9735-0fdcbd2fd6dc",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').first().json['Worker Sheet ID'] }}",
          "mode": "id"
        },
        "id": "={{ $json.id }}",
        "fieldsMapper": {
          "mappingMode": "defineBelow",
          "value": {
            "Worker Status": "Processing"
          },
          "matchingColumns": [
            "Worker Status"
          ],
          "schema": [
            {
              "id": "Worker Status",
              "displayName": "Worker Status",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -496,
        -32
      ],
      "id": "8ce897ab-3c34-432e-b2f6-b1c0ee62cbcd",
      "name": "Change Worker Status to Processing",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -608,
        -336
      ],
      "id": "006df79b-0c1a-4095-bf61-276ecd8ae3a6",
      "name": "Chunk Settings1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Base ID": "p3l64neoyynn30b",
          "Channel Sheet ID": "m5s88g69xzb08wl",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guy-channel/videos",
          "output": {
            "levels": [
              {
                "level_number": 1,
                "title": "The Prospect",
                "content": "The letter doesn't come in the mail. It's a tap on the shoulder during a graduate seminar on international relations, or a quiet conversation at the end of an embassy internship. You are twenty-four, you speak three languages, and you have no criminal record. You think you're being chosen for your intellect. You aren't. You're being chosen because you have no tether to the world that can't be cut.\n\nYou arrive at a nondescript office building in Northern Virginia. The air smells of industrial carpet cleaner and burnt coffee. You sit in a plastic chair for six hours. No phone. No book. Just you and a wall. This is the first test: the capacity for stillness. When the door finally opens, the man who greets you doesn't give a name. He gives you a psychological evaluation that lasts three days. They ask about your childhood, your sexual preferences, the time you stole a candy bar at age seven, and how you feel about the concept of \"the greater good.\"\n\nBy the time you leave, you feel exposed, raw, and oddly grateful. They know everything about you, which means you don't have to hide from them. You are told to go home, tell your parents you got a job in \"logistics\" for the Department of State, and wait. Three months of silence follow. You start to doubt it was real. Then, a plane ticket appears in your inbox. No return date.",
                "word_count": 216
              },
              {
                "level_number": 2,
                "title": "The Student",
                "content": "You are at The Farm. Officially, it's Peary, a military installation in Virginia, but to you, it is the world. Your life is now a sequence of \"evolutions.\" You spend your mornings learning the \"Standardized Reporting\" format—how to write a cable so dry and factual it could put a reader to sleep, yet so precise it could trigger a drone strike.\n\nIn the afternoons, you learn the trade. You learn the \"Dead Drop\"—finding a loose brick in a park wall where a thumb drive can be left. You learn the \"Brush Pass\"—exchanging a newspaper with a stranger in a crowded metro station without breaking stride. You learn the \"Bumper Lock\"—following a car through heavy traffic without ever being closer than three vehicles away, yet never losing sight of their taillights.\n\nThen come the \"Red Cells.\" You are dropped in the middle of a city with fifty dollars and a fabricated identity. You are hunted by instructors who know every trick you've just been taught. You spend forty-eight hours sleeping in dumpsters and shivering in 24-hour diners, watching the door. You realize that your greatest asset isn't a weapon; it's the ability to look like someone who doesn't belong where they are, yet somehow fits perfectly. You graduate in a small, windowless room. No ceremony. No family. Just a laminated badge and a plane ticket to a country you can't point to on a map without a classified briefing.",
                "word_count": 223
              },
              {
                "level_number": 3,
                "title": "The Case Officer",
                "content": "You are now a \"C.O.\" stationed at a small station in Southeast Asia or Eastern Europe. To the local community, you are a Junior Economic Attaché. You attend boring cocktail parties. You drink lukewarm champagne and talk about trade tariffs. But your eyes are always moving.\n\nYou are looking for \"access.\" You need the disgruntled colonel, the lonely clerk in the Ministry of Defense, the mistress of the telecom mogul. You find a target. Let's call him \"The Source.\" You spend six months grooming him. You find out his daughter needs a kidney transplant. You find out he feels undervalued by his superiors. You become his best friend. You are the only person in the world who truly understands him.\n\nThe first time you hand him an envelope of cash, your heart hammers against your ribs. This is \"The Pitch.\" If he says no, your career is over and you might be expelled from the country. If he says yes, you own him. You spend the next two years meeting him in damp alleyways and parked cars. You milk him for every secret he has. One night, he tells you he's being watched. He's terrified. You look him in the eye and tell him he's safe, that the Agency will protect him. You know it's a lie. If things go bad, he is an \"expendable asset.\" You go home, write your cable, and sleep like a baby. The compartmentalization has begun.",
                "word_count": 233
              },
              {
                "level_number": 4,
                "title": "The Paramilitary Operations Officer",
                "content": "The suit is gone. You are now part of the Special Operations Group (SOG). You've been handpicked because you don't just gather information; you act on it. You are sent to a \"Black Site\" in a desert or a jungle. You wear local clothes, grow a beard, and carry a weapon that doesn't exist on any official manifest.\n\nYour life is defined by the \"Direct Action\" mission. You aren't recruiting sources anymore; you are \"servicing targets.\" You spend your nights looking through the grainy green glow of Night Vision Goggles. You learn the rhythm of the \"Kill-Capture\" cycle. You fast-rope from helicopters, breach doors with silent explosives, and vanish before the sun comes up.\n\nThe moral weight starts to shift. In the field, there is no \"State Department\" cover. There is only the team and the objective. You see things that will never be reported in the news. You participate in \"Enhanced Interrogations,\" standing in the corner of a stone room while a man screams. You tell yourself it's about the \"Actionable Intelligence.\" You tell yourself that the bomb he knows about would kill hundreds. You find that you can shut off the part of your brain that feels empathy like flipping a light switch. It's a survival mechanism. It's also a poison.",
                "word_count": 207
              },
              {
                "level_number": 5,
                "title": "The Chief of Station",
                "content": "You are back in a suit, but it's a better suit now. You are the \"C.O.S.\" You sit in a secure room—a SCIF—inside an embassy. You are the shadow governor of the country you're in. The Ambassador thinks he's in charge, but you know the secrets of the people he's negotiating with. You know which cabinet ministers are on the payroll and which ones have bodies in their basements.\n\nYour job is no longer tactical; it's political. You manage the \"Liason Relationship\" with the local intelligence service. They are thugs, but they are *your* thugs. You trade satellite imagery for the right to use their prisons. You spend your days managing the egos of your officers and the expectations of Langley.\n\nThe stress is different now. It's not the physical danger of a firefight; it's the crushing weight of \"Deniability.\" When an operation goes wrong—and it will—you are the one who has to burn the files. You have to look a young officer in the eye and tell them that the source they spent three years recruiting has to be abandoned because the \"Bi-lateral Relationship\" is too important. You watch the source's family get arrested on a grainy feed and you turn off the monitor. You pour a triple scotch. You don't have friends anymore, only colleagues and contacts.",
                "word_count": 210
              },
              {
                "level_number": 6,
                "title": "The Deputy Director of Operations",
                "content": "You are at \"Mother\" now—Langley, Virginia. You have an office with a view of the trees. You are one of the most powerful people in the world, and no one knows your name. You sit at a mahogany table with the National Security Council. You provide the \"options\" that the President doesn't want to hear.\n\nYou are the architect of \"Covert Action.\" You don't see the blood anymore. You see PowerPoints. You see \"Probability of Success\" percentages. You authorize the \"Disruption\" of an election. You approve the \"Neutralization\" of a foreign scientist. You manage a budget of billions that technically doesn't exist.\n\nYou realize that the world isn't a chess board; it's a garden that needs constant, violent pruning. You are the gardener. You are gray-haired, your second marriage has failed, and your children barely speak to you because you've spent thirty years lying about where you were. You feel a profound sense of isolation. You are the only person who knows the true cost of the \"Pax Americana,\" and you can never tell anyone. You are a ghost inhabiting a world of living people.",
                "word_count": 180
              },
              {
                "level_number": 7,
                "title": "The Star",
                "content": "You are retired. You live in a quiet suburb. You have a pension and a consultant job for a defense contractor that pays you five times what you made at the Agency. You play golf. You attend reunions where you speak in code with other ghosts.\n\nSometimes, you visit the lobby of the Original Headquarters Building. You stand before the North Wall. There are over 140 stars carved into the white marble. Each one represents an officer who died in the line of duty. Many have no names in the Book of Honor. They are just dates and locations.\n\nYou look at one star in particular. Maybe it's the kid you sent into the mountains in 2004. Maybe it's the woman who worked for you in the station in '92. You realize that you have outlived your purpose. The secrets you traded your soul for are now declassified or irrelevant. The world moved on, but you stayed in the shadows.\n\nYou walk out of the building. In the parking lot, you see a twenty-four-year-old walking toward the entrance. He looks sharp, eager, and full of a quiet, intellectual pride. He's been chosen for his intellect, he thinks. He has no idea that he is about to be hollowed out. You catch his eye for a second. You want to say something, to warn him, to tell him that the \"greater good\" is a hungry god that never stops eating.\n\nInstead, you just nod. You get into your car and drive away, checking your rearview mirror three times out of habit, even though you know no one is following you. You are finally invisible. And that is the most terrifying rank of all.",
                "word_count": 272
              }
            ]
          },
          "id": "1",
          "fields": {
            "Video Title": "Your_Life_as_Every_CIA_Black_Ops_Rank"
          }
        }
      }
    ],
    "Split Out": [
      {
        "json": {
          "level_number": 1,
          "title": "The Prospect",
          "content": "The letter doesn't come in the mail. It's a tap on the shoulder during a graduate seminar on international relations, or a quiet conversation at the end of an embassy internship. You are twenty-four, you speak three languages, and you have no criminal record. You think you're being chosen for your intellect. You aren't. You're being chosen because you have no tether to the world that can't be cut.\n\nYou arrive at a nondescript office building in Northern Virginia. The air smells of industrial carpet cleaner and burnt coffee. You sit in a plastic chair for six hours. No phone. No book. Just you and a wall. This is the first test: the capacity for stillness. When the door finally opens, the man who greets you doesn't give a name. He gives you a psychological evaluation that lasts three days. They ask about your childhood, your sexual preferences, the time you stole a candy bar at age seven, and how you feel about the concept of \"the greater good.\"\n\nBy the time you leave, you feel exposed, raw, and oddly grateful. They know everything about you, which means you don't have to hide from them. You are told to go home, tell your parents you got a job in \"logistics\" for the Department of State, and wait. Three months of silence follow. You start to doubt it was real. Then, a plane ticket appears in your inbox. No return date.",
          "word_count": 216
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "level_number": 2,
          "title": "The Student",
          "content": "You are at The Farm. Officially, it's Peary, a military installation in Virginia, but to you, it is the world. Your life is now a sequence of \"evolutions.\" You spend your mornings learning the \"Standardized Reporting\" format—how to write a cable so dry and factual it could put a reader to sleep, yet so precise it could trigger a drone strike.\n\nIn the afternoons, you learn the trade. You learn the \"Dead Drop\"—finding a loose brick in a park wall where a thumb drive can be left. You learn the \"Brush Pass\"—exchanging a newspaper with a stranger in a crowded metro station without breaking stride. You learn the \"Bumper Lock\"—following a car through heavy traffic without ever being closer than three vehicles away, yet never losing sight of their taillights.\n\nThen come the \"Red Cells.\" You are dropped in the middle of a city with fifty dollars and a fabricated identity. You are hunted by instructors who know every trick you've just been taught. You spend forty-eight hours sleeping in dumpsters and shivering in 24-hour diners, watching the door. You realize that your greatest asset isn't a weapon; it's the ability to look like someone who doesn't belong where they are, yet somehow fits perfectly. You graduate in a small, windowless room. No ceremony. No family. Just a laminated badge and a plane ticket to a country you can't point to on a map without a classified briefing.",
          "word_count": 223
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "level_number": 3,
          "title": "The Case Officer",
          "content": "You are now a \"C.O.\" stationed at a small station in Southeast Asia or Eastern Europe. To the local community, you are a Junior Economic Attaché. You attend boring cocktail parties. You drink lukewarm champagne and talk about trade tariffs. But your eyes are always moving.\n\nYou are looking for \"access.\" You need the disgruntled colonel, the lonely clerk in the Ministry of Defense, the mistress of the telecom mogul. You find a target. Let's call him \"The Source.\" You spend six months grooming him. You find out his daughter needs a kidney transplant. You find out he feels undervalued by his superiors. You become his best friend. You are the only person in the world who truly understands him.\n\nThe first time you hand him an envelope of cash, your heart hammers against your ribs. This is \"The Pitch.\" If he says no, your career is over and you might be expelled from the country. If he says yes, you own him. You spend the next two years meeting him in damp alleyways and parked cars. You milk him for every secret he has. One night, he tells you he's being watched. He's terrified. You look him in the eye and tell him he's safe, that the Agency will protect him. You know it's a lie. If things go bad, he is an \"expendable asset.\" You go home, write your cable, and sleep like a baby. The compartmentalization has begun.",
          "word_count": 233
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "level_number": 4,
          "title": "The Paramilitary Operations Officer",
          "content": "The suit is gone. You are now part of the Special Operations Group (SOG). You've been handpicked because you don't just gather information; you act on it. You are sent to a \"Black Site\" in a desert or a jungle. You wear local clothes, grow a beard, and carry a weapon that doesn't exist on any official manifest.\n\nYour life is defined by the \"Direct Action\" mission. You aren't recruiting sources anymore; you are \"servicing targets.\" You spend your nights looking through the grainy green glow of Night Vision Goggles. You learn the rhythm of the \"Kill-Capture\" cycle. You fast-rope from helicopters, breach doors with silent explosives, and vanish before the sun comes up.\n\nThe moral weight starts to shift. In the field, there is no \"State Department\" cover. There is only the team and the objective. You see things that will never be reported in the news. You participate in \"Enhanced Interrogations,\" standing in the corner of a stone room while a man screams. You tell yourself it's about the \"Actionable Intelligence.\" You tell yourself that the bomb he knows about would kill hundreds. You find that you can shut off the part of your brain that feels empathy like flipping a light switch. It's a survival mechanism. It's also a poison.",
          "word_count": 207
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "level_number": 5,
          "title": "The Chief of Station",
          "content": "You are back in a suit, but it's a better suit now. You are the \"C.O.S.\" You sit in a secure room—a SCIF—inside an embassy. You are the shadow governor of the country you're in. The Ambassador thinks he's in charge, but you know the secrets of the people he's negotiating with. You know which cabinet ministers are on the payroll and which ones have bodies in their basements.\n\nYour job is no longer tactical; it's political. You manage the \"Liason Relationship\" with the local intelligence service. They are thugs, but they are *your* thugs. You trade satellite imagery for the right to use their prisons. You spend your days managing the egos of your officers and the expectations of Langley.\n\nThe stress is different now. It's not the physical danger of a firefight; it's the crushing weight of \"Deniability.\" When an operation goes wrong—and it will—you are the one who has to burn the files. You have to look a young officer in the eye and tell them that the source they spent three years recruiting has to be abandoned because the \"Bi-lateral Relationship\" is too important. You watch the source's family get arrested on a grainy feed and you turn off the monitor. You pour a triple scotch. You don't have friends anymore, only colleagues and contacts.",
          "word_count": 210
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "level_number": 6,
          "title": "The Deputy Director of Operations",
          "content": "You are at \"Mother\" now—Langley, Virginia. You have an office with a view of the trees. You are one of the most powerful people in the world, and no one knows your name. You sit at a mahogany table with the National Security Council. You provide the \"options\" that the President doesn't want to hear.\n\nYou are the architect of \"Covert Action.\" You don't see the blood anymore. You see PowerPoints. You see \"Probability of Success\" percentages. You authorize the \"Disruption\" of an election. You approve the \"Neutralization\" of a foreign scientist. You manage a budget of billions that technically doesn't exist.\n\nYou realize that the world isn't a chess board; it's a garden that needs constant, violent pruning. You are the gardener. You are gray-haired, your second marriage has failed, and your children barely speak to you because you've spent thirty years lying about where you were. You feel a profound sense of isolation. You are the only person who knows the true cost of the \"Pax Americana,\" and you can never tell anyone. You are a ghost inhabiting a world of living people.",
          "word_count": 180
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "level_number": 7,
          "title": "The Star",
          "content": "You are retired. You live in a quiet suburb. You have a pension and a consultant job for a defense contractor that pays you five times what you made at the Agency. You play golf. You attend reunions where you speak in code with other ghosts.\n\nSometimes, you visit the lobby of the Original Headquarters Building. You stand before the North Wall. There are over 140 stars carved into the white marble. Each one represents an officer who died in the line of duty. Many have no names in the Book of Honor. They are just dates and locations.\n\nYou look at one star in particular. Maybe it's the kid you sent into the mountains in 2004. Maybe it's the woman who worked for you in the station in '92. You realize that you have outlived your purpose. The secrets you traded your soul for are now declassified or irrelevant. The world moved on, but you stayed in the shadows.\n\nYou walk out of the building. In the parking lot, you see a twenty-four-year-old walking toward the entrance. He looks sharp, eager, and full of a quiet, intellectual pride. He's been chosen for his intellect, he thinks. He has no idea that he is about to be hollowed out. You catch his eye for a second. You want to say something, to warn him, to tell him that the \"greater good\" is a hungry god that never stops eating.\n\nInstead, you just nod. You get into your car and drive away, checking your rearview mirror three times out of habit, even though you know no one is following you. You are finally invisible. And that is the most terrifying rank of all.",
          "word_count": 272
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Chunk Settings": [
      {
        "json": {
          "script": "The letter doesn't come in the mail. It's a tap on the shoulder during a graduate seminar on international relations, or a quiet conversation at the end of an embassy internship. You are twenty-four, you speak three languages, and you have no criminal record. You think you're being chosen for your intellect. You aren't. You're being chosen because you have no tether to the world that can't be cut.\n\nYou arrive at a nondescript office building in Northern Virginia. The air smells of industrial carpet cleaner and burnt coffee. You sit in a plastic chair for six hours. No phone. No book. Just you and a wall. This is the first test: the capacity for stillness. When the door finally opens, the man who greets you doesn't give a name. He gives you a psychological evaluation that lasts three days. They ask about your childhood, your sexual preferences, the time you stole a candy bar at age seven, and how you feel about the concept of \"the greater good.\"\n\nBy the time you leave, you feel exposed, raw, and oddly grateful. They know everything about you, which means you don't have to hide from them. You are told to go home, tell your parents you got a job in \"logistics\" for the Department of State, and wait. Three months of silence follow. You start to doubt it was real. Then, a plane ticket appears in your inbox. No return date.",
          "level_number": 1,
          "Title": "The Prospect",
          "Base ID": "p3l64neoyynn30b",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guy-channel/videos",
          "fields": {
            "Video Title": "Your_Life_as_Every_CIA_Black_Ops_Rank"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Ping Worker Status": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-02 04:20:10+00:00",
            "UpdatedAt": "2026-06-29 23:23:15+00:00",
            "Worker Status": "Ready"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 2,
          "id_fields": {
            "Id": 2
          },
          "fields": {
            "CreatedAt": "2026-06-02 04:20:15+00:00",
            "UpdatedAt": null,
            "Worker Status": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 3,
          "id_fields": {
            "Id": 3
          },
          "fields": {
            "CreatedAt": "2026-06-24 03:59:25+00:00",
            "UpdatedAt": "2026-06-24 03:59:39+00:00",
            "Worker Status": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 4,
          "id_fields": {
            "Id": 4
          },
          "fields": {
            "CreatedAt": "2026-06-24 03:59:34+00:00",
            "UpdatedAt": "2026-06-24 03:59:42+00:00",
            "Worker Status": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Wait": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-02 04:20:10+00:00",
            "UpdatedAt": "2026-06-30 04:46:29+00:00",
            "Worker Status": "Processing"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 2,
          "id_fields": {
            "Id": 2
          },
          "fields": {
            "CreatedAt": "2026-06-02 04:20:15+00:00",
            "UpdatedAt": null,
            "Worker Status": null
          }
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "id": 3,
          "id_fields": {
            "Id": 3
          },
          "fields": {
            "CreatedAt": "2026-06-24 03:59:25+00:00",
            "UpdatedAt": "2026-06-24 03:59:39+00:00",
            "Worker Status": null
          }
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "id": 4,
          "id_fields": {
            "Id": 4
          },
          "fields": {
            "CreatedAt": "2026-06-24 03:59:34+00:00",
            "UpdatedAt": "2026-06-24 03:59:42+00:00",
            "Worker Status": null
          }
        },
        "pairedItem": {
          "item": 3
        }
      }
    ],
    "Call 'Chunk Subworkflow'": [
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Merge": [
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 4
        }
      }
    ],
    "Change Worker Status to Processing": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-02 04:20:10+00:00",
            "UpdatedAt": "2026-06-30 04:46:29+00:00",
            "Worker Status": "Processing"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Chunk Settings1": [
      {
        "json": {
          "script": "The letter doesn't come in the mail. It's a tap on the shoulder during a graduate seminar on international relations, or a quiet conversation at the end of an embassy internship. You are twenty-four, you speak three languages, and you have no criminal record. You think you're being chosen for your intellect. You aren't. You're being chosen because you have no tether to the world that can't be cut.\n\nYou arrive at a nondescript office building in Northern Virginia. The air smells of industrial carpet cleaner and burnt coffee. You sit in a plastic chair for six hours. No phone. No book. Just you and a wall. This is the first test: the capacity for stillness. When the door finally opens, the man who greets you doesn't give a name. He gives you a psychological evaluation that lasts three days. They ask about your childhood, your sexual preferences, the time you stole a candy bar at age seven, and how you feel about the concept of \"the greater good.\"\n\nBy the time you leave, you feel exposed, raw, and oddly grateful. They know everything about you, which means you don't have to hide from them. You are told to go home, tell your parents you got a job in \"logistics\" for the Department of State, and wait. Three months of silence follow. You start to doubt it was real. Then, a plane ticket appears in your inbox. No return date.",
          "level_number": 1,
          "Title": "The Prospect",
          "Base ID": "p3l64neoyynn30b",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guy-channel/videos",
          "fields": {
            "Video Title": "Your_Life_as_Every_CIA_Black_Ops_Rank"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8nmanamagementserver",
  "repo_owner": "typespectrum-dev",
  "repo_path": "workflows/n8n-second/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2026-06-22T03:50:22.802Z",
      "createdAt": "2026-06-22T03:50:22.802Z",
      "role": "workflow:owner",
      "workflowId": "EB6ZxVBh9wX1Dixp",
      "projectId": "CBMgvnupThQ6ZdzY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-06T04:47:12.180Z",
  "versionId": "02eb298e-ae68-47a7-ab98-7ebda0993506"
}