2026/06/LXcRF7vt9F10hGYp.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Get Video Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Ideas": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check For Processing": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Check For Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter for Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for Queued": {
      "main": [
        [
          {
            "node": "Limit to 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1": {
      "main": [
        [
          {
            "node": "Set Status Queued -> Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Queued -> Processing": {
      "main": [
        [
          {
            "node": "Update Project URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Project URL": {
      "main": [
        [
          {
            "node": "Script Workflow Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Workflow Settings": {
      "main": [
        [
          {
            "node": "Execute Script Subworkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Script Subworkflow": {
      "main": [
        [
          {
            "node": "Video Workflow Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Workflow Settings": {
      "main": [
        [
          {
            "node": "Execute Video Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-02T04:15:24.690Z",
  "id": "LXcRF7vt9F10hGYp",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Organizer Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5248,
        -32
      ],
      "id": "e9487805-4dcf-4408-b54d-90a1c42c8923",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34260f35-f5de-4224-ad15-d0cbe28e3b0a",
              "name": "Base ID",
              "value": "p3l64neoyynn30b",
              "type": "string"
            },
            {
              "id": "01d1ea45-d28d-4805-bfc2-c04e46055a3f",
              "name": "Channel Sheet ID",
              "value": "m5s88g69xzb08wl",
              "type": "string"
            },
            {
              "id": "3e3a1572-912f-474e-85e8-d08a857e928c",
              "name": "Worker Sheet ID",
              "value": "mh5uzwjzhyyaim7",
              "type": "string"
            },
            {
              "id": "d0168d49-8817-400e-be6f-94daf001b43a",
              "name": "Character Reference URL",
              "value": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
              "type": "string"
            },
            {
              "id": "066be89a-a614-421d-9b73-8746f50275ce",
              "name": "Storage Bucket",
              "value": "pov-guy",
              "type": "string"
            },
            {
              "id": "cff569af-5d5c-426e-b890-4844ac8a7d0d",
              "name": "Videos Path",
              "value": "pov-guy-channel/videos",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5024,
        -32
      ],
      "id": "22f3b756-1510-42a1-b2fc-6e3cbe674385",
      "name": "Settings"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "search",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $json['Channel Sheet ID'] }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -4816,
        -32
      ],
      "id": "979787bf-9d23-4360-b33b-f51ef3e17a95",
      "name": "Get Video Ideas",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d26435d8-08e7-451a-87df-03d2d810c06d",
              "leftValue": "={{ JSON.stringify($json.data) }}",
              "rightValue": "Processing",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4432,
        -32
      ],
      "id": "5f5db230-3abc-4bc0-a0ac-a2d4a5d32f49",
      "name": "Check For Processing"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -4624,
        -32
      ],
      "id": "3b61fc6a-ee8f-42b9-9c11-55c671e3db1c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4176,
        -32
      ],
      "id": "c61d4a80-f8b2-4f28-8b6e-6d0354036613",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5c3f4cec-cb55-448b-8fc9-150a7bfb727b",
              "leftValue": "={{ $json.fields.Progress }}",
              "rightValue": "Queued",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -4032,
        -32
      ],
      "id": "014d8a6f-35b2-4da7-b7aa-a0131f914bfa",
      "name": "Filter for Queued"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -3840,
        -32
      ],
      "id": "2100a5b0-992a-4532-ba4a-e800680ca88b",
      "name": "Limit to 1"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('Settings').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('Settings').first().json['Channel Sheet ID'] }}",
          "mode": "id"
        },
        "id": "={{ $json.id }}",
        "fieldsMapper": {
          "mappingMode": "defineBelow",
          "value": {
            "Progress": "Processing"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Progress",
              "displayName": "Progress",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project URL",
              "displayName": "Project URL",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -3648,
        -32
      ],
      "id": "1dcd4e9b-8260-4456-98bb-665fe3e9eb29",
      "name": "Set Status Queued -> Processing",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('Settings').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('Settings').first().json['Channel Sheet ID'] }}",
          "mode": "id"
        },
        "id": "={{ $('Limit to 1').first().json.id }}",
        "fieldsMapper": {
          "mappingMode": "defineBelow",
          "value": {
            "Project URL": "=https://minio.n8ntypespectrum.cfd/browser/pov-guy/pov-guy-channel%2Fvideos%2F{{ $('Limit to 1').first().json.fields['Video Title'].replaceAll(\" \", \"_\") }}%2F"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Progress",
              "displayName": "Progress",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project URL",
              "displayName": "Project URL",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -3456,
        -32
      ],
      "id": "312ce447-ffc6-40cd-820e-477302fba69b",
      "name": "Update Project URL",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "662d6db2-b097-4823-a459-45438c4a26be",
              "name": "fields['Video Title']",
              "value": "={{ $('Limit to 1').first().json.fields['Video Title'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3200,
        -32
      ],
      "id": "1ad7e118-450f-4ec2-8570-94a0eadce701",
      "name": "Script Workflow Settings"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t1mxK71tDXvwMxMb",
          "mode": "id",
          "cachedResultUrl": "/workflow/t1mxK71tDXvwMxMb"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2976,
        -32
      ],
      "id": "b25c60c5-8d0e-4528-9015-88886ea92d3d",
      "name": "Execute Script Subworkflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34260f35-f5de-4224-ad15-d0cbe28e3b0a",
              "name": "Base ID",
              "value": "={{ $('Settings').first().json['Base ID'] }}",
              "type": "string"
            },
            {
              "id": "01d1ea45-d28d-4805-bfc2-c04e46055a3f",
              "name": "Channel Sheet ID",
              "value": "={{ $('Settings').first().json['Channel Sheet ID'] }}",
              "type": "string"
            },
            {
              "id": "3e3a1572-912f-474e-85e8-d08a857e928c",
              "name": "Worker Sheet ID",
              "value": "={{ $('Settings').first().json['Worker Sheet ID'] }}",
              "type": "string"
            },
            {
              "id": "d0168d49-8817-400e-be6f-94daf001b43a",
              "name": "Character Reference URL",
              "value": "={{ $('Settings').first().json['Character Reference URL'] }}",
              "type": "string"
            },
            {
              "id": "066be89a-a614-421d-9b73-8746f50275ce",
              "name": "Storage Bucket",
              "value": "={{ $('Settings').first().json['Storage Bucket'] }}",
              "type": "string"
            },
            {
              "id": "cff569af-5d5c-426e-b890-4844ac8a7d0d",
              "name": "Videos Path",
              "value": "={{ $('Settings').first().json['Videos Path'] }}",
              "type": "string"
            },
            {
              "id": "2a05adf2-5fc6-45ba-972d-4ebbcdd9498e",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "99177e83-8c1b-4984-abb0-b60247ec7ff3",
              "name": "id",
              "value": "={{ $('Limit to 1').first().json.id }}",
              "type": "string"
            },
            {
              "id": "642738dd-2e16-4412-9665-3f4106b06f4a",
              "name": "fields['Video Title']",
              "value": "={{ $('Limit to 1').first().json.fields['Video Title'].replaceAll(\" \", \"_\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        -32
      ],
      "id": "d2f5a133-6e1b-4946-aa0c-1151e4444536",
      "name": "Video Workflow Settings"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EB6ZxVBh9wX1Dixp",
          "mode": "id",
          "cachedResultUrl": "/workflow/EB6ZxVBh9wX1Dixp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2624,
        -32
      ],
      "id": "531fa9f1-5938-48ac-bda8-fa371f3179db",
      "name": "Execute Video Workflow"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Settings": [
      {
        "json": {
          "Base ID": "p3l64neoyynn30b",
          "Channel Sheet ID": "m5s88g69xzb08wl",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guy-channel/videos"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Video Ideas": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-07-10 02:59:57+00:00",
            "Progress": "Queued",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": "https://minio.n8ntypespectrum.cfd/browser/pov-guy/pov-guy-channel%2Fvideos%2FYour_Life_as_Every_CIA_Black_Ops_Rank%2F"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 2,
          "id_fields": {
            "Id": 2
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:38+00:00",
            "UpdatedAt": "2026-06-29 23:24:14+00:00",
            "Progress": "Queued",
            "Video Title": "POV: You're an Agent for the Agency That Doesn't Exist",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 3,
          "id_fields": {
            "Id": 3
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:39+00:00",
            "UpdatedAt": "2026-07-10 02:09:55+00:00",
            "Progress": null,
            "Video Title": null,
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 4,
          "id_fields": {
            "Id": 4
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:40+00:00",
            "UpdatedAt": "2026-07-10 02:09:58+00:00",
            "Progress": null,
            "Video Title": null,
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 5,
          "id_fields": {
            "Id": 5
          },
          "fields": {
            "CreatedAt": "2026-06-11 04:48:02+00:00",
            "UpdatedAt": null,
            "Progress": null,
            "Video Title": null,
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Aggregate": [
      {
        "json": {
          "data": [
            {
              "id": 1,
              "id_fields": {
                "Id": 1
              },
              "fields": {
                "CreatedAt": "2026-06-01 04:39:36+00:00",
                "UpdatedAt": "2026-07-10 02:59:57+00:00",
                "Progress": "Queued",
                "Video Title": "Your Life as Every CIA Black Ops Rank",
                "Project URL": "https://minio.n8ntypespectrum.cfd/browser/pov-guy/pov-guy-channel%2Fvideos%2FYour_Life_as_Every_CIA_Black_Ops_Rank%2F"
              }
            },
            {
              "id": 2,
              "id_fields": {
                "Id": 2
              },
              "fields": {
                "CreatedAt": "2026-06-01 04:39:38+00:00",
                "UpdatedAt": "2026-06-29 23:24:14+00:00",
                "Progress": "Queued",
                "Video Title": "POV: You're an Agent for the Agency That Doesn't Exist",
                "Project URL": null
              }
            },
            {
              "id": 3,
              "id_fields": {
                "Id": 3
              },
              "fields": {
                "CreatedAt": "2026-06-01 04:39:39+00:00",
                "UpdatedAt": "2026-07-10 02:09:55+00:00",
                "Progress": null,
                "Video Title": null,
                "Project URL": null
              }
            },
            {
              "id": 4,
              "id_fields": {
                "Id": 4
              },
              "fields": {
                "CreatedAt": "2026-06-01 04:39:40+00:00",
                "UpdatedAt": "2026-07-10 02:09:58+00:00",
                "Progress": null,
                "Video Title": null,
                "Project URL": null
              }
            },
            {
              "id": 5,
              "id_fields": {
                "Id": 5
              },
              "fields": {
                "CreatedAt": "2026-06-11 04:48:02+00:00",
                "UpdatedAt": null,
                "Progress": null,
                "Video Title": null,
                "Project URL": null
              }
            }
          ]
        },
        "pairedItem": [
          {
            "item": 0
          },
          {
            "item": 1
          },
          {
            "item": 2
          },
          {
            "item": 3
          },
          {
            "item": 4
          }
        ]
      }
    ],
    "Split Out": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-07-10 02:59:57+00:00",
            "Progress": "Queued",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": "https://minio.n8ntypespectrum.cfd/browser/pov-guy/pov-guy-channel%2Fvideos%2FYour_Life_as_Every_CIA_Black_Ops_Rank%2F"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 2,
          "id_fields": {
            "Id": 2
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:38+00:00",
            "UpdatedAt": "2026-06-29 23:24:14+00:00",
            "Progress": "Queued",
            "Video Title": "POV: You're an Agent for the Agency That Doesn't Exist",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 3,
          "id_fields": {
            "Id": 3
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:39+00:00",
            "UpdatedAt": "2026-07-10 02:09:55+00:00",
            "Progress": null,
            "Video Title": null,
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 4,
          "id_fields": {
            "Id": 4
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:40+00:00",
            "UpdatedAt": "2026-07-10 02:09:58+00:00",
            "Progress": null,
            "Video Title": null,
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 5,
          "id_fields": {
            "Id": 5
          },
          "fields": {
            "CreatedAt": "2026-06-11 04:48:02+00:00",
            "UpdatedAt": null,
            "Progress": null,
            "Video Title": null,
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Filter for Queued": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-07-10 02:59:57+00:00",
            "Progress": "Queued",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": "https://minio.n8ntypespectrum.cfd/browser/pov-guy/pov-guy-channel%2Fvideos%2FYour_Life_as_Every_CIA_Black_Ops_Rank%2F"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 2,
          "id_fields": {
            "Id": 2
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:38+00:00",
            "UpdatedAt": "2026-06-29 23:24:14+00:00",
            "Progress": "Queued",
            "Video Title": "POV: You're an Agent for the Agency That Doesn't Exist",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 1
        }
      }
    ],
    "Limit to 1": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-07-10 02:59:57+00:00",
            "Progress": "Queued",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": "https://minio.n8ntypespectrum.cfd/browser/pov-guy/pov-guy-channel%2Fvideos%2FYour_Life_as_Every_CIA_Black_Ops_Rank%2F"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Set Status Queued -> Processing": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-07-10 03:00:06+00:00",
            "Progress": "Processing",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": "https://minio.n8ntypespectrum.cfd/browser/pov-guy/pov-guy-channel%2Fvideos%2FYour_Life_as_Every_CIA_Black_Ops_Rank%2F"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Update Project URL": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-07-10 03:00:07+00:00",
            "Progress": "Processing",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": "https://minio.n8ntypespectrum.cfd/browser/pov-guy/pov-guy-channel%2Fvideos%2FYour_Life_as_Every_CIA_Black_Ops_Rank%2F"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Script Workflow Settings": [
      {
        "json": {
          "fields": {
            "Video Title": "Your Life as Every CIA Black Ops Rank"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Execute Script Subworkflow": [
      {
        "json": {
          "output": {
            "levels": [
              {
                "level_number": 1,
                "title": "The Asset",
                "content": "You are not an employee. You are a resource. You are sitting in a cafe in a city that smells like diesel and roasted chickpeas, waiting for a man whose name you will never know to tell you what your life is worth. You were chosen because you have access, or a grievance, or a debt that has grown teeth. Perhaps you are a low-level clerk in a ministry of defense, or a technician at a power plant, or the cousin of a general. \n\nThe man arrives. He sits. He doesn't look like a spy; he looks like a tired accountant on a business trip. He speaks your language with a slight, unplaceable accent. He doesn't offer you a job; he offers you a \"partnership.\" He gives you a specialized piece of hardware—a modified bridge-line router or a thumb drive that looks like a cheap knockoff—and tells you to plug it into a specific terminal. \n\nYou feel the sweat slicking your palms. You are a \"Stay-Behind\" or a \"Local National.\" If you are caught, your government will execute you as a traitor. If you succeed, the man in the suit will give you an envelope of cash that feels heavy in your pocket but light against the weight of what you've just done. You go home and look at your family. You realize for the first time that you are a ghost in your own house. You are the lowest rung on the ladder, a disposable sensor in a dark room.",
                "word_count": 196
              },
              {
                "level_number": 2,
                "title": "The Logistics Officer",
                "content": "The adrenaline of the field has been replaced by the hum of fluorescent lights and the smell of stale coffee in a windowless room in Northern Virginia. You are now a staffer, a \"Blue Badger.\" You have passed the polygraph, the background checks, and the psychological evaluations that peeled your psyche back like an onion. You are a Junior Case Officer, but for now, you are a glorified travel agent for ghosts.\n\nYour world is \"The Farm.\" You spend eighteen hours a day learning the \"Tradecraft Manual.\" You practice dead drops at 3:00 AM in a park in suburban Maryland, wondering if the person walking their dog is an instructor or a civilian. You learn how to \"dry clean\" yourself—taking three hours of circuitous transit routes to ensure you aren't being followed to a five-minute meeting. \n\nYou spend your weeks filing \"Operational Leads.\" You arrange the \"STU\" (Secure Telephone Unit) lines. You coordinate the shipment of \"sterile\" equipment—laptops with no serial numbers, clothes with the tags cut out, medicine with labels in Cyrillic. You are learning that 90% of black ops is paperwork. If a team is going into a denied area, you are the one making sure their blood type is on file and their \"exfiltration\" route has a backup. You are a cog, but you are a cog in a machine that moves the world. You haven't seen the sun in three days.",
                "word_count": 211
              },
              {
                "level_number": 3,
                "title": "The Case Officer",
                "content": "You have earned your \"Stars and Stripes.\" You are back overseas, but this time you are the one sitting in the cafe. You are a \"Primary.\" You operate out of a \"Station,\" hidden inside an embassy under \"Official Cover.\" Your diplomatic passport says you are a junior cultural attaché, but your real job is human gardening. \n\nYou spend your nights in bars and back alleys, looking for \"The Vulnerable.\" You are searching for M.I.C.E.—Money, Ideology, Coercion, or Ego. You find a colonel with a gambling problem. You find a scientist who feels underappreciated by his regime. You spend months \"grooming\" them. You are a professional friend. You listen to their problems, you buy them expensive dinners, and slowly, you turn them into traitors.\n\nThe first time you \"turn\" an asset, you feel a surge of power that is almost intoxicating. You are playing a high-stakes game of chess where the pieces are people's lives. You have \"The Book\" on your assets—their mistresses, their debts, their secret fears. You are their confessor and their god. But then, one night, an asset doesn't show up to a dead drop. The \"Signal Site\" remains empty. You wait. You go back to the embassy and sit in the \"SCIF\" (Sensitive Compartmented Information Facility), staring at the walls. You know that if he's been caught, it was your fault. You didn't see the tail. You didn't check the \"brush pass.\" You learn the first rule of the rank: everyone is a resource until they are a liability.",
                "word_count": 237
              },
              {
                "level_number": 4,
                "title": "The Ground Branch Operator",
                "content": "The suits and the diplomatic parties are gone. You have moved from the Directorate of Operations to the Special Activities Center (SAC). Specifically, you are in the Political Action Group. You are \"Ground Branch.\" You are a former Tier 1 operator—SEAL Team Six, Delta, or SAS—who was recruited because you can speak three languages and kill a man with a rolled-up magazine.\n\nYou are \"Black.\" You operate under \"Non-Official Cover\" (NOC). If you are captured, the United States government will deny your existence. You don't have a diplomatic passport anymore. You have a fake identity with a paper trail twenty years deep. You are a \"Contractor\" for a shell company that exports timber.\n\nYou are on the ground in a country the news says we aren't in. Your job is \"Preparation of the Environment.\" You are training local militias, setting up \"Safe Houses,\" and mapping out the \"Internal Defense\" of a city that's about to be hit. You live in a house with five other guys who have no last names. You eat local food, wear local clothes, and carry a weapon that can't be traced back to a factory in Connecticut. You have lived in the dirt for six months. You have forgotten what your real voice sounds like because you only speak the local dialect. You are a sharp instrument, kept in a velvet-lined box until it's time to cut.",
                "word_count": 222
              },
              {
                "level_number": 5,
                "title": "The Targeter",
                "content": "You've come back from the field, but you didn't go back to the embassy. You've been promoted to the \"Counterterrorism Center\" (CTC). You are a Targeter. You sit in a room in a building that doesn't appear on any map, surrounded by \"High-Side\" monitors. \n\nYou are a weaver of data. You take \"SIGINT\" (Signals Intelligence) from the NSA, \"IMINT\" (Imagery Intelligence) from the sate-lites, and \"HUMINT\" (Human Intelligence) from the Case Officers you used to be. You are building \"Life Patterns.\" You watch a house in the tribal areas of Pakistan for six weeks. You know what time the target wakes up. You know what color his prayer rug is. You know he has a daughter who likes to play with a yellow ball.\n\nThis rank is where the moral weight begins to crush. You are the one who signs the \"Targeting Package.\" You are the one who says, \"This is the guy.\" You watch the drone feed. It's silent. There is no sound of an explosion, just a flash of white and the screen turning to static for a second as the dust clears. You see the yellow ball in the rubble. You get up, walk to the breakroom, and pour a cup of lukewarm coffee. You have \"neutralized a high-value target.\" You feel nothing. If you felt something, you couldn't do the job.",
                "word_count": 210
              },
              {
                "level_number": 6,
                "title": "The Chief of Station",
                "content": "You are the King of the Hill in a foreign capital. You are the \"COS.\" You are the bridge between the \"Dark Side\" and the \"Light Side.\" In the mornings, you meet with the Ambassador, playing the role of the refined diplomat. In the afternoons, you go into the SCIF and manage a \"Portfolio\" of secrets that would cause three wars if they were ever leaked.\n\nYou are no longer doing the work; you are managing the people who do. You have \"Discretionary Funds\" that could buy a small island. You manage the \"Liason Relationships\"—the delicate, dirty dance with the host country's intelligence service. They know who you are, and you know who they are. You trade \"Intelligence Products\" like baseball cards. \"I'll give you the transcript of the Iranian's phone calls if you let us use your interrogation facility for forty-eight hours.\"\n\nYou spend your life in a state of constant paranoia. Every gift from a foreign official is swept for bugs. Every conversation is a layer of subtext. You realize that your \"friends\" in the local government are bugging your house, and you are bugging theirs. It's a polite theater of betrayal. You have achieved total professional success, and you have never been more alone. Your spouse thinks you work in trade development. Your children think you're boring. You are the only one who knows that the \"accidental\" car crash of a certain opposition leader was actually a \"kinetic event\" you authorized last Tuesday.",
                "word_count": 232
              },
              {
                "level_number": 7,
                "title": "The Deputy Director of Operations",
                "content": "You are back at Langley, on the seventh floor. You are the \"DDO.\" You are the architect. You don't look at individual targets anymore; you look at \"Theaters.\" You manage the \"Black Budget.\" You are the one who goes to the \"Gang of Eight\"—the senior leaders of Congress—to give them \"Plausible Deniability.\"\n\nYou speak in \"Euphemisms.\" You don't use words like \"assassination\" or \"coup.\" You use terms like \"Executive Action,\" \"Governance Support,\" and \"Stability Operations.\" You are a master of the \"Finding\"—the presidential authorization that allows the Agency to break the law in the name of the state.\n\nAt this rank, you realize that the world is not a mess to be fixed, but a garden to be pruned. You see the twenty-year horizon. You are willing to sacrifice an entire generation of assets in one country to secure a pipeline in another. You have become a creature of pure cold logic. You have attended the \"Memorial Wall\" ceremonies for people whose names you had to look up on a spreadsheet. You see the \"Stars\" carved into the marble—the nameless dead. You look at them and you don't feel grief; you feel the cost of doing business. You are the keeper of the national conscience, and yours is a very heavy burden.",
                "word_count": 202
              },
              {
                "level_number": 8,
                "title": "The Ghost",
                "content": "You have retired. Or perhaps you were \"Consulted out.\" You are no longer in the building, but you are never really gone. You are a \"Senior Advisor\" for a private intelligence firm, or a \"Fellow\" at a prestigious think tank. You are the person the current Director calls when things go \"Sideways.\"\n\nYou spend your days playing golf with senators and CEOs. You are \"The Gray Man.\" You have lived three lives, had six names, and seen the underside of every major historical event of the last thirty years. You look at the news and you see the \"Story,\" and then you see the \"Truth\" hidden behind it. You see the \"False Flag\" that everyone thinks is a revolution. You see the \"Suicide\" that was actually a \"Terminated Contract.\"\n\nYou sit on a porch in Virginia, watching the sun set over the trees. Your phone rings. It's a young Case Officer, just starting out, asking for your \"Perspective\" on an asset in a country you haven't thought about in a decade. You give him a piece of advice—something about the psychology of the local culture, or a specific way to hide a \"Dead Drop\" in a particular city.\n\nAs you hang up, you see a man in a cafe in a faraway city. He looks nervous. He's waiting for a man in a suit who looks like a tired accountant. You realize that the cycle is perfect. The names change, the technology evolves, but the game is eternal. You close your eyes and you are back at Level One, sitting in that cafe, waiting for your life to begin, or end. You are the Agency. You are the shadow that the light requires to exist. And you are finally, truly, silent.",
                "word_count": 278
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Video Workflow Settings": [
      {
        "json": {
          "Base ID": "p3l64neoyynn30b",
          "Channel Sheet ID": "m5s88g69xzb08wl",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guy-channel/videos",
          "output": {
            "levels": [
              {
                "level_number": 1,
                "title": "The Asset",
                "content": "You are not an employee. You are a resource. You are sitting in a cafe in a city that smells like diesel and roasted chickpeas, waiting for a man whose name you will never know to tell you what your life is worth. You were chosen because you have access, or a grievance, or a debt that has grown teeth. Perhaps you are a low-level clerk in a ministry of defense, or a technician at a power plant, or the cousin of a general. \n\nThe man arrives. He sits. He doesn't look like a spy; he looks like a tired accountant on a business trip. He speaks your language with a slight, unplaceable accent. He doesn't offer you a job; he offers you a \"partnership.\" He gives you a specialized piece of hardware—a modified bridge-line router or a thumb drive that looks like a cheap knockoff—and tells you to plug it into a specific terminal. \n\nYou feel the sweat slicking your palms. You are a \"Stay-Behind\" or a \"Local National.\" If you are caught, your government will execute you as a traitor. If you succeed, the man in the suit will give you an envelope of cash that feels heavy in your pocket but light against the weight of what you've just done. You go home and look at your family. You realize for the first time that you are a ghost in your own house. You are the lowest rung on the ladder, a disposable sensor in a dark room.",
                "word_count": 196
              },
              {
                "level_number": 2,
                "title": "The Logistics Officer",
                "content": "The adrenaline of the field has been replaced by the hum of fluorescent lights and the smell of stale coffee in a windowless room in Northern Virginia. You are now a staffer, a \"Blue Badger.\" You have passed the polygraph, the background checks, and the psychological evaluations that peeled your psyche back like an onion. You are a Junior Case Officer, but for now, you are a glorified travel agent for ghosts.\n\nYour world is \"The Farm.\" You spend eighteen hours a day learning the \"Tradecraft Manual.\" You practice dead drops at 3:00 AM in a park in suburban Maryland, wondering if the person walking their dog is an instructor or a civilian. You learn how to \"dry clean\" yourself—taking three hours of circuitous transit routes to ensure you aren't being followed to a five-minute meeting. \n\nYou spend your weeks filing \"Operational Leads.\" You arrange the \"STU\" (Secure Telephone Unit) lines. You coordinate the shipment of \"sterile\" equipment—laptops with no serial numbers, clothes with the tags cut out, medicine with labels in Cyrillic. You are learning that 90% of black ops is paperwork. If a team is going into a denied area, you are the one making sure their blood type is on file and their \"exfiltration\" route has a backup. You are a cog, but you are a cog in a machine that moves the world. You haven't seen the sun in three days.",
                "word_count": 211
              },
              {
                "level_number": 3,
                "title": "The Case Officer",
                "content": "You have earned your \"Stars and Stripes.\" You are back overseas, but this time you are the one sitting in the cafe. You are a \"Primary.\" You operate out of a \"Station,\" hidden inside an embassy under \"Official Cover.\" Your diplomatic passport says you are a junior cultural attaché, but your real job is human gardening. \n\nYou spend your nights in bars and back alleys, looking for \"The Vulnerable.\" You are searching for M.I.C.E.—Money, Ideology, Coercion, or Ego. You find a colonel with a gambling problem. You find a scientist who feels underappreciated by his regime. You spend months \"grooming\" them. You are a professional friend. You listen to their problems, you buy them expensive dinners, and slowly, you turn them into traitors.\n\nThe first time you \"turn\" an asset, you feel a surge of power that is almost intoxicating. You are playing a high-stakes game of chess where the pieces are people's lives. You have \"The Book\" on your assets—their mistresses, their debts, their secret fears. You are their confessor and their god. But then, one night, an asset doesn't show up to a dead drop. The \"Signal Site\" remains empty. You wait. You go back to the embassy and sit in the \"SCIF\" (Sensitive Compartmented Information Facility), staring at the walls. You know that if he's been caught, it was your fault. You didn't see the tail. You didn't check the \"brush pass.\" You learn the first rule of the rank: everyone is a resource until they are a liability.",
                "word_count": 237
              },
              {
                "level_number": 4,
                "title": "The Ground Branch Operator",
                "content": "The suits and the diplomatic parties are gone. You have moved from the Directorate of Operations to the Special Activities Center (SAC). Specifically, you are in the Political Action Group. You are \"Ground Branch.\" You are a former Tier 1 operator—SEAL Team Six, Delta, or SAS—who was recruited because you can speak three languages and kill a man with a rolled-up magazine.\n\nYou are \"Black.\" You operate under \"Non-Official Cover\" (NOC). If you are captured, the United States government will deny your existence. You don't have a diplomatic passport anymore. You have a fake identity with a paper trail twenty years deep. You are a \"Contractor\" for a shell company that exports timber.\n\nYou are on the ground in a country the news says we aren't in. Your job is \"Preparation of the Environment.\" You are training local militias, setting up \"Safe Houses,\" and mapping out the \"Internal Defense\" of a city that's about to be hit. You live in a house with five other guys who have no last names. You eat local food, wear local clothes, and carry a weapon that can't be traced back to a factory in Connecticut. You have lived in the dirt for six months. You have forgotten what your real voice sounds like because you only speak the local dialect. You are a sharp instrument, kept in a velvet-lined box until it's time to cut.",
                "word_count": 222
              },
              {
                "level_number": 5,
                "title": "The Targeter",
                "content": "You've come back from the field, but you didn't go back to the embassy. You've been promoted to the \"Counterterrorism Center\" (CTC). You are a Targeter. You sit in a room in a building that doesn't appear on any map, surrounded by \"High-Side\" monitors. \n\nYou are a weaver of data. You take \"SIGINT\" (Signals Intelligence) from the NSA, \"IMINT\" (Imagery Intelligence) from the sate-lites, and \"HUMINT\" (Human Intelligence) from the Case Officers you used to be. You are building \"Life Patterns.\" You watch a house in the tribal areas of Pakistan for six weeks. You know what time the target wakes up. You know what color his prayer rug is. You know he has a daughter who likes to play with a yellow ball.\n\nThis rank is where the moral weight begins to crush. You are the one who signs the \"Targeting Package.\" You are the one who says, \"This is the guy.\" You watch the drone feed. It's silent. There is no sound of an explosion, just a flash of white and the screen turning to static for a second as the dust clears. You see the yellow ball in the rubble. You get up, walk to the breakroom, and pour a cup of lukewarm coffee. You have \"neutralized a high-value target.\" You feel nothing. If you felt something, you couldn't do the job.",
                "word_count": 210
              },
              {
                "level_number": 6,
                "title": "The Chief of Station",
                "content": "You are the King of the Hill in a foreign capital. You are the \"COS.\" You are the bridge between the \"Dark Side\" and the \"Light Side.\" In the mornings, you meet with the Ambassador, playing the role of the refined diplomat. In the afternoons, you go into the SCIF and manage a \"Portfolio\" of secrets that would cause three wars if they were ever leaked.\n\nYou are no longer doing the work; you are managing the people who do. You have \"Discretionary Funds\" that could buy a small island. You manage the \"Liason Relationships\"—the delicate, dirty dance with the host country's intelligence service. They know who you are, and you know who they are. You trade \"Intelligence Products\" like baseball cards. \"I'll give you the transcript of the Iranian's phone calls if you let us use your interrogation facility for forty-eight hours.\"\n\nYou spend your life in a state of constant paranoia. Every gift from a foreign official is swept for bugs. Every conversation is a layer of subtext. You realize that your \"friends\" in the local government are bugging your house, and you are bugging theirs. It's a polite theater of betrayal. You have achieved total professional success, and you have never been more alone. Your spouse thinks you work in trade development. Your children think you're boring. You are the only one who knows that the \"accidental\" car crash of a certain opposition leader was actually a \"kinetic event\" you authorized last Tuesday.",
                "word_count": 232
              },
              {
                "level_number": 7,
                "title": "The Deputy Director of Operations",
                "content": "You are back at Langley, on the seventh floor. You are the \"DDO.\" You are the architect. You don't look at individual targets anymore; you look at \"Theaters.\" You manage the \"Black Budget.\" You are the one who goes to the \"Gang of Eight\"—the senior leaders of Congress—to give them \"Plausible Deniability.\"\n\nYou speak in \"Euphemisms.\" You don't use words like \"assassination\" or \"coup.\" You use terms like \"Executive Action,\" \"Governance Support,\" and \"Stability Operations.\" You are a master of the \"Finding\"—the presidential authorization that allows the Agency to break the law in the name of the state.\n\nAt this rank, you realize that the world is not a mess to be fixed, but a garden to be pruned. You see the twenty-year horizon. You are willing to sacrifice an entire generation of assets in one country to secure a pipeline in another. You have become a creature of pure cold logic. You have attended the \"Memorial Wall\" ceremonies for people whose names you had to look up on a spreadsheet. You see the \"Stars\" carved into the marble—the nameless dead. You look at them and you don't feel grief; you feel the cost of doing business. You are the keeper of the national conscience, and yours is a very heavy burden.",
                "word_count": 202
              },
              {
                "level_number": 8,
                "title": "The Ghost",
                "content": "You have retired. Or perhaps you were \"Consulted out.\" You are no longer in the building, but you are never really gone. You are a \"Senior Advisor\" for a private intelligence firm, or a \"Fellow\" at a prestigious think tank. You are the person the current Director calls when things go \"Sideways.\"\n\nYou spend your days playing golf with senators and CEOs. You are \"The Gray Man.\" You have lived three lives, had six names, and seen the underside of every major historical event of the last thirty years. You look at the news and you see the \"Story,\" and then you see the \"Truth\" hidden behind it. You see the \"False Flag\" that everyone thinks is a revolution. You see the \"Suicide\" that was actually a \"Terminated Contract.\"\n\nYou sit on a porch in Virginia, watching the sun set over the trees. Your phone rings. It's a young Case Officer, just starting out, asking for your \"Perspective\" on an asset in a country you haven't thought about in a decade. You give him a piece of advice—something about the psychology of the local culture, or a specific way to hide a \"Dead Drop\" in a particular city.\n\nAs you hang up, you see a man in a cafe in a faraway city. He looks nervous. He's waiting for a man in a suit who looks like a tired accountant. You realize that the cycle is perfect. The names change, the technology evolves, but the game is eternal. You close your eyes and you are back at Level One, sitting in that cafe, waiting for your life to begin, or end. You are the Agency. You are the shadow that the light requires to exist. And you are finally, truly, silent.",
                "word_count": 278
              }
            ]
          },
          "id": "1",
          "fields": {
            "Video Title": "Your_Life_as_Every_CIA_Black_Ops_Rank"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8nmanamagementserver",
  "repo_owner": "typespectrum-dev",
  "repo_path": "workflows/n8n-second/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2026-06-02T04:15:24.690Z",
      "createdAt": "2026-06-02T04:15:24.690Z",
      "role": "workflow:owner",
      "workflowId": "LXcRF7vt9F10hGYp",
      "projectId": "CBMgvnupThQ6ZdzY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-10T03:02:52.628Z",
  "versionId": "a1672b86-fc49-45a4-bb16-b5cc85678457"
}