2026/06/LXcRF7vt9F10hGYp.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Get Video Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Ideas": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check For Processing": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Check For Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter for Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for Queued": {
      "main": [
        [
          {
            "node": "Limit to 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1": {
      "main": [
        [
          {
            "node": "Set Status Queued -> Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Queued -> Processing": {
      "main": [
        [
          {
            "node": "Update Project URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Project URL": {
      "main": [
        [
          {
            "node": "Script Workflow Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Workflow Settings": {
      "main": [
        [
          {
            "node": "Execute Script Subworkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Script Subworkflow": {
      "main": [
        [
          {
            "node": "Settings1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings1": {
      "main": [
        [
          {
            "node": "Execute Video Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-02T04:15:24.690Z",
  "id": "LXcRF7vt9F10hGYp",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Organizer Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3872,
        -16
      ],
      "id": "e9487805-4dcf-4408-b54d-90a1c42c8923",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34260f35-f5de-4224-ad15-d0cbe28e3b0a",
              "name": "Base ID",
              "value": "p3l64neoyynn30b",
              "type": "string"
            },
            {
              "id": "01d1ea45-d28d-4805-bfc2-c04e46055a3f",
              "name": "Channel Sheet ID",
              "value": "m5s88g69xzb08wl",
              "type": "string"
            },
            {
              "id": "3e3a1572-912f-474e-85e8-d08a857e928c",
              "name": "Worker Sheet ID",
              "value": "mh5uzwjzhyyaim7",
              "type": "string"
            },
            {
              "id": "d0168d49-8817-400e-be6f-94daf001b43a",
              "name": "Character Reference URL",
              "value": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
              "type": "string"
            },
            {
              "id": "066be89a-a614-421d-9b73-8746f50275ce",
              "name": "Storage Bucket",
              "value": "pov-guy",
              "type": "string"
            },
            {
              "id": "cff569af-5d5c-426e-b890-4844ac8a7d0d",
              "name": "Videos Path",
              "value": "pov-guys-channel/videos",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3648,
        -16
      ],
      "id": "22f3b756-1510-42a1-b2fc-6e3cbe674385",
      "name": "Settings"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "search",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $json['Channel Sheet ID'] }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -3440,
        -16
      ],
      "id": "979787bf-9d23-4360-b33b-f51ef3e17a95",
      "name": "Get Video Ideas",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d26435d8-08e7-451a-87df-03d2d810c06d",
              "leftValue": "={{ JSON.stringify($json.data) }}",
              "rightValue": "Processing",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3088,
        -16
      ],
      "id": "5f5db230-3abc-4bc0-a0ac-a2d4a5d32f49",
      "name": "Check For Processing"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3248,
        -16
      ],
      "id": "3b61fc6a-ee8f-42b9-9c11-55c671e3db1c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2880,
        -16
      ],
      "id": "c61d4a80-f8b2-4f28-8b6e-6d0354036613",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5c3f4cec-cb55-448b-8fc9-150a7bfb727b",
              "leftValue": "={{ $json.fields.Progress }}",
              "rightValue": "Queued",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -2656,
        -16
      ],
      "id": "014d8a6f-35b2-4da7-b7aa-a0131f914bfa",
      "name": "Filter for Queued"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2464,
        -16
      ],
      "id": "2100a5b0-992a-4532-ba4a-e800680ca88b",
      "name": "Limit to 1"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('Settings').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('Settings').first().json['Channel Sheet ID'] }}",
          "mode": "id"
        },
        "id": "={{ $json.id }}",
        "fieldsMapper": {
          "mappingMode": "defineBelow",
          "value": {
            "Progress": "Processing"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Progress",
              "displayName": "Progress",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project URL",
              "displayName": "Project URL",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -2272,
        -16
      ],
      "id": "1dcd4e9b-8260-4456-98bb-665fe3e9eb29",
      "name": "Set Status Queued -> Processing",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('Settings').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('Settings').first().json['Channel Sheet ID'] }}",
          "mode": "id"
        },
        "id": "={{ $('Limit to 1').item.json.id }}",
        "fieldsMapper": {
          "mappingMode": "defineBelow",
          "value": {
            "Project URL": "=https://minio.n8ntypespectrum.cfd/browser/pov-guy/videos%2F{{ $('Limit to 1').item.json.fields['Video Title'].replaceAll(\" \", \"_\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Progress",
              "displayName": "Progress",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project URL",
              "displayName": "Project URL",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -1984,
        -16
      ],
      "id": "312ce447-ffc6-40cd-820e-477302fba69b",
      "name": "Update Project URL",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "662d6db2-b097-4823-a459-45438c4a26be",
              "name": "fields['Video Title']",
              "value": "={{ $('Limit to 1').first().json.fields['Video Title'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1776,
        -16
      ],
      "id": "1ad7e118-450f-4ec2-8570-94a0eadce701",
      "name": "Script Workflow Settings"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t1mxK71tDXvwMxMb",
          "mode": "id",
          "cachedResultUrl": "/workflow/t1mxK71tDXvwMxMb"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1552,
        -16
      ],
      "id": "b25c60c5-8d0e-4528-9015-88886ea92d3d",
      "name": "Execute Script Subworkflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "E7U3Fx9FuUFTp7u8",
          "mode": "id",
          "cachedResultUrl": "/workflow/E7U3Fx9FuUFTp7u8"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1008,
        -16
      ],
      "id": "ec834155-2085-40f0-85ab-0a43658ab111",
      "name": "Execute Video Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34260f35-f5de-4224-ad15-d0cbe28e3b0a",
              "name": "Base ID",
              "value": "={{ $('Settings').first().json['Base ID'] }}",
              "type": "string"
            },
            {
              "id": "01d1ea45-d28d-4805-bfc2-c04e46055a3f",
              "name": "Channel Sheet ID",
              "value": "={{ $('Settings').first().json['Channel Sheet ID'] }}",
              "type": "string"
            },
            {
              "id": "3e3a1572-912f-474e-85e8-d08a857e928c",
              "name": "Worker Sheet ID",
              "value": "={{ $('Settings').first().json['Worker Sheet ID'] }}",
              "type": "string"
            },
            {
              "id": "d0168d49-8817-400e-be6f-94daf001b43a",
              "name": "Character Reference URL",
              "value": "={{ $('Settings').first().json['Character Reference URL'] }}",
              "type": "string"
            },
            {
              "id": "066be89a-a614-421d-9b73-8746f50275ce",
              "name": "Storage Bucket",
              "value": "={{ $('Settings').first().json['Storage Bucket'] }}",
              "type": "string"
            },
            {
              "id": "cff569af-5d5c-426e-b890-4844ac8a7d0d",
              "name": "Videos Path",
              "value": "={{ $('Settings').first().json['Videos Path'] }}",
              "type": "string"
            },
            {
              "id": "2a05adf2-5fc6-45ba-972d-4ebbcdd9498e",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        -32
      ],
      "id": "d2f5a133-6e1b-4946-aa0c-1151e4444536",
      "name": "Settings1"
    }
  ],
  "pinData": {
    "Settings": [
      {
        "json": {
          "Base ID": "p3l64neoyynn30b",
          "Channel Sheet ID": "m5s88g69xzb08wl",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guys-channel/videos"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Video Ideas": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-06-08 01:20:47+00:00",
            "Progress": "Queued",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 2,
          "id_fields": {
            "Id": 2
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:38+00:00",
            "UpdatedAt": "2026-06-01 04:48:57+00:00",
            "Progress": "Queued",
            "Video Title": " POV: You're an Agent for the Agency That Doesn't Exist",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 3,
          "id_fields": {
            "Id": 3
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:39+00:00",
            "UpdatedAt": "2026-06-01 04:49:00+00:00",
            "Progress": "Queued",
            "Video Title": " Your Life as Every Level of Military Sniper",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 4,
          "id_fields": {
            "Id": 4
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:40+00:00",
            "UpdatedAt": "2026-06-01 04:49:02+00:00",
            "Progress": "Queued",
            "Video Title": "POV: You're a Corrupt Cop on the Cartel's Payroll",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Aggregate": [
      {
        "json": {
          "data": [
            {
              "id": 1,
              "id_fields": {
                "Id": 1
              },
              "fields": {
                "CreatedAt": "2026-06-01 04:39:36+00:00",
                "UpdatedAt": "2026-06-08 01:20:47+00:00",
                "Progress": "Queued",
                "Video Title": "Your Life as Every CIA Black Ops Rank",
                "Project URL": null
              }
            },
            {
              "id": 2,
              "id_fields": {
                "Id": 2
              },
              "fields": {
                "CreatedAt": "2026-06-01 04:39:38+00:00",
                "UpdatedAt": "2026-06-01 04:48:57+00:00",
                "Progress": "Queued",
                "Video Title": " POV: You're an Agent for the Agency That Doesn't Exist",
                "Project URL": null
              }
            },
            {
              "id": 3,
              "id_fields": {
                "Id": 3
              },
              "fields": {
                "CreatedAt": "2026-06-01 04:39:39+00:00",
                "UpdatedAt": "2026-06-01 04:49:00+00:00",
                "Progress": "Queued",
                "Video Title": " Your Life as Every Level of Military Sniper",
                "Project URL": null
              }
            },
            {
              "id": 4,
              "id_fields": {
                "Id": 4
              },
              "fields": {
                "CreatedAt": "2026-06-01 04:39:40+00:00",
                "UpdatedAt": "2026-06-01 04:49:02+00:00",
                "Progress": "Queued",
                "Video Title": "POV: You're a Corrupt Cop on the Cartel's Payroll",
                "Project URL": null
              }
            }
          ]
        },
        "pairedItem": [
          {
            "item": 0
          },
          {
            "item": 1
          },
          {
            "item": 2
          },
          {
            "item": 3
          }
        ]
      }
    ],
    "Split Out": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-06-08 01:20:47+00:00",
            "Progress": "Queued",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 2,
          "id_fields": {
            "Id": 2
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:38+00:00",
            "UpdatedAt": "2026-06-01 04:48:57+00:00",
            "Progress": "Queued",
            "Video Title": " POV: You're an Agent for the Agency That Doesn't Exist",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 3,
          "id_fields": {
            "Id": 3
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:39+00:00",
            "UpdatedAt": "2026-06-01 04:49:00+00:00",
            "Progress": "Queued",
            "Video Title": " Your Life as Every Level of Military Sniper",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 4,
          "id_fields": {
            "Id": 4
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:40+00:00",
            "UpdatedAt": "2026-06-01 04:49:02+00:00",
            "Progress": "Queued",
            "Video Title": "POV: You're a Corrupt Cop on the Cartel's Payroll",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Filter for Queued": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-06-08 01:20:47+00:00",
            "Progress": "Queued",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 2,
          "id_fields": {
            "Id": 2
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:38+00:00",
            "UpdatedAt": "2026-06-01 04:48:57+00:00",
            "Progress": "Queued",
            "Video Title": " POV: You're an Agent for the Agency That Doesn't Exist",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "id": 3,
          "id_fields": {
            "Id": 3
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:39+00:00",
            "UpdatedAt": "2026-06-01 04:49:00+00:00",
            "Progress": "Queued",
            "Video Title": " Your Life as Every Level of Military Sniper",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "id": 4,
          "id_fields": {
            "Id": 4
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:40+00:00",
            "UpdatedAt": "2026-06-01 04:49:02+00:00",
            "Progress": "Queued",
            "Video Title": "POV: You're a Corrupt Cop on the Cartel's Payroll",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 3
        }
      }
    ],
    "Limit to 1": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-06-08 01:20:47+00:00",
            "Progress": "Queued",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Set Status Queued -> Processing": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-06-08 01:20:53+00:00",
            "Progress": "Processing",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Update Project URL": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-06-08 01:20:54+00:00",
            "Progress": "Processing",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": "https://minio.n8ntypespectrum.cfd/browser/pov-guy/videos%2FYour_Life_as_Every_CIA_Black_Ops_Rank"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Script Workflow Settings": [
      {
        "json": {
          "fields": {
            "Video Title": "Your Life as Every CIA Black Ops Rank"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Execute Script Subworkflow": [
      {
        "json": {
          "output": {
            "chapters": [
              {
                "level": 1,
                "title": "The Walk-In",
                "content": "You are standing on a rain-slicked sidewalk in a city whose name you cannot tell your parents. You are twenty-four years old. You have a degree in international relations, a minor in Mandarin, and a fitness level that suggests you've never missed a morning run in your life. You are currently staring at a nondescript office building in Northern Virginia. To the world, this is just a government contractor's headquarters. To you, it is the threshold.\n\nThe recruitment process was a year of silence interrupted by sudden, invasive questions. They've mapped your debt, your sexual history, and the exact reason you stopped talking to your college roommate. Now, you step through the glass doors. You are given a blue badge. It is the lowest rung on the ladder. You are a trainee at the Farm.\n\nYour days are no longer yours. You learn the \"Art of the Brush Pass\"—how to hand off a micro-SD card in a crowded subway without breaking stride. You learn the \"Dead Drop\"—how to hide a brick of cash in a hollowed-out stone near a park bench. Most importantly, you learn the \"SDR,\" the Surveillance Detection Route. You spend six hours driving in circles, turning into dead-end alleys, and stopping at gas stations just to see if the same gray sedan is still three cars back. You learn that if someone follows you for more than three turns, your life as a normal citizen is over. You graduate, not with a ceremony, but with a plane ticket to a Third World capital and a \"clean\" phone. You aren't an officer yet. You are an asset-in-waiting."
              },
              {
                "level": 2,
                "title": "The Case Officer",
                "content": "You are living in a villa in Amman. Your official title is \"Junior Economic Attaché\" at the Embassy. You spend your days looking at spreadsheets and attending boring cocktail parties. But your real work begins at 11:00 PM.\n\nYou have your first \"asset.\" He is a mid-level bureaucrat in the Ministry of Defense who likes Scotch and hates his boss. Your job is to make him love you. You listen to his problems. You remember his children's birthdays. You slowly, methodically, erode his sense of loyalty to his country until he is handing you photocopies of troop movements in exchange for envelopes of cash.\n\nYou feel a rush of power the first time he hands you a classified folder. It's better than any drug. But then comes the \"burn.\" You realize that if this man is caught, he will be executed, and you will simply be declared *persona non grata* and flown home in business class. You stay up late staring at the ceiling, wondering if you actually like him, or if you just like the information. You realize the \"relationship\" is a meticulously constructed lie. You are a professional friend, and your friendship is a weapon."
              },
              {
                "level": 3,
                "title": "The Black Roofer",
                "content": "You have been moved from the \"Light\" side to the \"Dark\" side. You are no longer at the Embassy. You are now part of the Special Operations Group—the SOG. You are a \"Black Roofer\".\n\nYou are a Tier 1 operator, likely former Delta or SEAL Team 6, seconded to the Agency. You don't have a badge anymore. If you are captured, the U.S. government will claim they have never heard of you. You are in a \"denied area\"—a country where we are not officially at war.\n\nIt is 2:00 AM in a suburb of Karachi. You are wearing local clothes and carrying a suppressed submachine gun with no serial numbers. Your team is scaling a wall using silent tactical ladders. Your mission isn't to talk to people; it's to \"sanitize\" a room. You move with a fluidity that only comes from ten thousand hours of practice. The door is breached. Three pops of suppressed fire. The target is dead before he can reach for his phone. You don't take a trophy. You take a hard drive and a stack of papers. You are gone in ninety seconds. Back at the safehouse, you clean your weapon in total silence. You realize you haven't spoken a word to another human being in three days. You are becoming a ghost."
              },
              {
                "level": 4,
                "title": "The Paramilitary Chief",
                "content": "You've traded the submachine gun for a satellite phone and a map. You are in the mountains of a country the news doesn't mention. You are the \"Chief of Station\" for a paramilitary base—a Black Site.\n\nYou manage thirty men who don't exist. You spend your days negotiating with local warlords, buying their loyalty with crates of AK-47s and pallets of non-sequential hundred-dollar bills. You are a king in a valley of shadows. You decide who gets a drone strike and who gets a seat at the table.\n\nThe morality gets heavy here. You know the warlord you're funding is a monster who burns villages. But he's *your* monster. He gives you the coordinates for the high-value targets. You sit in a plywood command center, watching a grainy infrared feed from a Predator drone orbiting five miles above. You see a heat signature—a person—exit a house. You give the word: \"Clear to engage.\" You watch the screen flash white. A few seconds later, the person is gone. You go to the mess hall and eat a lukewarm MRE. You don't think about the person you just evaporated. You think about the next three targets on the list."
              },
              {
                "level": 5,
                "title": "The Interrogator",
                "content": "You are transferred to a \"Secondary Location.\" It is a windowless facility in a country that doesn't believe in the Geneva Convention. You are the man in the room.\n\nThe target is a \"HVT\"—a High-Value Target. He has information about a ticking bomb or a mole in the Pentagon. Your job is to break him. You don't use the Hollywood stuff; that doesn't work. You use sleep deprivation. You use white noise at 110 decibels for twenty hours straight. You use the \"Confinement Box.\" You watch him through a one-way mirror. You see a man lose his mind in real-time.\n\nThen, you enter the room. You are the \"Good Cop.\" You bring him water. You offer him a cigarette. You talk about his family. You are the only source of kindness in his hellish world. And eventually, he cracks. He weeps into your shoulder and tells you everything. You feel a deep, sickening sense of accomplishment. You've reached into a man's soul and pulled out the truth. When you go back to your hotel, you scrub your hands until they are raw, but you can still smell the sweat and fear from the room."
              },
              {
                "level": 6,
                "title": "The Deputy Director of Operations (DDO)",
                "content": "You are back in Langley. You have a corner office with a view of the woods. You wear a three-piece suit. You are \"Seventh Floor\".\n\nYou are no longer in the field, but the field is always in your ear. You balance a $2 billion black budget. You sit in the Situation Room with the President, explaining why a covert coup in Central America is \"the only viable path for regional stability.\" You speak in euphemisms. You don't say \"kill\"; you say \"neutralize.\" You don't say \"unlawful\"; you say \"extra-legal.\"\n\nYou realize your job is to keep the secrets buried deep enough that the public never has to feel guilty. You are the person who signs the execution orders. You are the one who decides which of your officers is \"expendable\" when a mission goes sideways. You look at the wall in the main lobby—the one with the stars carved into the marble for every officer who died in the line of duty. You know exactly which stars were your fault. You sleep four hours a night. Your spouse left you years ago because you couldn't tell them where you were going for weeks at a time. Your children call you by your first name."
              },
              {
                "level": 7,
                "title": "The Legend",
                "content": "You are seventy years old. You are retired, but you aren't really retired. You live on a farm in Virginia, surrounded by high-tech security fences and cameras. You have a \"handler\" from the agency who checks on you once a week to make sure your mind isn't slipping. You carry too many secrets for your brain to hold comfortably.\n\nYou spend your days gardening. You look like any other grandfather. But sometimes, when the wind catches the trees, you're back in a jungle in 1985, or a basement in Beirut. You see the faces of the men you burned and the assets you abandoned. You wonder if the world is actually safer because of what you did, or if you just moved the pieces around on a board that never ends.\n\nOne afternoon, a young man knocks on your door. He's twenty-four, fit, with a degree in international relations and a look of desperate ambition in his eyes. He's part of a new \"vetting\" process. He wants to know about the \"pioneer days.\" He looks at you with awe, as if you're a hero.\n\nYou look at his clean, unscarred hands. You think about the brush passes, the black sites, the white noise, and the stars on the wall. You invite him in. You offer him a glass of Scotch. And as you begin to tell him a version of the truth—the version he's allowed to hear—you realize the cycle is starting again. You were once him. And thirty years from now, he will be sitting in a chair just like yours, wondering when the rain will finally wash the secrets away. You pour him another drink and begin. \"The first thing you have to understand,\" you say, \"is that you are about to become a very professional liar.\""
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Settings1": [
      {
        "json": {
          "Base ID": "p3l64neoyynn30b",
          "Channel Sheet ID": "m5s88g69xzb08wl",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guys-channel/videos",
          "output": {
            "chapters": [
              {
                "level": 1,
                "title": "The Walk-In",
                "content": "You are standing on a rain-slicked sidewalk in a city whose name you cannot tell your parents. You are twenty-four years old. You have a degree in international relations, a minor in Mandarin, and a fitness level that suggests you've never missed a morning run in your life. You are currently staring at a nondescript office building in Northern Virginia. To the world, this is just a government contractor's headquarters. To you, it is the threshold.\n\nThe recruitment process was a year of silence interrupted by sudden, invasive questions. They've mapped your debt, your sexual history, and the exact reason you stopped talking to your college roommate. Now, you step through the glass doors. You are given a blue badge. It is the lowest rung on the ladder. You are a trainee at the Farm.\n\nYour days are no longer yours. You learn the \"Art of the Brush Pass\"—how to hand off a micro-SD card in a crowded subway without breaking stride. You learn the \"Dead Drop\"—how to hide a brick of cash in a hollowed-out stone near a park bench. Most importantly, you learn the \"SDR,\" the Surveillance Detection Route. You spend six hours driving in circles, turning into dead-end alleys, and stopping at gas stations just to see if the same gray sedan is still three cars back. You learn that if someone follows you for more than three turns, your life as a normal citizen is over. You graduate, not with a ceremony, but with a plane ticket to a Third World capital and a \"clean\" phone. You aren't an officer yet. You are an asset-in-waiting."
              },
              {
                "level": 2,
                "title": "The Case Officer",
                "content": "You are living in a villa in Amman. Your official title is \"Junior Economic Attaché\" at the Embassy. You spend your days looking at spreadsheets and attending boring cocktail parties. But your real work begins at 11:00 PM.\n\nYou have your first \"asset.\" He is a mid-level bureaucrat in the Ministry of Defense who likes Scotch and hates his boss. Your job is to make him love you. You listen to his problems. You remember his children's birthdays. You slowly, methodically, erode his sense of loyalty to his country until he is handing you photocopies of troop movements in exchange for envelopes of cash.\n\nYou feel a rush of power the first time he hands you a classified folder. It's better than any drug. But then comes the \"burn.\" You realize that if this man is caught, he will be executed, and you will simply be declared *persona non grata* and flown home in business class. You stay up late staring at the ceiling, wondering if you actually like him, or if you just like the information. You realize the \"relationship\" is a meticulously constructed lie. You are a professional friend, and your friendship is a weapon."
              },
              {
                "level": 3,
                "title": "The Black Roofer",
                "content": "You have been moved from the \"Light\" side to the \"Dark\" side. You are no longer at the Embassy. You are now part of the Special Operations Group—the SOG. You are a \"Black Roofer\".\n\nYou are a Tier 1 operator, likely former Delta or SEAL Team 6, seconded to the Agency. You don't have a badge anymore. If you are captured, the U.S. government will claim they have never heard of you. You are in a \"denied area\"—a country where we are not officially at war.\n\nIt is 2:00 AM in a suburb of Karachi. You are wearing local clothes and carrying a suppressed submachine gun with no serial numbers. Your team is scaling a wall using silent tactical ladders. Your mission isn't to talk to people; it's to \"sanitize\" a room. You move with a fluidity that only comes from ten thousand hours of practice. The door is breached. Three pops of suppressed fire. The target is dead before he can reach for his phone. You don't take a trophy. You take a hard drive and a stack of papers. You are gone in ninety seconds. Back at the safehouse, you clean your weapon in total silence. You realize you haven't spoken a word to another human being in three days. You are becoming a ghost."
              },
              {
                "level": 4,
                "title": "The Paramilitary Chief",
                "content": "You've traded the submachine gun for a satellite phone and a map. You are in the mountains of a country the news doesn't mention. You are the \"Chief of Station\" for a paramilitary base—a Black Site.\n\nYou manage thirty men who don't exist. You spend your days negotiating with local warlords, buying their loyalty with crates of AK-47s and pallets of non-sequential hundred-dollar bills. You are a king in a valley of shadows. You decide who gets a drone strike and who gets a seat at the table.\n\nThe morality gets heavy here. You know the warlord you're funding is a monster who burns villages. But he's *your* monster. He gives you the coordinates for the high-value targets. You sit in a plywood command center, watching a grainy infrared feed from a Predator drone orbiting five miles above. You see a heat signature—a person—exit a house. You give the word: \"Clear to engage.\" You watch the screen flash white. A few seconds later, the person is gone. You go to the mess hall and eat a lukewarm MRE. You don't think about the person you just evaporated. You think about the next three targets on the list."
              },
              {
                "level": 5,
                "title": "The Interrogator",
                "content": "You are transferred to a \"Secondary Location.\" It is a windowless facility in a country that doesn't believe in the Geneva Convention. You are the man in the room.\n\nThe target is a \"HVT\"—a High-Value Target. He has information about a ticking bomb or a mole in the Pentagon. Your job is to break him. You don't use the Hollywood stuff; that doesn't work. You use sleep deprivation. You use white noise at 110 decibels for twenty hours straight. You use the \"Confinement Box.\" You watch him through a one-way mirror. You see a man lose his mind in real-time.\n\nThen, you enter the room. You are the \"Good Cop.\" You bring him water. You offer him a cigarette. You talk about his family. You are the only source of kindness in his hellish world. And eventually, he cracks. He weeps into your shoulder and tells you everything. You feel a deep, sickening sense of accomplishment. You've reached into a man's soul and pulled out the truth. When you go back to your hotel, you scrub your hands until they are raw, but you can still smell the sweat and fear from the room."
              },
              {
                "level": 6,
                "title": "The Deputy Director of Operations (DDO)",
                "content": "You are back in Langley. You have a corner office with a view of the woods. You wear a three-piece suit. You are \"Seventh Floor\".\n\nYou are no longer in the field, but the field is always in your ear. You balance a $2 billion black budget. You sit in the Situation Room with the President, explaining why a covert coup in Central America is \"the only viable path for regional stability.\" You speak in euphemisms. You don't say \"kill\"; you say \"neutralize.\" You don't say \"unlawful\"; you say \"extra-legal.\"\n\nYou realize your job is to keep the secrets buried deep enough that the public never has to feel guilty. You are the person who signs the execution orders. You are the one who decides which of your officers is \"expendable\" when a mission goes sideways. You look at the wall in the main lobby—the one with the stars carved into the marble for every officer who died in the line of duty. You know exactly which stars were your fault. You sleep four hours a night. Your spouse left you years ago because you couldn't tell them where you were going for weeks at a time. Your children call you by your first name."
              },
              {
                "level": 7,
                "title": "The Legend",
                "content": "You are seventy years old. You are retired, but you aren't really retired. You live on a farm in Virginia, surrounded by high-tech security fences and cameras. You have a \"handler\" from the agency who checks on you once a week to make sure your mind isn't slipping. You carry too many secrets for your brain to hold comfortably.\n\nYou spend your days gardening. You look like any other grandfather. But sometimes, when the wind catches the trees, you're back in a jungle in 1985, or a basement in Beirut. You see the faces of the men you burned and the assets you abandoned. You wonder if the world is actually safer because of what you did, or if you just moved the pieces around on a board that never ends.\n\nOne afternoon, a young man knocks on your door. He's twenty-four, fit, with a degree in international relations and a look of desperate ambition in his eyes. He's part of a new \"vetting\" process. He wants to know about the \"pioneer days.\" He looks at you with awe, as if you're a hero.\n\nYou look at his clean, unscarred hands. You think about the brush passes, the black sites, the white noise, and the stars on the wall. You invite him in. You offer him a glass of Scotch. And as you begin to tell him a version of the truth—the version he's allowed to hear—you realize the cycle is starting again. You were once him. And thirty years from now, he will be sitting in a chair just like yours, wondering when the rain will finally wash the secrets away. You pour him another drink and begin. \"The first thing you have to understand,\" you say, \"is that you are about to become a very professional liar.\""
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Execute Video Workflow": [
      {
        "json": {
          "Base ID": "p3l64neoyynn30b",
          "Channel Sheet ID": "m5s88g69xzb08wl",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guys-channel/videos",
          "output": {
            "chapters": [
              {
                "level": 1,
                "title": "The Walk-In",
                "content": "You are standing on a rain-slicked sidewalk in a city whose name you cannot tell your parents. You are twenty-four years old. You have a degree in international relations, a minor in Mandarin, and a fitness level that suggests you've never missed a morning run in your life. You are currently staring at a nondescript office building in Northern Virginia. To the world, this is just a government contractor's headquarters. To you, it is the threshold.\n\nThe recruitment process was a year of silence interrupted by sudden, invasive questions. They've mapped your debt, your sexual history, and the exact reason you stopped talking to your college roommate. Now, you step through the glass doors. You are given a blue badge. It is the lowest rung on the ladder. You are a trainee at the Farm.\n\nYour days are no longer yours. You learn the \"Art of the Brush Pass\"—how to hand off a micro-SD card in a crowded subway without breaking stride. You learn the \"Dead Drop\"—how to hide a brick of cash in a hollowed-out stone near a park bench. Most importantly, you learn the \"SDR,\" the Surveillance Detection Route. You spend six hours driving in circles, turning into dead-end alleys, and stopping at gas stations just to see if the same gray sedan is still three cars back. You learn that if someone follows you for more than three turns, your life as a normal citizen is over. You graduate, not with a ceremony, but with a plane ticket to a Third World capital and a \"clean\" phone. You aren't an officer yet. You are an asset-in-waiting."
              },
              {
                "level": 2,
                "title": "The Case Officer",
                "content": "You are living in a villa in Amman. Your official title is \"Junior Economic Attaché\" at the Embassy. You spend your days looking at spreadsheets and attending boring cocktail parties. But your real work begins at 11:00 PM.\n\nYou have your first \"asset.\" He is a mid-level bureaucrat in the Ministry of Defense who likes Scotch and hates his boss. Your job is to make him love you. You listen to his problems. You remember his children's birthdays. You slowly, methodically, erode his sense of loyalty to his country until he is handing you photocopies of troop movements in exchange for envelopes of cash.\n\nYou feel a rush of power the first time he hands you a classified folder. It's better than any drug. But then comes the \"burn.\" You realize that if this man is caught, he will be executed, and you will simply be declared *persona non grata* and flown home in business class. You stay up late staring at the ceiling, wondering if you actually like him, or if you just like the information. You realize the \"relationship\" is a meticulously constructed lie. You are a professional friend, and your friendship is a weapon."
              },
              {
                "level": 3,
                "title": "The Black Roofer",
                "content": "You have been moved from the \"Light\" side to the \"Dark\" side. You are no longer at the Embassy. You are now part of the Special Operations Group—the SOG. You are a \"Black Roofer\".\n\nYou are a Tier 1 operator, likely former Delta or SEAL Team 6, seconded to the Agency. You don't have a badge anymore. If you are captured, the U.S. government will claim they have never heard of you. You are in a \"denied area\"—a country where we are not officially at war.\n\nIt is 2:00 AM in a suburb of Karachi. You are wearing local clothes and carrying a suppressed submachine gun with no serial numbers. Your team is scaling a wall using silent tactical ladders. Your mission isn't to talk to people; it's to \"sanitize\" a room. You move with a fluidity that only comes from ten thousand hours of practice. The door is breached. Three pops of suppressed fire. The target is dead before he can reach for his phone. You don't take a trophy. You take a hard drive and a stack of papers. You are gone in ninety seconds. Back at the safehouse, you clean your weapon in total silence. You realize you haven't spoken a word to another human being in three days. You are becoming a ghost."
              },
              {
                "level": 4,
                "title": "The Paramilitary Chief",
                "content": "You've traded the submachine gun for a satellite phone and a map. You are in the mountains of a country the news doesn't mention. You are the \"Chief of Station\" for a paramilitary base—a Black Site.\n\nYou manage thirty men who don't exist. You spend your days negotiating with local warlords, buying their loyalty with crates of AK-47s and pallets of non-sequential hundred-dollar bills. You are a king in a valley of shadows. You decide who gets a drone strike and who gets a seat at the table.\n\nThe morality gets heavy here. You know the warlord you're funding is a monster who burns villages. But he's *your* monster. He gives you the coordinates for the high-value targets. You sit in a plywood command center, watching a grainy infrared feed from a Predator drone orbiting five miles above. You see a heat signature—a person—exit a house. You give the word: \"Clear to engage.\" You watch the screen flash white. A few seconds later, the person is gone. You go to the mess hall and eat a lukewarm MRE. You don't think about the person you just evaporated. You think about the next three targets on the list."
              },
              {
                "level": 5,
                "title": "The Interrogator",
                "content": "You are transferred to a \"Secondary Location.\" It is a windowless facility in a country that doesn't believe in the Geneva Convention. You are the man in the room.\n\nThe target is a \"HVT\"—a High-Value Target. He has information about a ticking bomb or a mole in the Pentagon. Your job is to break him. You don't use the Hollywood stuff; that doesn't work. You use sleep deprivation. You use white noise at 110 decibels for twenty hours straight. You use the \"Confinement Box.\" You watch him through a one-way mirror. You see a man lose his mind in real-time.\n\nThen, you enter the room. You are the \"Good Cop.\" You bring him water. You offer him a cigarette. You talk about his family. You are the only source of kindness in his hellish world. And eventually, he cracks. He weeps into your shoulder and tells you everything. You feel a deep, sickening sense of accomplishment. You've reached into a man's soul and pulled out the truth. When you go back to your hotel, you scrub your hands until they are raw, but you can still smell the sweat and fear from the room."
              },
              {
                "level": 6,
                "title": "The Deputy Director of Operations (DDO)",
                "content": "You are back in Langley. You have a corner office with a view of the woods. You wear a three-piece suit. You are \"Seventh Floor\".\n\nYou are no longer in the field, but the field is always in your ear. You balance a $2 billion black budget. You sit in the Situation Room with the President, explaining why a covert coup in Central America is \"the only viable path for regional stability.\" You speak in euphemisms. You don't say \"kill\"; you say \"neutralize.\" You don't say \"unlawful\"; you say \"extra-legal.\"\n\nYou realize your job is to keep the secrets buried deep enough that the public never has to feel guilty. You are the person who signs the execution orders. You are the one who decides which of your officers is \"expendable\" when a mission goes sideways. You look at the wall in the main lobby—the one with the stars carved into the marble for every officer who died in the line of duty. You know exactly which stars were your fault. You sleep four hours a night. Your spouse left you years ago because you couldn't tell them where you were going for weeks at a time. Your children call you by your first name."
              },
              {
                "level": 7,
                "title": "The Legend",
                "content": "You are seventy years old. You are retired, but you aren't really retired. You live on a farm in Virginia, surrounded by high-tech security fences and cameras. You have a \"handler\" from the agency who checks on you once a week to make sure your mind isn't slipping. You carry too many secrets for your brain to hold comfortably.\n\nYou spend your days gardening. You look like any other grandfather. But sometimes, when the wind catches the trees, you're back in a jungle in 1985, or a basement in Beirut. You see the faces of the men you burned and the assets you abandoned. You wonder if the world is actually safer because of what you did, or if you just moved the pieces around on a board that never ends.\n\nOne afternoon, a young man knocks on your door. He's twenty-four, fit, with a degree in international relations and a look of desperate ambition in his eyes. He's part of a new \"vetting\" process. He wants to know about the \"pioneer days.\" He looks at you with awe, as if you're a hero.\n\nYou look at his clean, unscarred hands. You think about the brush passes, the black sites, the white noise, and the stars on the wall. You invite him in. You offer him a glass of Scotch. And as you begin to tell him a version of the truth—the version he's allowed to hear—you realize the cycle is starting again. You were once him. And thirty years from now, he will be sitting in a chair just like yours, wondering when the rain will finally wash the secrets away. You pour him another drink and begin. \"The first thing you have to understand,\" you say, \"is that you are about to become a very professional liar.\""
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8nmanamagementserver",
  "repo_owner": "typespectrum-dev",
  "repo_path": "workflows/n8n-second/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-02T04:15:24.690Z",
      "createdAt": "2026-06-02T04:15:24.690Z",
      "role": "workflow:owner",
      "workflowId": "LXcRF7vt9F10hGYp",
      "projectId": "CBMgvnupThQ6ZdzY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-10T04:46:35.546Z",
  "versionId": "2f715ba4-3ae0-4197-9fc0-e5eb46782223"
}