2026/06/LXcRF7vt9F10hGYp.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Get Video Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Ideas": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check For Processing": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Check For Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter for Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for Queued": {
      "main": [
        [
          {
            "node": "Limit to 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1": {
      "main": [
        [
          {
            "node": "Set Status Queued -> Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Queued -> Processing": {
      "main": [
        [
          {
            "node": "Update Project URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Project URL": {
      "main": [
        [
          {
            "node": "Script Workflow Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Workflow Settings": {
      "main": [
        [
          {
            "node": "Execute Script Subworkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Script Subworkflow": {
      "main": [
        [
          {
            "node": "Video Workflow Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Workflow Settings": {
      "main": [
        [
          {
            "node": "Call 'Video Generation Workflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-02T04:15:24.690Z",
  "id": "LXcRF7vt9F10hGYp",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Organizer Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5280,
        -16
      ],
      "id": "e9487805-4dcf-4408-b54d-90a1c42c8923",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34260f35-f5de-4224-ad15-d0cbe28e3b0a",
              "name": "Base ID",
              "value": "p3l64neoyynn30b",
              "type": "string"
            },
            {
              "id": "01d1ea45-d28d-4805-bfc2-c04e46055a3f",
              "name": "Channel Sheet ID",
              "value": "m5s88g69xzb08wl",
              "type": "string"
            },
            {
              "id": "3e3a1572-912f-474e-85e8-d08a857e928c",
              "name": "Worker Sheet ID",
              "value": "mh5uzwjzhyyaim7",
              "type": "string"
            },
            {
              "id": "d0168d49-8817-400e-be6f-94daf001b43a",
              "name": "Character Reference URL",
              "value": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
              "type": "string"
            },
            {
              "id": "066be89a-a614-421d-9b73-8746f50275ce",
              "name": "Storage Bucket",
              "value": "pov-guy",
              "type": "string"
            },
            {
              "id": "cff569af-5d5c-426e-b890-4844ac8a7d0d",
              "name": "Videos Path",
              "value": "pov-guy-channel/videos",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5056,
        -16
      ],
      "id": "22f3b756-1510-42a1-b2fc-6e3cbe674385",
      "name": "Settings"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "search",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $json['Channel Sheet ID'] }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -4848,
        -16
      ],
      "id": "979787bf-9d23-4360-b33b-f51ef3e17a95",
      "name": "Get Video Ideas",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d26435d8-08e7-451a-87df-03d2d810c06d",
              "leftValue": "={{ JSON.stringify($json.data) }}",
              "rightValue": "Processing",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4496,
        -16
      ],
      "id": "5f5db230-3abc-4bc0-a0ac-a2d4a5d32f49",
      "name": "Check For Processing"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -4656,
        -16
      ],
      "id": "3b61fc6a-ee8f-42b9-9c11-55c671e3db1c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4288,
        -16
      ],
      "id": "c61d4a80-f8b2-4f28-8b6e-6d0354036613",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5c3f4cec-cb55-448b-8fc9-150a7bfb727b",
              "leftValue": "={{ $json.fields.Progress }}",
              "rightValue": "Queued",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -4064,
        -16
      ],
      "id": "014d8a6f-35b2-4da7-b7aa-a0131f914bfa",
      "name": "Filter for Queued"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -3872,
        -16
      ],
      "id": "2100a5b0-992a-4532-ba4a-e800680ca88b",
      "name": "Limit to 1"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('Settings').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('Settings').first().json['Channel Sheet ID'] }}",
          "mode": "id"
        },
        "id": "={{ $json.id }}",
        "fieldsMapper": {
          "mappingMode": "defineBelow",
          "value": {
            "Progress": "Processing"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Progress",
              "displayName": "Progress",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project URL",
              "displayName": "Project URL",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -3680,
        -16
      ],
      "id": "1dcd4e9b-8260-4456-98bb-665fe3e9eb29",
      "name": "Set Status Queued -> Processing",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "projectId": {
          "__rl": true,
          "value": "={{ $('Settings').first().json['Base ID'] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('Settings').first().json['Channel Sheet ID'] }}",
          "mode": "id"
        },
        "id": "={{ $('Limit to 1').first().json.id }}",
        "fieldsMapper": {
          "mappingMode": "defineBelow",
          "value": {
            "Project URL": "=https://minio.n8ntypespectrum.cfd/browser/pov-guy/pov-guy-channel%2Fvideos%2F{{ $('Limit to 1').first().json.fields['Video Title'].replaceAll(\" \", \"_\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Progress",
              "displayName": "Progress",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project URL",
              "displayName": "Project URL",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        -3392,
        -16
      ],
      "id": "312ce447-ffc6-40cd-820e-477302fba69b",
      "name": "Update Project URL",
      "credentials": {
        "nocoDbApiToken": {
          "id": "1gvRq0BbKFPkQsOh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "662d6db2-b097-4823-a459-45438c4a26be",
              "name": "fields['Video Title']",
              "value": "={{ $('Limit to 1').first().json.fields['Video Title'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3184,
        -16
      ],
      "id": "1ad7e118-450f-4ec2-8570-94a0eadce701",
      "name": "Script Workflow Settings"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t1mxK71tDXvwMxMb",
          "mode": "id",
          "cachedResultUrl": "/workflow/t1mxK71tDXvwMxMb"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2992,
        -16
      ],
      "id": "b25c60c5-8d0e-4528-9015-88886ea92d3d",
      "name": "Execute Script Subworkflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34260f35-f5de-4224-ad15-d0cbe28e3b0a",
              "name": "Base ID",
              "value": "={{ $('Settings').first().json['Base ID'] }}",
              "type": "string"
            },
            {
              "id": "01d1ea45-d28d-4805-bfc2-c04e46055a3f",
              "name": "Channel Sheet ID",
              "value": "={{ $('Settings').first().json['Channel Sheet ID'] }}",
              "type": "string"
            },
            {
              "id": "3e3a1572-912f-474e-85e8-d08a857e928c",
              "name": "Worker Sheet ID",
              "value": "={{ $('Settings').first().json['Worker Sheet ID'] }}",
              "type": "string"
            },
            {
              "id": "d0168d49-8817-400e-be6f-94daf001b43a",
              "name": "Character Reference URL",
              "value": "={{ $('Settings').first().json['Character Reference URL'] }}",
              "type": "string"
            },
            {
              "id": "066be89a-a614-421d-9b73-8746f50275ce",
              "name": "Storage Bucket",
              "value": "={{ $('Settings').first().json['Storage Bucket'] }}",
              "type": "string"
            },
            {
              "id": "cff569af-5d5c-426e-b890-4844ac8a7d0d",
              "name": "Videos Path",
              "value": "={{ $('Settings').first().json['Videos Path'] }}",
              "type": "string"
            },
            {
              "id": "2a05adf2-5fc6-45ba-972d-4ebbcdd9498e",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2752,
        -16
      ],
      "id": "d2f5a133-6e1b-4946-aa0c-1151e4444536",
      "name": "Video Workflow Settings"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EB6ZxVBh9wX1Dixp",
          "mode": "id",
          "cachedResultUrl": "/workflow/EB6ZxVBh9wX1Dixp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2528,
        -32
      ],
      "id": "531fa9f1-5938-48ac-bda8-fa371f3179db",
      "name": "Call 'Video Generation Workflow'"
    }
  ],
  "pinData": {
    "Settings": [
      {
        "json": {
          "Base ID": "p3l64neoyynn30b",
          "Channel Sheet ID": "m5s88g69xzb08wl",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guy-channel/videos"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Video Ideas": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-06-21 01:46:34+00:00",
            "Progress": "Queued",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 2,
          "id_fields": {
            "Id": 2
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:38+00:00",
            "UpdatedAt": "2026-06-01 04:48:57+00:00",
            "Progress": "Queued",
            "Video Title": " POV: You're an Agent for the Agency That Doesn't Exist",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 3,
          "id_fields": {
            "Id": 3
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:39+00:00",
            "UpdatedAt": "2026-06-01 04:49:00+00:00",
            "Progress": "Queued",
            "Video Title": " Your Life as Every Level of Military Sniper",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 4,
          "id_fields": {
            "Id": 4
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:40+00:00",
            "UpdatedAt": "2026-06-01 04:49:02+00:00",
            "Progress": "Queued",
            "Video Title": "POV: You're a Corrupt Cop on the Cartel's Payroll",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 5,
          "id_fields": {
            "Id": 5
          },
          "fields": {
            "CreatedAt": "2026-06-11 04:48:02+00:00",
            "UpdatedAt": null,
            "Progress": null,
            "Video Title": null,
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Aggregate": [
      {
        "json": {
          "data": [
            {
              "id": 1,
              "id_fields": {
                "Id": 1
              },
              "fields": {
                "CreatedAt": "2026-06-01 04:39:36+00:00",
                "UpdatedAt": "2026-06-21 01:46:34+00:00",
                "Progress": "Queued",
                "Video Title": "Your Life as Every CIA Black Ops Rank",
                "Project URL": null
              }
            },
            {
              "id": 2,
              "id_fields": {
                "Id": 2
              },
              "fields": {
                "CreatedAt": "2026-06-01 04:39:38+00:00",
                "UpdatedAt": "2026-06-01 04:48:57+00:00",
                "Progress": "Queued",
                "Video Title": " POV: You're an Agent for the Agency That Doesn't Exist",
                "Project URL": null
              }
            },
            {
              "id": 3,
              "id_fields": {
                "Id": 3
              },
              "fields": {
                "CreatedAt": "2026-06-01 04:39:39+00:00",
                "UpdatedAt": "2026-06-01 04:49:00+00:00",
                "Progress": "Queued",
                "Video Title": " Your Life as Every Level of Military Sniper",
                "Project URL": null
              }
            },
            {
              "id": 4,
              "id_fields": {
                "Id": 4
              },
              "fields": {
                "CreatedAt": "2026-06-01 04:39:40+00:00",
                "UpdatedAt": "2026-06-01 04:49:02+00:00",
                "Progress": "Queued",
                "Video Title": "POV: You're a Corrupt Cop on the Cartel's Payroll",
                "Project URL": null
              }
            },
            {
              "id": 5,
              "id_fields": {
                "Id": 5
              },
              "fields": {
                "CreatedAt": "2026-06-11 04:48:02+00:00",
                "UpdatedAt": null,
                "Progress": null,
                "Video Title": null,
                "Project URL": null
              }
            }
          ]
        },
        "pairedItem": [
          {
            "item": 0
          },
          {
            "item": 1
          },
          {
            "item": 2
          },
          {
            "item": 3
          },
          {
            "item": 4
          }
        ]
      }
    ],
    "Split Out": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-06-21 01:46:34+00:00",
            "Progress": "Queued",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 2,
          "id_fields": {
            "Id": 2
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:38+00:00",
            "UpdatedAt": "2026-06-01 04:48:57+00:00",
            "Progress": "Queued",
            "Video Title": " POV: You're an Agent for the Agency That Doesn't Exist",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 3,
          "id_fields": {
            "Id": 3
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:39+00:00",
            "UpdatedAt": "2026-06-01 04:49:00+00:00",
            "Progress": "Queued",
            "Video Title": " Your Life as Every Level of Military Sniper",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 4,
          "id_fields": {
            "Id": 4
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:40+00:00",
            "UpdatedAt": "2026-06-01 04:49:02+00:00",
            "Progress": "Queued",
            "Video Title": "POV: You're a Corrupt Cop on the Cartel's Payroll",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 5,
          "id_fields": {
            "Id": 5
          },
          "fields": {
            "CreatedAt": "2026-06-11 04:48:02+00:00",
            "UpdatedAt": null,
            "Progress": null,
            "Video Title": null,
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Filter for Queued": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-06-21 01:46:34+00:00",
            "Progress": "Queued",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 2,
          "id_fields": {
            "Id": 2
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:38+00:00",
            "UpdatedAt": "2026-06-01 04:48:57+00:00",
            "Progress": "Queued",
            "Video Title": " POV: You're an Agent for the Agency That Doesn't Exist",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "id": 3,
          "id_fields": {
            "Id": 3
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:39+00:00",
            "UpdatedAt": "2026-06-01 04:49:00+00:00",
            "Progress": "Queued",
            "Video Title": " Your Life as Every Level of Military Sniper",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "id": 4,
          "id_fields": {
            "Id": 4
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:40+00:00",
            "UpdatedAt": "2026-06-01 04:49:02+00:00",
            "Progress": "Queued",
            "Video Title": "POV: You're a Corrupt Cop on the Cartel's Payroll",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 3
        }
      }
    ],
    "Limit to 1": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-06-21 01:46:34+00:00",
            "Progress": "Queued",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Set Status Queued -> Processing": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-06-21 01:47:07+00:00",
            "Progress": "Processing",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Update Project URL": [
      {
        "json": {
          "id": 1,
          "id_fields": {
            "Id": 1
          },
          "fields": {
            "CreatedAt": "2026-06-01 04:39:36+00:00",
            "UpdatedAt": "2026-06-21 01:47:08+00:00",
            "Progress": "Processing",
            "Video Title": "Your Life as Every CIA Black Ops Rank",
            "Project URL": "https://minio.n8ntypespectrum.cfd/browser/pov-guy/pov-guy-channel%2Fvideos%2FYour_Life_as_Every_CIA_Black_Ops_Rank"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Execute Script Subworkflow": [
      {
        "json": {
          "output": {
            "levels": [
              {
                "level_number": 1,
                "title": "The Prospect",
                "content": "The letter doesn't come in the mail. It's a tap on the shoulder during a graduate seminar on international relations, or a quiet conversation at the end of an embassy internship. You are twenty-four, you speak three languages, and you have no criminal record. You think you're being chosen for your intellect. You aren't. You're being chosen because you have no tether to the world that can't be cut.\n\nYou arrive at a nondescript office building in Northern Virginia. The air smells of industrial carpet cleaner and burnt coffee. You sit in a plastic chair for six hours. No phone. No book. Just you and a wall. This is the first test: the capacity for stillness. When the door finally opens, the man who greets you doesn't give a name. He gives you a psychological evaluation that lasts three days. They ask about your childhood, your sexual preferences, the time you stole a candy bar at age seven, and how you feel about the concept of \"the greater good.\"\n\nBy the time you leave, you feel exposed, raw, and oddly grateful. They know everything about you, which means you don't have to hide from them. You are told to go home, tell your parents you got a job in \"logistics\" for the Department of State, and wait. Three months of silence follow. You start to doubt it was real. Then, a plane ticket appears in your inbox. No return date.",
                "word_count": 216
              },
              {
                "level_number": 2,
                "title": "The Student",
                "content": "You are at The Farm. Officially, it's Peary, a military installation in Virginia, but to you, it is the world. Your life is now a sequence of \"evolutions.\" You spend your mornings learning the \"Standardized Reporting\" format—how to write a cable so dry and factual it could put a reader to sleep, yet so precise it could trigger a drone strike.\n\nIn the afternoons, you learn the trade. You learn the \"Dead Drop\"—finding a loose brick in a park wall where a thumb drive can be left. You learn the \"Brush Pass\"—exchanging a newspaper with a stranger in a crowded metro station without breaking stride. You learn the \"Bumper Lock\"—following a car through heavy traffic without ever being closer than three vehicles away, yet never losing sight of their taillights.\n\nThen come the \"Red Cells.\" You are dropped in the middle of a city with fifty dollars and a fabricated identity. You are hunted by instructors who know every trick you've just been taught. You spend forty-eight hours sleeping in dumpsters and shivering in 24-hour diners, watching the door. You realize that your greatest asset isn't a weapon; it's the ability to look like someone who doesn't belong where they are, yet somehow fits perfectly. You graduate in a small, windowless room. No ceremony. No family. Just a laminated badge and a plane ticket to a country you can't point to on a map without a classified briefing.",
                "word_count": 223
              },
              {
                "level_number": 3,
                "title": "The Case Officer",
                "content": "You are now a \"C.O.\" stationed at a small station in Southeast Asia or Eastern Europe. To the local community, you are a Junior Economic Attaché. You attend boring cocktail parties. You drink lukewarm champagne and talk about trade tariffs. But your eyes are always moving.\n\nYou are looking for \"access.\" You need the disgruntled colonel, the lonely clerk in the Ministry of Defense, the mistress of the telecom mogul. You find a target. Let's call him \"The Source.\" You spend six months grooming him. You find out his daughter needs a kidney transplant. You find out he feels undervalued by his superiors. You become his best friend. You are the only person in the world who truly understands him.\n\nThe first time you hand him an envelope of cash, your heart hammers against your ribs. This is \"The Pitch.\" If he says no, your career is over and you might be expelled from the country. If he says yes, you own him. You spend the next two years meeting him in damp alleyways and parked cars. You milk him for every secret he has. One night, he tells you he's being watched. He's terrified. You look him in the eye and tell him he's safe, that the Agency will protect him. You know it's a lie. If things go bad, he is an \"expendable asset.\" You go home, write your cable, and sleep like a baby. The compartmentalization has begun.",
                "word_count": 233
              },
              {
                "level_number": 4,
                "title": "The Paramilitary Operations Officer",
                "content": "The suit is gone. You are now part of the Special Operations Group (SOG). You've been handpicked because you don't just gather information; you act on it. You are sent to a \"Black Site\" in a desert or a jungle. You wear local clothes, grow a beard, and carry a weapon that doesn't exist on any official manifest.\n\nYour life is defined by the \"Direct Action\" mission. You aren't recruiting sources anymore; you are \"servicing targets.\" You spend your nights looking through the grainy green glow of Night Vision Goggles. You learn the rhythm of the \"Kill-Capture\" cycle. You fast-rope from helicopters, breach doors with silent explosives, and vanish before the sun comes up.\n\nThe moral weight starts to shift. In the field, there is no \"State Department\" cover. There is only the team and the objective. You see things that will never be reported in the news. You participate in \"Enhanced Interrogations,\" standing in the corner of a stone room while a man screams. You tell yourself it's about the \"Actionable Intelligence.\" You tell yourself that the bomb he knows about would kill hundreds. You find that you can shut off the part of your brain that feels empathy like flipping a light switch. It's a survival mechanism. It's also a poison.",
                "word_count": 207
              },
              {
                "level_number": 5,
                "title": "The Chief of Station",
                "content": "You are back in a suit, but it's a better suit now. You are the \"C.O.S.\" You sit in a secure room—a SCIF—inside an embassy. You are the shadow governor of the country you're in. The Ambassador thinks he's in charge, but you know the secrets of the people he's negotiating with. You know which cabinet ministers are on the payroll and which ones have bodies in their basements.\n\nYour job is no longer tactical; it's political. You manage the \"Liason Relationship\" with the local intelligence service. They are thugs, but they are *your* thugs. You trade satellite imagery for the right to use their prisons. You spend your days managing the egos of your officers and the expectations of Langley.\n\nThe stress is different now. It's not the physical danger of a firefight; it's the crushing weight of \"Deniability.\" When an operation goes wrong—and it will—you are the one who has to burn the files. You have to look a young officer in the eye and tell them that the source they spent three years recruiting has to be abandoned because the \"Bi-lateral Relationship\" is too important. You watch the source's family get arrested on a grainy feed and you turn off the monitor. You pour a triple scotch. You don't have friends anymore, only colleagues and contacts.",
                "word_count": 210
              },
              {
                "level_number": 6,
                "title": "The Deputy Director of Operations",
                "content": "You are at \"Mother\" now—Langley, Virginia. You have an office with a view of the trees. You are one of the most powerful people in the world, and no one knows your name. You sit at a mahogany table with the National Security Council. You provide the \"options\" that the President doesn't want to hear.\n\nYou are the architect of \"Covert Action.\" You don't see the blood anymore. You see PowerPoints. You see \"Probability of Success\" percentages. You authorize the \"Disruption\" of an election. You approve the \"Neutralization\" of a foreign scientist. You manage a budget of billions that technically doesn't exist.\n\nYou realize that the world isn't a chess board; it's a garden that needs constant, violent pruning. You are the gardener. You are gray-haired, your second marriage has failed, and your children barely speak to you because you've spent thirty years lying about where you were. You feel a profound sense of isolation. You are the only person who knows the true cost of the \"Pax Americana,\" and you can never tell anyone. You are a ghost inhabiting a world of living people.",
                "word_count": 180
              },
              {
                "level_number": 7,
                "title": "The Star",
                "content": "You are retired. You live in a quiet suburb. You have a pension and a consultant job for a defense contractor that pays you five times what you made at the Agency. You play golf. You attend reunions where you speak in code with other ghosts.\n\nSometimes, you visit the lobby of the Original Headquarters Building. You stand before the North Wall. There are over 140 stars carved into the white marble. Each one represents an officer who died in the line of duty. Many have no names in the Book of Honor. They are just dates and locations.\n\nYou look at one star in particular. Maybe it's the kid you sent into the mountains in 2004. Maybe it's the woman who worked for you in the station in '92. You realize that you have outlived your purpose. The secrets you traded your soul for are now declassified or irrelevant. The world moved on, but you stayed in the shadows.\n\nYou walk out of the building. In the parking lot, you see a twenty-four-year-old walking toward the entrance. He looks sharp, eager, and full of a quiet, intellectual pride. He's been chosen for his intellect, he thinks. He has no idea that he is about to be hollowed out. You catch his eye for a second. You want to say something, to warn him, to tell him that the \"greater good\" is a hungry god that never stops eating.\n\nInstead, you just nod. You get into your car and drive away, checking your rearview mirror three times out of habit, even though you know no one is following you. You are finally invisible. And that is the most terrifying rank of all.",
                "word_count": 272
              }
            ]
          }
        }
      }
    ],
    "Script Workflow Settings": [
      {
        "json": {
          "fields": {
            "Video Title": "Your Life as Every CIA Black Ops Rank"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Video Workflow Settings": [
      {
        "json": {
          "Base ID": "p3l64neoyynn30b",
          "Channel Sheet ID": "m5s88g69xzb08wl",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guy-channel/videos",
          "output": {
            "levels": [
              {
                "level_number": 1,
                "title": "The Prospect",
                "content": "The letter doesn't come in the mail. It's a tap on the shoulder during a graduate seminar on international relations, or a quiet conversation at the end of an embassy internship. You are twenty-four, you speak three languages, and you have no criminal record. You think you're being chosen for your intellect. You aren't. You're being chosen because you have no tether to the world that can't be cut.\n\nYou arrive at a nondescript office building in Northern Virginia. The air smells of industrial carpet cleaner and burnt coffee. You sit in a plastic chair for six hours. No phone. No book. Just you and a wall. This is the first test: the capacity for stillness. When the door finally opens, the man who greets you doesn't give a name. He gives you a psychological evaluation that lasts three days. They ask about your childhood, your sexual preferences, the time you stole a candy bar at age seven, and how you feel about the concept of \"the greater good.\"\n\nBy the time you leave, you feel exposed, raw, and oddly grateful. They know everything about you, which means you don't have to hide from them. You are told to go home, tell your parents you got a job in \"logistics\" for the Department of State, and wait. Three months of silence follow. You start to doubt it was real. Then, a plane ticket appears in your inbox. No return date.",
                "word_count": 216
              },
              {
                "level_number": 2,
                "title": "The Student",
                "content": "You are at The Farm. Officially, it's Peary, a military installation in Virginia, but to you, it is the world. Your life is now a sequence of \"evolutions.\" You spend your mornings learning the \"Standardized Reporting\" format—how to write a cable so dry and factual it could put a reader to sleep, yet so precise it could trigger a drone strike.\n\nIn the afternoons, you learn the trade. You learn the \"Dead Drop\"—finding a loose brick in a park wall where a thumb drive can be left. You learn the \"Brush Pass\"—exchanging a newspaper with a stranger in a crowded metro station without breaking stride. You learn the \"Bumper Lock\"—following a car through heavy traffic without ever being closer than three vehicles away, yet never losing sight of their taillights.\n\nThen come the \"Red Cells.\" You are dropped in the middle of a city with fifty dollars and a fabricated identity. You are hunted by instructors who know every trick you've just been taught. You spend forty-eight hours sleeping in dumpsters and shivering in 24-hour diners, watching the door. You realize that your greatest asset isn't a weapon; it's the ability to look like someone who doesn't belong where they are, yet somehow fits perfectly. You graduate in a small, windowless room. No ceremony. No family. Just a laminated badge and a plane ticket to a country you can't point to on a map without a classified briefing.",
                "word_count": 223
              },
              {
                "level_number": 3,
                "title": "The Case Officer",
                "content": "You are now a \"C.O.\" stationed at a small station in Southeast Asia or Eastern Europe. To the local community, you are a Junior Economic Attaché. You attend boring cocktail parties. You drink lukewarm champagne and talk about trade tariffs. But your eyes are always moving.\n\nYou are looking for \"access.\" You need the disgruntled colonel, the lonely clerk in the Ministry of Defense, the mistress of the telecom mogul. You find a target. Let's call him \"The Source.\" You spend six months grooming him. You find out his daughter needs a kidney transplant. You find out he feels undervalued by his superiors. You become his best friend. You are the only person in the world who truly understands him.\n\nThe first time you hand him an envelope of cash, your heart hammers against your ribs. This is \"The Pitch.\" If he says no, your career is over and you might be expelled from the country. If he says yes, you own him. You spend the next two years meeting him in damp alleyways and parked cars. You milk him for every secret he has. One night, he tells you he's being watched. He's terrified. You look him in the eye and tell him he's safe, that the Agency will protect him. You know it's a lie. If things go bad, he is an \"expendable asset.\" You go home, write your cable, and sleep like a baby. The compartmentalization has begun.",
                "word_count": 233
              },
              {
                "level_number": 4,
                "title": "The Paramilitary Operations Officer",
                "content": "The suit is gone. You are now part of the Special Operations Group (SOG). You've been handpicked because you don't just gather information; you act on it. You are sent to a \"Black Site\" in a desert or a jungle. You wear local clothes, grow a beard, and carry a weapon that doesn't exist on any official manifest.\n\nYour life is defined by the \"Direct Action\" mission. You aren't recruiting sources anymore; you are \"servicing targets.\" You spend your nights looking through the grainy green glow of Night Vision Goggles. You learn the rhythm of the \"Kill-Capture\" cycle. You fast-rope from helicopters, breach doors with silent explosives, and vanish before the sun comes up.\n\nThe moral weight starts to shift. In the field, there is no \"State Department\" cover. There is only the team and the objective. You see things that will never be reported in the news. You participate in \"Enhanced Interrogations,\" standing in the corner of a stone room while a man screams. You tell yourself it's about the \"Actionable Intelligence.\" You tell yourself that the bomb he knows about would kill hundreds. You find that you can shut off the part of your brain that feels empathy like flipping a light switch. It's a survival mechanism. It's also a poison.",
                "word_count": 207
              },
              {
                "level_number": 5,
                "title": "The Chief of Station",
                "content": "You are back in a suit, but it's a better suit now. You are the \"C.O.S.\" You sit in a secure room—a SCIF—inside an embassy. You are the shadow governor of the country you're in. The Ambassador thinks he's in charge, but you know the secrets of the people he's negotiating with. You know which cabinet ministers are on the payroll and which ones have bodies in their basements.\n\nYour job is no longer tactical; it's political. You manage the \"Liason Relationship\" with the local intelligence service. They are thugs, but they are *your* thugs. You trade satellite imagery for the right to use their prisons. You spend your days managing the egos of your officers and the expectations of Langley.\n\nThe stress is different now. It's not the physical danger of a firefight; it's the crushing weight of \"Deniability.\" When an operation goes wrong—and it will—you are the one who has to burn the files. You have to look a young officer in the eye and tell them that the source they spent three years recruiting has to be abandoned because the \"Bi-lateral Relationship\" is too important. You watch the source's family get arrested on a grainy feed and you turn off the monitor. You pour a triple scotch. You don't have friends anymore, only colleagues and contacts.",
                "word_count": 210
              },
              {
                "level_number": 6,
                "title": "The Deputy Director of Operations",
                "content": "You are at \"Mother\" now—Langley, Virginia. You have an office with a view of the trees. You are one of the most powerful people in the world, and no one knows your name. You sit at a mahogany table with the National Security Council. You provide the \"options\" that the President doesn't want to hear.\n\nYou are the architect of \"Covert Action.\" You don't see the blood anymore. You see PowerPoints. You see \"Probability of Success\" percentages. You authorize the \"Disruption\" of an election. You approve the \"Neutralization\" of a foreign scientist. You manage a budget of billions that technically doesn't exist.\n\nYou realize that the world isn't a chess board; it's a garden that needs constant, violent pruning. You are the gardener. You are gray-haired, your second marriage has failed, and your children barely speak to you because you've spent thirty years lying about where you were. You feel a profound sense of isolation. You are the only person who knows the true cost of the \"Pax Americana,\" and you can never tell anyone. You are a ghost inhabiting a world of living people.",
                "word_count": 180
              },
              {
                "level_number": 7,
                "title": "The Star",
                "content": "You are retired. You live in a quiet suburb. You have a pension and a consultant job for a defense contractor that pays you five times what you made at the Agency. You play golf. You attend reunions where you speak in code with other ghosts.\n\nSometimes, you visit the lobby of the Original Headquarters Building. You stand before the North Wall. There are over 140 stars carved into the white marble. Each one represents an officer who died in the line of duty. Many have no names in the Book of Honor. They are just dates and locations.\n\nYou look at one star in particular. Maybe it's the kid you sent into the mountains in 2004. Maybe it's the woman who worked for you in the station in '92. You realize that you have outlived your purpose. The secrets you traded your soul for are now declassified or irrelevant. The world moved on, but you stayed in the shadows.\n\nYou walk out of the building. In the parking lot, you see a twenty-four-year-old walking toward the entrance. He looks sharp, eager, and full of a quiet, intellectual pride. He's been chosen for his intellect, he thinks. He has no idea that he is about to be hollowed out. You catch his eye for a second. You want to say something, to warn him, to tell him that the \"greater good\" is a hungry god that never stops eating.\n\nInstead, you just nod. You get into your car and drive away, checking your rearview mirror three times out of habit, even though you know no one is following you. You are finally invisible. And that is the most terrifying rank of all.",
                "word_count": 272
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Call 'Video Generation Workflow'": [
      {
        "json": {
          "Base ID": "p3l64neoyynn30b",
          "Channel Sheet ID": "m5s88g69xzb08wl",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guy-channel/videos",
          "output": {
            "levels": [
              {
                "level_number": 1,
                "title": "The Prospect",
                "content": "The letter doesn't come in the mail. It's a tap on the shoulder during a graduate seminar on international relations, or a quiet conversation at the end of an embassy internship. You are twenty-four, you speak three languages, and you have no criminal record. You think you're being chosen for your intellect. You aren't. You're being chosen because you have no tether to the world that can't be cut.\n\nYou arrive at a nondescript office building in Northern Virginia. The air smells of industrial carpet cleaner and burnt coffee. You sit in a plastic chair for six hours. No phone. No book. Just you and a wall. This is the first test: the capacity for stillness. When the door finally opens, the man who greets you doesn't give a name. He gives you a psychological evaluation that lasts three days. They ask about your childhood, your sexual preferences, the time you stole a candy bar at age seven, and how you feel about the concept of \"the greater good.\"\n\nBy the time you leave, you feel exposed, raw, and oddly grateful. They know everything about you, which means you don't have to hide from them. You are told to go home, tell your parents you got a job in \"logistics\" for the Department of State, and wait. Three months of silence follow. You start to doubt it was real. Then, a plane ticket appears in your inbox. No return date.",
                "word_count": 216
              },
              {
                "level_number": 2,
                "title": "The Student",
                "content": "You are at The Farm. Officially, it's Peary, a military installation in Virginia, but to you, it is the world. Your life is now a sequence of \"evolutions.\" You spend your mornings learning the \"Standardized Reporting\" format—how to write a cable so dry and factual it could put a reader to sleep, yet so precise it could trigger a drone strike.\n\nIn the afternoons, you learn the trade. You learn the \"Dead Drop\"—finding a loose brick in a park wall where a thumb drive can be left. You learn the \"Brush Pass\"—exchanging a newspaper with a stranger in a crowded metro station without breaking stride. You learn the \"Bumper Lock\"—following a car through heavy traffic without ever being closer than three vehicles away, yet never losing sight of their taillights.\n\nThen come the \"Red Cells.\" You are dropped in the middle of a city with fifty dollars and a fabricated identity. You are hunted by instructors who know every trick you've just been taught. You spend forty-eight hours sleeping in dumpsters and shivering in 24-hour diners, watching the door. You realize that your greatest asset isn't a weapon; it's the ability to look like someone who doesn't belong where they are, yet somehow fits perfectly. You graduate in a small, windowless room. No ceremony. No family. Just a laminated badge and a plane ticket to a country you can't point to on a map without a classified briefing.",
                "word_count": 223
              },
              {
                "level_number": 3,
                "title": "The Case Officer",
                "content": "You are now a \"C.O.\" stationed at a small station in Southeast Asia or Eastern Europe. To the local community, you are a Junior Economic Attaché. You attend boring cocktail parties. You drink lukewarm champagne and talk about trade tariffs. But your eyes are always moving.\n\nYou are looking for \"access.\" You need the disgruntled colonel, the lonely clerk in the Ministry of Defense, the mistress of the telecom mogul. You find a target. Let's call him \"The Source.\" You spend six months grooming him. You find out his daughter needs a kidney transplant. You find out he feels undervalued by his superiors. You become his best friend. You are the only person in the world who truly understands him.\n\nThe first time you hand him an envelope of cash, your heart hammers against your ribs. This is \"The Pitch.\" If he says no, your career is over and you might be expelled from the country. If he says yes, you own him. You spend the next two years meeting him in damp alleyways and parked cars. You milk him for every secret he has. One night, he tells you he's being watched. He's terrified. You look him in the eye and tell him he's safe, that the Agency will protect him. You know it's a lie. If things go bad, he is an \"expendable asset.\" You go home, write your cable, and sleep like a baby. The compartmentalization has begun.",
                "word_count": 233
              },
              {
                "level_number": 4,
                "title": "The Paramilitary Operations Officer",
                "content": "The suit is gone. You are now part of the Special Operations Group (SOG). You've been handpicked because you don't just gather information; you act on it. You are sent to a \"Black Site\" in a desert or a jungle. You wear local clothes, grow a beard, and carry a weapon that doesn't exist on any official manifest.\n\nYour life is defined by the \"Direct Action\" mission. You aren't recruiting sources anymore; you are \"servicing targets.\" You spend your nights looking through the grainy green glow of Night Vision Goggles. You learn the rhythm of the \"Kill-Capture\" cycle. You fast-rope from helicopters, breach doors with silent explosives, and vanish before the sun comes up.\n\nThe moral weight starts to shift. In the field, there is no \"State Department\" cover. There is only the team and the objective. You see things that will never be reported in the news. You participate in \"Enhanced Interrogations,\" standing in the corner of a stone room while a man screams. You tell yourself it's about the \"Actionable Intelligence.\" You tell yourself that the bomb he knows about would kill hundreds. You find that you can shut off the part of your brain that feels empathy like flipping a light switch. It's a survival mechanism. It's also a poison.",
                "word_count": 207
              },
              {
                "level_number": 5,
                "title": "The Chief of Station",
                "content": "You are back in a suit, but it's a better suit now. You are the \"C.O.S.\" You sit in a secure room—a SCIF—inside an embassy. You are the shadow governor of the country you're in. The Ambassador thinks he's in charge, but you know the secrets of the people he's negotiating with. You know which cabinet ministers are on the payroll and which ones have bodies in their basements.\n\nYour job is no longer tactical; it's political. You manage the \"Liason Relationship\" with the local intelligence service. They are thugs, but they are *your* thugs. You trade satellite imagery for the right to use their prisons. You spend your days managing the egos of your officers and the expectations of Langley.\n\nThe stress is different now. It's not the physical danger of a firefight; it's the crushing weight of \"Deniability.\" When an operation goes wrong—and it will—you are the one who has to burn the files. You have to look a young officer in the eye and tell them that the source they spent three years recruiting has to be abandoned because the \"Bi-lateral Relationship\" is too important. You watch the source's family get arrested on a grainy feed and you turn off the monitor. You pour a triple scotch. You don't have friends anymore, only colleagues and contacts.",
                "word_count": 210
              },
              {
                "level_number": 6,
                "title": "The Deputy Director of Operations",
                "content": "You are at \"Mother\" now—Langley, Virginia. You have an office with a view of the trees. You are one of the most powerful people in the world, and no one knows your name. You sit at a mahogany table with the National Security Council. You provide the \"options\" that the President doesn't want to hear.\n\nYou are the architect of \"Covert Action.\" You don't see the blood anymore. You see PowerPoints. You see \"Probability of Success\" percentages. You authorize the \"Disruption\" of an election. You approve the \"Neutralization\" of a foreign scientist. You manage a budget of billions that technically doesn't exist.\n\nYou realize that the world isn't a chess board; it's a garden that needs constant, violent pruning. You are the gardener. You are gray-haired, your second marriage has failed, and your children barely speak to you because you've spent thirty years lying about where you were. You feel a profound sense of isolation. You are the only person who knows the true cost of the \"Pax Americana,\" and you can never tell anyone. You are a ghost inhabiting a world of living people.",
                "word_count": 180
              },
              {
                "level_number": 7,
                "title": "The Star",
                "content": "You are retired. You live in a quiet suburb. You have a pension and a consultant job for a defense contractor that pays you five times what you made at the Agency. You play golf. You attend reunions where you speak in code with other ghosts.\n\nSometimes, you visit the lobby of the Original Headquarters Building. You stand before the North Wall. There are over 140 stars carved into the white marble. Each one represents an officer who died in the line of duty. Many have no names in the Book of Honor. They are just dates and locations.\n\nYou look at one star in particular. Maybe it's the kid you sent into the mountains in 2004. Maybe it's the woman who worked for you in the station in '92. You realize that you have outlived your purpose. The secrets you traded your soul for are now declassified or irrelevant. The world moved on, but you stayed in the shadows.\n\nYou walk out of the building. In the parking lot, you see a twenty-four-year-old walking toward the entrance. He looks sharp, eager, and full of a quiet, intellectual pride. He's been chosen for his intellect, he thinks. He has no idea that he is about to be hollowed out. You catch his eye for a second. You want to say something, to warn him, to tell him that the \"greater good\" is a hungry god that never stops eating.\n\nInstead, you just nod. You get into your car and drive away, checking your rearview mirror three times out of habit, even though you know no one is following you. You are finally invisible. And that is the most terrifying rank of all.",
                "word_count": 272
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8nmanamagementserver",
  "repo_owner": "typespectrum-dev",
  "repo_path": "workflows/n8n-second/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-02T04:15:24.690Z",
      "createdAt": "2026-06-02T04:15:24.690Z",
      "role": "workflow:owner",
      "workflowId": "LXcRF7vt9F10hGYp",
      "projectId": "CBMgvnupThQ6ZdzY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-22T04:03:12.439Z",
  "versionId": "ede42b58-8045-4248-bbb6-46387279ba64"
}