2026/06/oKcy6HGCCMQOaouA.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-28T01:07:31.575Z",
    "createdAt": "2026-06-27T23:38:11.286Z",
    "versionId": "4ca1dc9e-9484-43bf-beb5-bc1e7ffdd473",
    "workflowId": "oKcy6HGCCMQOaouA",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "17bf584e-a551-4989-8184-1214963cebc3",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "resource": "speech",
          "voice": {
            "__rl": true,
            "value": "vr5WKaGvRWsoaX5LCVax",
            "mode": "list",
            "cachedResultName": "Cherie - Smooth, Fluid and Advertisable"
          },
          "text": "={{ JSON.stringify($json.script) }}",
          "additionalOptions": {},
          "requestOptions": {}
        },
        "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
        "typeVersion": 1,
        "position": [
          240,
          0
        ],
        "id": "8abdf527-0a8b-4f49-a1d1-2baac08aea72",
        "name": "Convert text to speech",
        "credentials": {
          "elevenLabsApi": {
            "id": "Aw8Z3cWnQltwLIkR",
            "name": "ElevenLabs account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
          "fileName": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/voiceover.mp3",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          448,
          0
        ],
        "id": "86a21f9b-62a4-4125-a40d-57f91393f551",
        "name": "Upload a file",
        "retryOnFail": false,
        "credentials": {
          "s3": {
            "id": "lMpFToUlFsGHfghm",
            "name": "S3 account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Convert text to speech",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert text to speech": {
        "main": [
          [
            {
              "node": "Upload a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carmelo Iglesias",
    "name": "Version 4ca1dc9e",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "4ca1dc9e-9484-43bf-beb5-bc1e7ffdd473",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-24T04:09:55.729Z",
  "id": "oKcy6HGCCMQOaouA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Chunk Subworkflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "17bf584e-a551-4989-8184-1214963cebc3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "vr5WKaGvRWsoaX5LCVax",
          "mode": "list",
          "cachedResultName": "Cherie - Smooth, Fluid and Advertisable"
        },
        "text": "={{ JSON.stringify($json.script) }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "8abdf527-0a8b-4f49-a1d1-2baac08aea72",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "Aw8Z3cWnQltwLIkR",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
        "fileName": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/voiceover.mp3",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "86a21f9b-62a4-4125-a40d-57f91393f551",
      "name": "Upload a file",
      "retryOnFail": false,
      "credentials": {
        "s3": {
          "id": "lMpFToUlFsGHfghm",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Script:\n{{ $('When Executed by Another Workflow').first().json.script }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        656,
        0
      ],
      "id": "ad220a9f-9ed2-4e71-a060-f4fddba13d17",
      "name": "AI Agent"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "script": "The letter doesn't come in the mail. It's a tap on the shoulder during a graduate seminar on international relations, or a quiet conversation at the end of an embassy internship. You are twenty-four, you speak three languages, and you have no criminal record. You think you're being chosen for your intellect. You aren't. You're being chosen because you have no tether to the world that can't be cut.\n\nYou arrive at a nondescript office building in Northern Virginia. The air smells of industrial carpet cleaner and burnt coffee. You sit in a plastic chair for six hours. No phone. No book. Just you and a wall. This is the first test: the capacity for stillness. When the door finally opens, the man who greets you doesn't give a name. He gives you a psychological evaluation that lasts three days. They ask about your childhood, your sexual preferences, the time you stole a candy bar at age seven, and how you feel about the concept of \"the greater good.\"\n\nBy the time you leave, you feel exposed, raw, and oddly grateful. They know everything about you, which means you don't have to hide from them. You are told to go home, tell your parents you got a job in \"logistics\" for the Department of State, and wait. Three months of silence follow. You start to doubt it was real. Then, a plane ticket appears in your inbox. No return date.",
          "level_number": 1,
          "Title": "The Prospect",
          "Base ID": "p3l64neoyynn30b",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guy-channel/videos",
          "fields": {
            "Video Title": "Your_Life_as_Every_CIA_Black_Ops_Rank"
          }
        }
      }
    ],
    "Convert text to speech": [
      {
        "json": {
          "date": "Sun, 28 Jun 2026 01:09:58 GMT",
          "server": "uvicorn",
          "request-id": "0OIAdOD27Z3Kgfl5vYwz",
          "access-control-expose-headers": "request-id, history-item-id, character-cost, regeneration-count, generation-info, current-concurrent-requests, maximum-concurrent-requests",
          "history-item-id": "w3bNTWRT6jnCipAGWGku",
          "current-concurrent-requests": "2",
          "workspace-concurrent-requests": "2",
          "maximum-concurrent-requests": "5",
          "character-cost": "1348",
          "tts-latency-ms": "2467",
          "content-length": "1539805",
          "content-type": "audio/mpeg",
          "vary": "Accept-Language",
          "access-control-allow-origin": "*",
          "access-control-allow-headers": "*",
          "access-control-allow-methods": "POST, PATCH, OPTIONS, DELETE, GET, PUT",
          "access-control-max-age": "600",
          "strict-transport-security": "max-age=1800;",
          "x-trace-id": "67acd1416d6786f892a5b4ffe94cb72d",
          "x-region": "europe-west4",
          "via": "1.1 google",
          "alt-svc": "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
          "connection": "close"
        },
        "binary": {
          "data": {
            "mimeType": "audio/mp3",
            "fileType": "audio",
            "fileExtension": "mp3",
            "data": "filesystem-v2",
            "fileName": "audio.textToSpeech.mp3",
            "id": "filesystem-v2:workflows/oKcy6HGCCMQOaouA/executions/10063/binary_data/675a79d6-4e4b-47e4-9bd2-3c20bc9ed583",
            "fileSize": "1.54 MB",
            "bytes": 1539805
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Upload a file": [
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8nmanamagementserver",
  "repo_owner": "typespectrum-dev",
  "repo_path": "workflows/n8n-second/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-24T04:09:55.729Z",
      "createdAt": "2026-06-24T04:09:55.729Z",
      "role": "workflow:owner",
      "workflowId": "oKcy6HGCCMQOaouA",
      "projectId": "CBMgvnupThQ6ZdzY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-28T01:51:00.122Z",
  "versionId": "bdd802bf-c3e6-4b1b-8d6b-aa98adf33fbd"
}