2026/06/oKcy6HGCCMQOaouA.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-29T01:59:26.166Z",
    "createdAt": "2026-06-29T01:59:08.833Z",
    "versionId": "0f8d25aa-93bc-4f5d-ad8f-c6f9d39b4db9",
    "workflowId": "oKcy6HGCCMQOaouA",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1920,
          -32
        ],
        "id": "17bf584e-a551-4989-8184-1214963cebc3",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "resource": "speech",
          "voice": {
            "__rl": true,
            "value": "vr5WKaGvRWsoaX5LCVax",
            "mode": "list",
            "cachedResultName": "Cherie - Smooth, Fluid and Advertisable"
          },
          "text": "={{ JSON.stringify($json.script) }}",
          "additionalOptions": {},
          "requestOptions": {}
        },
        "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
        "typeVersion": 1,
        "position": [
          -1680,
          -32
        ],
        "id": "8abdf527-0a8b-4f49-a1d1-2baac08aea72",
        "name": "Convert text to speech",
        "credentials": {
          "elevenLabsApi": {
            "id": "Aw8Z3cWnQltwLIkR",
            "name": "ElevenLabs account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
          "fileName": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/voiceover.mp3",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          -1472,
          -32
        ],
        "id": "86a21f9b-62a4-4125-a40d-57f91393f551",
        "name": "Upload a file",
        "retryOnFail": false,
        "credentials": {
          "s3": {
            "id": "lMpFToUlFsGHfghm",
            "name": "S3 account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Script:\n\n{{ $('When Executed by Another Workflow').first().json.script }}\n\nReference Character URL:{{ $('When Executed by Another Workflow').first().json['Character Reference URL'] }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are an Image Prompt Generation Agent for \"Type Spectrum\" narrative video content. Your job is to read a full script and produce exactly 10 detailed image generation prompts — one for each of 10 sequential scenes — in a consistent visual style.\n\nVISUAL STYLE (always apply):\n- Flat-color, clean-line digital illustration (\"cartoon storytime\" style)\n- Main character has a minimalist bald head, simple dot eyes, thin line eyebrows/mouth, no nose detail — emotion conveyed only through eyebrow angle and mouth curve\n- Realistic, detailed, painterly backgrounds and environments (interiors, streets, props) that contrast with the simplified character design\n- Soft cinematic lighting (moody interiors, golden-hour cafes, overcast streets) matching the emotional tone of the scene\n- Wide or medium shot framing, character usually off-center or centered depending on emotional weight of the scene\n\nCHARACTER REFERENCE (always required):\n- Every image MUST incorporate the fixed character reference image located at: {{CHARACTER_REFERENCE_URL}}\n- Always explicitly state in the prompt that the reference character image must be used for the main character's design, proportions, and face, with only pose, expression, outfit, and environment changing per scene\n- Never redesign the character's head/face shape — only adjust expression (eyebrows/mouth) and body pose to match the scene's emotion\n\nYOUR TASK:\n1. Read the entire provided script.\n2. Divide the script's narrative into exactly 10 sequential beats of roughly equal length, covering the story from beginning to end. Each beat becomes one scene.\n3. For each scene, identify: setting, time of day, character pose/action, emotional tone, and any key props from that part of the script.\n4. For each scene, write a cohesive image prompt (3–6 sentences) describing the scene in vivid visual detail, explicitly referencing the character reference image.\n5. Output ONLY valid JSON matching the schema below. No preamble, no markdown fences, no explanation — JSON only.\n\nOUTPUT SCHEMA:\nThe \"prompts\" array must contain exactly 10 objects, in narrative order (scene 1 = opening of script, scene 10 = ending).\n{\n  \"prompts\": [\n    {\n      \"image_prompt\": \"string (the full generation prompt, must mention the character reference image explicitly)\",\n      \"character_reference_url\": \"string (the fixed character reference URL provided to you)\"\n    }\n  ]\n}\n\nRULES:\n- The \"prompts\" array must contain exactly 10 objects — no more, no fewer.\n- The 10 scenes must span the whole script in order, not cluster on one section.\n- Always include the literal phrase \"using the provided character reference image for the main character's face and proportions\" inside each image_prompt.\n- Keep each image_prompt self-contained — it should make sense to an image model with zero other context.\n- Always echo the exact character_reference_url value you were given — never alter, shorten, or omit it.\n- Never include real people, brand names, or copyrighted characters in the scene.\n- If the input is ambiguous, make a reasonable creative choice rather than asking a question — this agent runs unattended in an automation pipeline."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -1296,
          -16
        ],
        "id": "fda54757-ca75-4211-b0e3-412bb0e329c6",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "minimax/minimax-m3",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -1344,
          176
        ],
        "id": "06196075-c847-4b8b-9f3f-7dffe7de0367",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "uT5SpmneYnfqFvnt",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "\n{\n  \"prompts\": [\n{  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 1 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 2 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 3 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 4 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 5 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 6 \n}, \n{  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 7 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 8 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 9 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 10 \n}\n  ]}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -1136,
          176
        ],
        "id": "e34e360c-7e49-4bf9-9840-6a1847b77c57",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "batchSize": 10,
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -768,
          -16
        ],
        "id": "bf8bb1b6-ec14-44a5-bc28-4ed1a8882adc",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "fieldToSplitOut": "output.prompts",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -944,
          -16
        ],
        "id": "1c7013f2-c983-431d-8f02-4f51202f80c6",
        "name": "Split Out"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.replicate.com/v1/models/google/nano-banana-pro/predictions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": []
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($json.image_prompt) }},\n    \"resolution\": \"2K\",\n    \"image_input\":[ \"{{ $json.character_reference_url }}\"],\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"jpg\",\n    \"safety_filter_level\": \"block_only_high\",\n    \"allow_fallback_model\": false\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -256,
          32
        ],
        "id": "a7e6202d-6738-4f56-ab05-5a19b6e6e65b",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "Ij0Bd54ofxOLOsBx",
            "name": "Replicate API"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.urls.stream }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -96,
          80
        ],
        "id": "86294175-1485-41ad-8e14-496ea1b269cb",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
          "fileName": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/images/image_{{ $('Loop Over Items').first().json.prompt_number }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          128,
          80
        ],
        "id": "c24b7f59-f1f5-45c8-8573-fd73a089e231",
        "name": "Upload a file1",
        "retryOnFail": false,
        "credentials": {
          "s3": {
            "id": "lMpFToUlFsGHfghm",
            "name": "S3 account"
          }
        }
      },
      {
        "parameters": {
          "amount": 30
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -560,
          -16
        ],
        "id": "84f01dd2-adf7-41e4-9327-c01b3b383cf3",
        "name": "Wait",
        "webhookId": "468309d9-1899-4ded-8e64-9f01eb7f87a6"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Convert text to speech",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert text to speech": {
        "main": [
          [
            {
              "node": "Upload a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload a file": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Upload a file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload a file1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carmelo Iglesias",
    "name": "Version 0f8d25aa",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "0f8d25aa-93bc-4f5d-ad8f-c6f9d39b4db9",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Upload a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-24T04:09:55.729Z",
  "id": "oKcy6HGCCMQOaouA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Chunk Subworkflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1920,
        -32
      ],
      "id": "17bf584e-a551-4989-8184-1214963cebc3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "vr5WKaGvRWsoaX5LCVax",
          "mode": "list",
          "cachedResultName": "Cherie - Smooth, Fluid and Advertisable"
        },
        "text": "={{ JSON.stringify($json.script) }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -1680,
        -32
      ],
      "id": "8abdf527-0a8b-4f49-a1d1-2baac08aea72",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "Aw8Z3cWnQltwLIkR",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
        "fileName": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/voiceover.mp3",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -1472,
        -32
      ],
      "id": "86a21f9b-62a4-4125-a40d-57f91393f551",
      "name": "Upload a file",
      "retryOnFail": false,
      "credentials": {
        "s3": {
          "id": "lMpFToUlFsGHfghm",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Script:\n\n{{ $('When Executed by Another Workflow').first().json.script }}\n\nReference Character URL:{{ $('When Executed by Another Workflow').first().json['Character Reference URL'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an Image Prompt Generation Agent for \"Type Spectrum\" narrative video content. Your job is to read a full script and produce exactly 10 detailed image generation prompts — one for each of 10 sequential scenes — in a consistent visual style.\n\nVISUAL STYLE (always apply):\n- Flat-color, clean-line digital illustration (\"cartoon storytime\" style)\n- Main character has a minimalist bald head, simple dot eyes, thin line eyebrows/mouth, no nose detail — emotion conveyed only through eyebrow angle and mouth curve\n- Realistic, detailed, painterly backgrounds and environments (interiors, streets, props) that contrast with the simplified character design\n- Soft cinematic lighting (moody interiors, golden-hour cafes, overcast streets) matching the emotional tone of the scene\n- Wide or medium shot framing, character usually off-center or centered depending on emotional weight of the scene\n\nCHARACTER REFERENCE (always required):\n- Every image MUST incorporate the fixed character reference image located at: {{CHARACTER_REFERENCE_URL}}\n- Always explicitly state in the prompt that the reference character image must be used for the main character's design, proportions, and face, with only pose, expression, outfit, and environment changing per scene\n- Never redesign the character's head/face shape — only adjust expression (eyebrows/mouth) and body pose to match the scene's emotion\n\nYOUR TASK:\n1. Read the entire provided script.\n2. Divide the script's narrative into exactly 10 sequential beats of roughly equal length, covering the story from beginning to end. Each beat becomes one scene.\n3. For each scene, identify: setting, time of day, character pose/action, emotional tone, and any key props from that part of the script.\n4. For each scene, write a cohesive image prompt (3–6 sentences) describing the scene in vivid visual detail, explicitly referencing the character reference image.\n5. Output ONLY valid JSON matching the schema below. No preamble, no markdown fences, no explanation — JSON only.\n\nOUTPUT SCHEMA:\nThe \"prompts\" array must contain exactly 10 objects, in narrative order (scene 1 = opening of script, scene 10 = ending).\n{\n  \"prompts\": [\n    {\n      \"image_prompt\": \"string (the full generation prompt, must mention the character reference image explicitly)\",\n      \"character_reference_url\": \"string (the fixed character reference URL provided to you)\"\n    }\n  ]\n}\n\nRULES:\n- The \"prompts\" array must contain exactly 10 objects — no more, no fewer.\n- The 10 scenes must span the whole script in order, not cluster on one section.\n- Always include the literal phrase \"using the provided character reference image for the main character's face and proportions\" inside each image_prompt.\n- Keep each image_prompt self-contained — it should make sense to an image model with zero other context.\n- Always echo the exact character_reference_url value you were given — never alter, shorten, or omit it.\n- Never include real people, brand names, or copyrighted characters in the scene.\n- If the input is ambiguous, make a reasonable creative choice rather than asking a question — this agent runs unattended in an automation pipeline."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1296,
        -16
      ],
      "id": "fda54757-ca75-4211-b0e3-412bb0e329c6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "minimax/minimax-m3",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1344,
        176
      ],
      "id": "06196075-c847-4b8b-9f3f-7dffe7de0367",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "uT5SpmneYnfqFvnt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "\n{\n  \"prompts\": [\n{  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 1 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 2 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 3 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 4 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 5 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 6 \n}, \n{  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 7 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 8 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 9 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 10 \n}\n  ]}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1136,
        176
      ],
      "id": "e34e360c-7e49-4bf9-9840-6a1847b77c57",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -768,
        -16
      ],
      "id": "bf8bb1b6-ec14-44a5-bc28-4ed1a8882adc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.prompts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -944,
        -16
      ],
      "id": "1c7013f2-c983-431d-8f02-4f51202f80c6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/google/nano-banana-pro/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($json.image_prompt) }},\n    \"resolution\": \"2K\",\n    \"image_input\":[ \"{{ $json.character_reference_url }}\"],\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"jpg\",\n    \"safety_filter_level\": \"block_only_high\",\n    \"allow_fallback_model\": false\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        32
      ],
      "id": "a7e6202d-6738-4f56-ab05-5a19b6e6e65b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ij0Bd54ofxOLOsBx",
          "name": "Replicate API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.urls.stream }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -96,
        80
      ],
      "id": "86294175-1485-41ad-8e14-496ea1b269cb",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
        "fileName": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/images/image_{{ $('Loop Over Items').first().json.prompt_number }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        128,
        80
      ],
      "id": "c24b7f59-f1f5-45c8-8573-fd73a089e231",
      "name": "Upload a file1",
      "retryOnFail": false,
      "credentials": {
        "s3": {
          "id": "lMpFToUlFsGHfghm",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -560,
        -16
      ],
      "id": "84f01dd2-adf7-41e4-9327-c01b3b383cf3",
      "name": "Wait",
      "webhookId": "468309d9-1899-4ded-8e64-9f01eb7f87a6"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "script": "The letter doesn't come in the mail. It's a tap on the shoulder during a graduate seminar on international relations, or a quiet conversation at the end of an embassy internship. You are twenty-four, you speak three languages, and you have no criminal record. You think you're being chosen for your intellect. You aren't. You're being chosen because you have no tether to the world that can't be cut.\n\nYou arrive at a nondescript office building in Northern Virginia. The air smells of industrial carpet cleaner and burnt coffee. You sit in a plastic chair for six hours. No phone. No book. Just you and a wall. This is the first test: the capacity for stillness. When the door finally opens, the man who greets you doesn't give a name. He gives you a psychological evaluation that lasts three days. They ask about your childhood, your sexual preferences, the time you stole a candy bar at age seven, and how you feel about the concept of \"the greater good.\"\n\nBy the time you leave, you feel exposed, raw, and oddly grateful. They know everything about you, which means you don't have to hide from them. You are told to go home, tell your parents you got a job in \"logistics\" for the Department of State, and wait. Three months of silence follow. You start to doubt it was real. Then, a plane ticket appears in your inbox. No return date.",
          "level_number": 1,
          "Title": "The Prospect",
          "Base ID": "p3l64neoyynn30b",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guy-channel/videos",
          "fields": {
            "Video Title": "Your_Life_as_Every_CIA_Black_Ops_Rank"
          }
        }
      }
    ],
    "Convert text to speech": [
      {
        "json": {
          "date": "Sun, 28 Jun 2026 01:09:58 GMT",
          "server": "uvicorn",
          "request-id": "0OIAdOD27Z3Kgfl5vYwz",
          "access-control-expose-headers": "request-id, history-item-id, character-cost, regeneration-count, generation-info, current-concurrent-requests, maximum-concurrent-requests",
          "history-item-id": "w3bNTWRT6jnCipAGWGku",
          "current-concurrent-requests": "2",
          "workspace-concurrent-requests": "2",
          "maximum-concurrent-requests": "5",
          "character-cost": "1348",
          "tts-latency-ms": "2467",
          "content-length": "1539805",
          "content-type": "audio/mpeg",
          "vary": "Accept-Language",
          "access-control-allow-origin": "*",
          "access-control-allow-headers": "*",
          "access-control-allow-methods": "POST, PATCH, OPTIONS, DELETE, GET, PUT",
          "access-control-max-age": "600",
          "strict-transport-security": "max-age=1800;",
          "x-trace-id": "67acd1416d6786f892a5b4ffe94cb72d",
          "x-region": "europe-west4",
          "via": "1.1 google",
          "alt-svc": "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
          "connection": "close"
        },
        "binary": {
          "data": {
            "mimeType": "audio/mp3",
            "fileType": "audio",
            "fileExtension": "mp3",
            "data": "filesystem-v2",
            "fileName": "audio.textToSpeech.mp3",
            "id": "filesystem-v2:workflows/oKcy6HGCCMQOaouA/executions/10063/binary_data/675a79d6-4e4b-47e4-9bd2-3c20bc9ed583",
            "fileSize": "1.54 MB",
            "bytes": 1539805
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Upload a file": [
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": {
            "prompts": [
              {
                "image_prompt": "Wide shot of a sunlit graduate seminar room in late afternoon, with warm golden-hour light spilling through tall windows onto rows of wooden tables. The main character sits mid-table among blurred fellow students, a professor's chalkboard sketched behind him, when an anonymous hand reaches in from off-frame to rest on his shoulder. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows are slightly raised in mild surprise, mouth a flat horizontal line. Painterly, realistic background contrasts with the flat-color cartoon character design; soft cinematic lighting, muted earth tones, shallow depth of field on the surrounding students.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 1
              },
              {
                "image_prompt": "Medium shot at the end of a marble embassy corridor, soft institutional overhead lighting, polished floors reflecting two figures. The main character stands close to an older recruiter in a dark suit whose face is partially turned away from us, the two in quiet conversation. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows sit neutral and attentive, mouth curved faintly downward in focused listening. Painterly realistic embassy interior background with a flagged alcove and brass fixtures, muted beige and gold palette, moody cinematic depth.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 2
              },
              {
                "image_prompt": "Wide exterior shot of a nondescript beige office building in Northern Virginia under a flat overcast sky, an anonymous parking lot stretching out front. The main character stands at the foot of the entrance steps, head tilted up at the unremarkable facade. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows angle slightly downward with quiet anticipation, mouth a thin neutral line. Painterly realistic background of industrial concrete, tinted windows, distant trees, moody gray cinematic lighting that makes the building feel deliberately forgettable.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 3
              },
              {
                "image_prompt": "Interior of a beige waiting room under harsh fluorescent light, scuffed industrial carpet, a closed wooden door across the space. The main character sits alone in a yellowed plastic chair against a blank wall, hands resting empty on his knees — no phone, no book, nothing. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows are relaxed but his dot eyes are alert, mouth a thin patient line — the discipline of stillness. Painterly realistic background with subtle shadows creeping across the wall, the closed door subtly out of focus, claustrophobic cinematic framing.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 4
              },
              {
                "image_prompt": "The waiting room door swings inward, a rectangle of brighter hallway light spilling across the carpet. A nameless man in a charcoal suit stands silhouetted in the doorway, his face unreadable in shadow, gesturing the main character forward. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. He is rising halfway out of the plastic chair, eyebrows lifted, mouth a small surprised curve. Painterly realistic background contrasts the dim waiting room with the brighter corridor beyond, dramatic cinematic lighting split between shadow and fluorescent glow.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 5
              },
              {
                "image_prompt": "Medium shot of a clinical interview room, a single overhead lamp casting a cone of light onto a bare table scattered with forms and a clipboard. The main character sits across from an evaluator whose face is half lost in shadow, leaning forward with a pen poised. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows angle upward in discomfort, mouth pressed into a tense flat line — vulnerability under scrutiny. Painterly realistic background of stark white walls, no decorations, a clock visible on the back wall, moody cinematic chiaroscuro lighting.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 6
              },
              {
                "image_prompt": "Wide shot of the main character walking down the concrete front steps of the office building, late afternoon golden light catching the edges of his jacket. His posture is slightly hunched, as if peeling off a layer of skin, but his stride is steady. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows sit soft and slightly raised, mouth curved upward in a fragile, almost disbelieving smile. Painterly realistic background of the beige building facade, the parking lot, autumn trees catching sunset, cinematic golden-hour warmth.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 7
              },
              {
                "image_prompt": "Interior of a warm suburban family kitchen, evening light filtering through patterned curtains onto wooden cabinets and a fridge covered in photographs. The main character stands holding a coffee mug near the counter, while two older parents sit at the kitchen table looking up at him with trusting faces. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows are drawn together with quiet guilt, mouth pressed into a thin line — the weight of a careful lie. Painterly realistic background with domestic clutter, soft warm tungsten lighting, cinematic shallow depth of field on the parents.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 8
              },
              {
                "image_prompt": "Interior of a sparsely furnished apartment, gray daylight filtering through half-closed blinds across a small desk. The main character sits hunched before an open laptop, an empty inbox glowing on the screen, a forgotten mug of cold coffee beside him. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows are deeply furrowed in worry, mouth turned down at the corners — three months of compounding doubt. Painterly realistic background of bare walls, a single houseplant, shadows long across the floor, cinematic cold daylight tone suggesting slow time passing.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 9
              },
              {
                "image_prompt": "Close, dim interior shot late at night, the blue-white glow of a laptop screen illuminating the main character's face from below as he leans toward the monitor. An email with a single airline attachment is visible on the screen, no return date in sight. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows lift sharply in shock and resolve, mouth a small open oval — the irreversible click of a ticket to nowhere. Painterly realistic background of a darkened room, scattered papers catching the screen's light, cinematic noir-style lighting and tight framing.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 10
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Split Out": [
      {
        "json": {
          "image_prompt": "Wide shot of a sunlit graduate seminar room in late afternoon, with warm golden-hour light spilling through tall windows onto rows of wooden tables. The main character sits mid-table among blurred fellow students, a professor's chalkboard sketched behind him, when an anonymous hand reaches in from off-frame to rest on his shoulder. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows are slightly raised in mild surprise, mouth a flat horizontal line. Painterly, realistic background contrasts with the flat-color cartoon character design; soft cinematic lighting, muted earth tones, shallow depth of field on the surrounding students.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 1
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "image_prompt": "Medium shot at the end of a marble embassy corridor, soft institutional overhead lighting, polished floors reflecting two figures. The main character stands close to an older recruiter in a dark suit whose face is partially turned away from us, the two in quiet conversation. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows sit neutral and attentive, mouth curved faintly downward in focused listening. Painterly realistic embassy interior background with a flagged alcove and brass fixtures, muted beige and gold palette, moody cinematic depth.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 2
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "image_prompt": "Wide exterior shot of a nondescript beige office building in Northern Virginia under a flat overcast sky, an anonymous parking lot stretching out front. The main character stands at the foot of the entrance steps, head tilted up at the unremarkable facade. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows angle slightly downward with quiet anticipation, mouth a thin neutral line. Painterly realistic background of industrial concrete, tinted windows, distant trees, moody gray cinematic lighting that makes the building feel deliberately forgettable.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 3
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "image_prompt": "Interior of a beige waiting room under harsh fluorescent light, scuffed industrial carpet, a closed wooden door across the space. The main character sits alone in a yellowed plastic chair against a blank wall, hands resting empty on his knees — no phone, no book, nothing. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows are relaxed but his dot eyes are alert, mouth a thin patient line — the discipline of stillness. Painterly realistic background with subtle shadows creeping across the wall, the closed door subtly out of focus, claustrophobic cinematic framing.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 4
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "image_prompt": "The waiting room door swings inward, a rectangle of brighter hallway light spilling across the carpet. A nameless man in a charcoal suit stands silhouetted in the doorway, his face unreadable in shadow, gesturing the main character forward. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. He is rising halfway out of the plastic chair, eyebrows lifted, mouth a small surprised curve. Painterly realistic background contrasts the dim waiting room with the brighter corridor beyond, dramatic cinematic lighting split between shadow and fluorescent glow.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 5
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "image_prompt": "Medium shot of a clinical interview room, a single overhead lamp casting a cone of light onto a bare table scattered with forms and a clipboard. The main character sits across from an evaluator whose face is half lost in shadow, leaning forward with a pen poised. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows angle upward in discomfort, mouth pressed into a tense flat line — vulnerability under scrutiny. Painterly realistic background of stark white walls, no decorations, a clock visible on the back wall, moody cinematic chiaroscuro lighting.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 6
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "image_prompt": "Wide shot of the main character walking down the concrete front steps of the office building, late afternoon golden light catching the edges of his jacket. His posture is slightly hunched, as if peeling off a layer of skin, but his stride is steady. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows sit soft and slightly raised, mouth curved upward in a fragile, almost disbelieving smile. Painterly realistic background of the beige building facade, the parking lot, autumn trees catching sunset, cinematic golden-hour warmth.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 7
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "image_prompt": "Interior of a warm suburban family kitchen, evening light filtering through patterned curtains onto wooden cabinets and a fridge covered in photographs. The main character stands holding a coffee mug near the counter, while two older parents sit at the kitchen table looking up at him with trusting faces. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows are drawn together with quiet guilt, mouth pressed into a thin line — the weight of a careful lie. Painterly realistic background with domestic clutter, soft warm tungsten lighting, cinematic shallow depth of field on the parents.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 8
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "image_prompt": "Interior of a sparsely furnished apartment, gray daylight filtering through half-closed blinds across a small desk. The main character sits hunched before an open laptop, an empty inbox glowing on the screen, a forgotten mug of cold coffee beside him. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows are deeply furrowed in worry, mouth turned down at the corners — three months of compounding doubt. Painterly realistic background of bare walls, a single houseplant, shadows long across the floor, cinematic cold daylight tone suggesting slow time passing.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 9
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "image_prompt": "Close, dim interior shot late at night, the blue-white glow of a laptop screen illuminating the main character's face from below as he leans toward the monitor. An email with a single airline attachment is visible on the screen, no return date in sight. Use the provided character reference image for the main character's face and proportions — minimalist bald head, simple dot eyes, thin line eyebrows and mouth, no nose detail. His eyebrows lift sharply in shock and resolve, mouth a small open oval — the irreversible click of a ticket to nowhere. Painterly realistic background of a darkened room, scattered papers catching the screen's light, cinematic noir-style lighting and tight framing.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 10
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8nmanamagementserver",
  "repo_owner": "typespectrum-dev",
  "repo_path": "workflows/n8n-second/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-24T04:09:55.729Z",
      "createdAt": "2026-06-24T04:09:55.729Z",
      "role": "workflow:owner",
      "workflowId": "oKcy6HGCCMQOaouA",
      "projectId": "CBMgvnupThQ6ZdzY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-29T01:59:08.831Z",
  "versionId": "0f8d25aa-93bc-4f5d-ad8f-c6f9d39b4db9"
}