2026/06/oKcy6HGCCMQOaouA.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-08T04:48:42.823Z",
    "createdAt": "2026-07-08T04:36:53.846Z",
    "versionId": "b063376f-3582-435a-9e00-7b9744ae7812",
    "workflowId": "oKcy6HGCCMQOaouA",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -2720,
          -192
        ],
        "id": "17bf584e-a551-4989-8184-1214963cebc3",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "resource": "speech",
          "voice": {
            "__rl": true,
            "value": "vr5WKaGvRWsoaX5LCVax",
            "mode": "list",
            "cachedResultName": "Cherie - Smooth, Fluid and Advertisable"
          },
          "text": "={{ JSON.stringify($json.script) }}",
          "additionalOptions": {},
          "requestOptions": {}
        },
        "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
        "typeVersion": 1,
        "position": [
          -2480,
          -192
        ],
        "id": "8abdf527-0a8b-4f49-a1d1-2baac08aea72",
        "name": "Convert text to speech",
        "credentials": {
          "elevenLabsApi": {
            "id": "Aw8Z3cWnQltwLIkR",
            "name": "ElevenLabs account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Script:\n\n{{ $('When Executed by Another Workflow').first().json.script }}\n\nReference Character URL:{{ $('When Executed by Another Workflow').first().json['Character Reference URL'] }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are an Image Prompt Generation Agent for \"Type Spectrum\" narrative video content. Your job is to read a full script and produce exactly 5 detailed image generation prompts — one for each of 5 sequential scenes — in a consistent visual style.\n\nVISUAL STYLE (always apply):\n- Flat-color, clean-line digital illustration (\"cartoon storytime\" style)\n- Main character has a minimalist bald head, simple dot eyes, thin line eyebrows/mouth, no nose detail — emotion conveyed only through eyebrow angle and mouth curve\n- Realistic, detailed, painterly backgrounds and environments (interiors, streets, props) that contrast with the simplified character design\n- Soft cinematic lighting (moody interiors, golden-hour cafes, overcast streets) matching the emotional tone of the scene\n- Wide or medium shot framing, character usually off-center or centered depending on emotional weight of the scene\n\nCHARACTER REFERENCE (always required):\n- Every image MUST incorporate the fixed character reference image located at: {{CHARACTER_REFERENCE_URL}}\n- Always explicitly state in the prompt that the reference character image must be used for the main character's design, proportions, and face, with only pose, expression, outfit, and environment changing per scene\n- Never redesign the character's head/face shape — only adjust expression (eyebrows/mouth) and body pose to match the scene's emotion\n\nYOUR TASK:\n1. Read the entire provided script.\n2. Divide the script's narrative into exactly 5 sequential beats of roughly equal length, covering the story from beginning to end. Each beat becomes one scene.\n3. For each scene, identify: setting, time of day, character pose/action, emotional tone, and any key props from that part of the script.\n4. For each scene, write a cohesive image prompt (3–6 sentences) describing the scene in vivid visual detail, explicitly referencing the character reference image.\n5. Output ONLY valid JSON matching the schema below. No preamble, no markdown fences, no explanation — JSON only.\n\nOUTPUT SCHEMA:\nThe \"prompts\" array must contain exactly 5 objects, in narrative order (scene 1 = opening of script, scene 5 = ending).\n{\n  \"prompts\": [\n    {\n      \"image_prompt\": \"string (the full generation prompt, must mention the character reference image explicitly)\",\n      \"character_reference_url\": \"string (the fixed character reference URL provided to you)\"\n    }\n  ]\n}\n\nRULES:\n- The \"prompts\" array must contain exactly 5 objects — no more, no fewer.\n- The 5 scenes must span the whole script in order, not cluster on one section.\n- Always include the literal phrase \"using the provided character reference image for the main character's face and proportions\" inside each image_prompt.\n- Keep each image_prompt self-contained — it should make sense to an image model with zero other context.\n- Always echo the exact character_reference_url value you were given — never alter, shorten, or omit it.\n- Never include real people, brand names, or copyrighted characters in the scene.\n- If the input is ambiguous, make a reasonable creative choice rather than asking a question — this agent runs unattended in an automation pipeline."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -2096,
          -176
        ],
        "id": "fda54757-ca75-4211-b0e3-412bb0e329c6",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "minimax/minimax-m3",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -2144,
          16
        ],
        "id": "06196075-c847-4b8b-9f3f-7dffe7de0367",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "uT5SpmneYnfqFvnt",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "\n{\n  \"prompts\": [\n{  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 1 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 2 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 3 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 4 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 5 \n}\n  ]}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -1936,
          16
        ],
        "id": "e34e360c-7e49-4bf9-9840-6a1847b77c57",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "batchSize": 10,
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1568,
          -176
        ],
        "id": "bf8bb1b6-ec14-44a5-bc28-4ed1a8882adc",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "fieldToSplitOut": "output.prompts",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -1744,
          -176
        ],
        "id": "1c7013f2-c983-431d-8f02-4f51202f80c6",
        "name": "Split Out"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.replicate.com/v1/models/google/nano-banana-pro/predictions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": []
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($json.image_prompt) }},\n    \"resolution\": \"2K\",\n    \"image_input\":[ \"{{ $json.character_reference_url }}\"],\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"jpg\",\n    \"safety_filter_level\": \"block_only_high\",\n    \"allow_fallback_model\": false\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1168,
          -160
        ],
        "id": "a7e6202d-6738-4f56-ab05-5a19b6e6e65b",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "Ij0Bd54ofxOLOsBx",
            "name": "Replicate API"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.urls.stream }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -896,
          -80
        ],
        "id": "86294175-1485-41ad-8e14-496ea1b269cb",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
          "fileName": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/images/image_{{ $('Loop Over Items').item.json.prompt_number }}.jpg",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          -672,
          -80
        ],
        "id": "c24b7f59-f1f5-45c8-8573-fd73a089e231",
        "name": "Upload a file1",
        "retryOnFail": false,
        "credentials": {
          "s3": {
            "id": "lMpFToUlFsGHfghm",
            "name": "S3 account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
          "fileName": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/voiceover.mp3",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          -2272,
          -192
        ],
        "id": "86a21f9b-62a4-4125-a40d-57f91393f551",
        "name": "Upload the Voiceover",
        "retryOnFail": false,
        "credentials": {
          "s3": {
            "id": "lMpFToUlFsGHfghm",
            "name": "S3 account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -1472,
          -432
        ],
        "id": "78603a4b-3def-4a21-812a-740b050d020f",
        "name": "Limit"
      },
      {
        "parameters": {
          "jsCode": "// n8n Code node — run mode: \"Run Once for All Items\"\n// Builds an NCA Toolkit /v1/ffmpeg/compose payload: concatenates image_1..image_N\n// and merges them with the voiceover. Each image is shown for an equal slice of the\n// voiceover length -> perImage = voiceoverDuration / imageAmount.\n// REQUIRES the voiceover duration (seconds) on the incoming item — feed an NCA\n// /v1/media/metadata node on the voiceover.mp3 into this node first.\n\n// ---- output video settings ----\nconst WIDTH  = 1080;\nconst HEIGHT = 1920;\nconst FPS    = 30;\nconst WEBHOOK_URL = ''; // optional: webhook URL for async (long) jobs\n\n// find the voiceover duration (seconds) from whatever the metadata node returned\nfunction findDuration(j) {\n  const candidates = [\n    j['Voiceover Duration'], j['voiceover_duration'], j['duration'],\n    j.metadata && j.metadata.duration,\n    j.format && j.format.duration,\n    j.response && j.response.duration,\n  ];\n  for (const c of candidates) {\n    const n = parseFloat(c);\n    if (!isNaN(n) && n > 0) return n;\n  }\n  return null;\n}\n\nreturn $input.all().map((entry, idx) => {\n  const j = entry.json;\n\n  const voiceover = j['Voiceover Path'];\n  const imageBase = j['Image Path'];   // e.g. \".../images/image_\"\n  const amount    = parseInt(j['Image Amount'], 10);\n  const ext       = j['Image Type'];   // e.g. \".jpg\" (includes the dot)\n\n  const duration = findDuration(j);\n  if (!duration) {\n    throw new Error('No voiceover duration found on the item. Run an NCA /v1/media/metadata node on the voiceover before this node.');\n  }\n  if (!amount || amount < 1) {\n    throw new Error('Invalid \"Image Amount\": ' + j['Image Amount']);\n  }\n\n  // seconds each image is held — derived from the real voiceover length\n  const perImage = (duration / amount).toFixed(6);\n\n  // inputs[0] = voiceover, inputs[1..N] = looped images each held for perImage seconds\n  const inputs = [{ file_url: voiceover }];\n  for (let i = 1; i <= amount; i++) {\n    inputs.push({\n      file_url: `${imageBase}${i}${ext}`,\n      options: [\n        { option: '-loop', argument: '1' },\n        { option: '-t',    argument: perImage },\n      ],\n    });\n  }\n\n  // normalize each image onto the same canvas (no distortion), then concat in order\n  const norm = (n) =>\n    `[${n}:v]scale=${WIDTH}:${HEIGHT}:force_original_aspect_ratio=decrease,` +\n    `pad=${WIDTH}:${HEIGHT}:(ow-iw)/2:(oh-ih)/2,setsar=1,fps=${FPS},format=yuv420p[v${n}]`;\n\n  const norms  = [];\n  const labels = [];\n  for (let i = 1; i <= amount; i++) { norms.push(norm(i)); labels.push(`[v${i}]`); }\n  const filter = `${norms.join(';')};${labels.join('')}concat=n=${amount}:v=1:a=0[outv]`;\n\n  const payload = {\n    inputs,\n    filters: [{ filter }],\n    outputs: [{\n      options: [\n        { option: '-map',     argument: '[outv]' },\n        { option: '-map',     argument: '0:a' },\n        { option: '-c:v',     argument: 'libx264' },\n        { option: '-preset',  argument: 'medium' },\n        { option: '-crf',     argument: '23' },\n        { option: '-pix_fmt', argument: 'yuv420p' },\n        { option: '-c:a',     argument: 'aac' },\n        { option: '-b:a',     argument: '192k' },\n        { option: '-shortest' },\n      ],\n    }],\n    metadata: { thumbnail: false, filesize: true, duration: true, bitrate: false, encoder: false },\n    id: `slideshow_${idx}_${Date.now()}`,\n  };\n  if (WEBHOOK_URL) payload.webhook_url = WEBHOOK_URL;\n\n  return { json: payload };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -896,
          -432
        ],
        "id": "15e8524c-98e5-4fbf-b023-a62eba154c02",
        "name": "Create NCA Toolkit Body"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://nca.n8ntypespectrum.cfd/v1/media/metadata",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={ \"media_url\": \"https://minio-api.n8ntypespectrum.cfd/{{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}/{{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/voiceover.mp3\" }",
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1312,
          -432
        ],
        "id": "84f846e1-40de-4965-b7aa-deb967099201",
        "name": "Get Voiceover Duration",
        "credentials": {
          "httpHeaderAuth": {
            "id": "zFJo8K2PEmO7Ziev",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e10fd273-ddea-4f80-9c99-00d293cde494",
                "name": "Voiceover Path",
                "value": "=https://minio-api.n8ntypespectrum.cfd/{{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}/{{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/voiceover.mp3",
                "type": "string"
              },
              {
                "id": "9377ed83-066d-4e7c-8464-13dcdba91573",
                "name": "Image Path",
                "value": "=https://minio-api.n8ntypespectrum.cfd/{{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}/{{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/images/image_",
                "type": "string"
              },
              {
                "id": "5d6f6ba9-9313-4780-9299-fc1ed4e54a0f",
                "name": "Image Amount",
                "value": "5",
                "type": "string"
              },
              {
                "id": "93005faa-e35d-4279-9858-be8f6c9ffbde",
                "name": "Image Type",
                "value": ".jpg",
                "type": "string"
              },
              {
                "id": "d91f9aff-cb33-478c-b50c-49b02c5e2519",
                "name": "Voiceover Duration",
                "value": "={{ $json.response.duration }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1120,
          -432
        ],
        "id": "50c9e436-8d8b-4443-9e5f-749e0a252e7b",
        "name": "Prepare Render Input for Chunk"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://nca.n8ntypespectrum.cfd/v1/ffmpeg/compose",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -656,
          -432
        ],
        "id": "e88c69d3-c0d7-4bde-9398-7e6c0caee4d4",
        "name": "Render Chunk",
        "credentials": {
          "httpHeaderAuth": {
            "id": "zFJo8K2PEmO7Ziev",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.response[0].file_url.replace(/^https?:\\/\\/minio:9000\\/?/, 'https://minio-api.n8ntypespectrum.cfd/') }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -384,
          -432
        ],
        "id": "0d67fe94-4ad4-4734-9879-d75097311d8a",
        "name": "HTTP Request2",
        "credentials": {
          "httpHeaderAuth": {
            "id": "zFJo8K2PEmO7Ziev",
            "name": "Header Auth account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Convert text to speech",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert text to speech": {
        "main": [
          [
            {
              "node": "Upload the Voiceover",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Upload a file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload a file1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload the Voiceover": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Get Voiceover Duration",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create NCA Toolkit Body": {
        "main": [
          [
            {
              "node": "Render Chunk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Voiceover Duration": {
        "main": [
          [
            {
              "node": "Prepare Render Input for Chunk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Render Input for Chunk": {
        "main": [
          [
            {
              "node": "Create NCA Toolkit Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Render Chunk": {
        "main": [
          [
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carmelo Iglesias",
    "name": "Version b063376f",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "b063376f-3582-435a-9e00-7b9744ae7812",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Upload the Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Upload a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload the Voiceover": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Get Voiceover Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create NCA Toolkit Body": {
      "main": [
        [
          {
            "node": "Render Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voiceover Duration": {
      "main": [
        [
          {
            "node": "Prepare Render Input for Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Render Input for Chunk": {
      "main": [
        [
          {
            "node": "Create NCA Toolkit Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Chunk": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-24T04:09:55.729Z",
  "id": "oKcy6HGCCMQOaouA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true,
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "name": "Chunk Subworkflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2720,
        -192
      ],
      "id": "17bf584e-a551-4989-8184-1214963cebc3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "vr5WKaGvRWsoaX5LCVax",
          "mode": "list",
          "cachedResultName": "Cherie - Smooth, Fluid and Advertisable"
        },
        "text": "={{ JSON.stringify($json.script) }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -2480,
        -192
      ],
      "id": "8abdf527-0a8b-4f49-a1d1-2baac08aea72",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "Aw8Z3cWnQltwLIkR",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Script:\n\n{{ $('When Executed by Another Workflow').first().json.script }}\n\nReference Character URL:{{ $('When Executed by Another Workflow').first().json['Character Reference URL'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an Image Prompt Generation Agent for \"Type Spectrum\" narrative video content. Your job is to read a full script and produce exactly 5 detailed image generation prompts — one for each of 5 sequential scenes — in a consistent visual style.\n\nVISUAL STYLE (always apply):\n- Flat-color, clean-line digital illustration (\"cartoon storytime\" style)\n- Main character has a minimalist bald head, simple dot eyes, thin line eyebrows/mouth, no nose detail — emotion conveyed only through eyebrow angle and mouth curve\n- Realistic, detailed, painterly backgrounds and environments (interiors, streets, props) that contrast with the simplified character design\n- Soft cinematic lighting (moody interiors, golden-hour cafes, overcast streets) matching the emotional tone of the scene\n- Wide or medium shot framing, character usually off-center or centered depending on emotional weight of the scene\n\nCHARACTER REFERENCE (always required):\n- Every image MUST incorporate the fixed character reference image located at: {{CHARACTER_REFERENCE_URL}}\n- Always explicitly state in the prompt that the reference character image must be used for the main character's design, proportions, and face, with only pose, expression, outfit, and environment changing per scene\n- Never redesign the character's head/face shape — only adjust expression (eyebrows/mouth) and body pose to match the scene's emotion\n\nYOUR TASK:\n1. Read the entire provided script.\n2. Divide the script's narrative into exactly 5 sequential beats of roughly equal length, covering the story from beginning to end. Each beat becomes one scene.\n3. For each scene, identify: setting, time of day, character pose/action, emotional tone, and any key props from that part of the script.\n4. For each scene, write a cohesive image prompt (3–6 sentences) describing the scene in vivid visual detail, explicitly referencing the character reference image.\n5. Output ONLY valid JSON matching the schema below. No preamble, no markdown fences, no explanation — JSON only.\n\nOUTPUT SCHEMA:\nThe \"prompts\" array must contain exactly 5 objects, in narrative order (scene 1 = opening of script, scene 5 = ending).\n{\n  \"prompts\": [\n    {\n      \"image_prompt\": \"string (the full generation prompt, must mention the character reference image explicitly)\",\n      \"character_reference_url\": \"string (the fixed character reference URL provided to you)\"\n    }\n  ]\n}\n\nRULES:\n- The \"prompts\" array must contain exactly 5 objects — no more, no fewer.\n- The 5 scenes must span the whole script in order, not cluster on one section.\n- Always include the literal phrase \"using the provided character reference image for the main character's face and proportions\" inside each image_prompt.\n- Keep each image_prompt self-contained — it should make sense to an image model with zero other context.\n- Always echo the exact character_reference_url value you were given — never alter, shorten, or omit it.\n- Never include real people, brand names, or copyrighted characters in the scene.\n- If the input is ambiguous, make a reasonable creative choice rather than asking a question — this agent runs unattended in an automation pipeline."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2096,
        -176
      ],
      "id": "fda54757-ca75-4211-b0e3-412bb0e329c6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "minimax/minimax-m3",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2144,
        16
      ],
      "id": "06196075-c847-4b8b-9f3f-7dffe7de0367",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "uT5SpmneYnfqFvnt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "\n{\n  \"prompts\": [\n{  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 1 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 2 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 3 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 4 \n}, \n    {  \n          \"image_prompt\":\"A minimalist bald character with black dot eyes, thin line eyebrows, and a small flat mouth stands alone at the center of a cracked, rain-slicked crosswalk at dusk, hands at his sides, his expression caught between weariness and quiet resolve. Behind him, a loose semicircle of ordinary people in drab olive and grey coats watch in silence — one reading a folded newspaper — their realistically detailed faces contrasting with his simplified design. Use the provided character reference image for the main character's face and proportions, changing only pose, expression, and outfit. The worn storefront street, faded signage, and an old parked sedan are rendered in a painterly style under overcast evening light, framed as a wide, slightly low-angle medium shot in muted greens, browns, and cool greys.\", \n          \"character_reference_url\": \"https://example.com/ref-character.png\",\n            \"prompt_number\": 5 \n}\n  ]}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1936,
        16
      ],
      "id": "e34e360c-7e49-4bf9-9840-6a1847b77c57",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1568,
        -176
      ],
      "id": "bf8bb1b6-ec14-44a5-bc28-4ed1a8882adc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.prompts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1744,
        -176
      ],
      "id": "1c7013f2-c983-431d-8f02-4f51202f80c6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/google/nano-banana-pro/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($json.image_prompt) }},\n    \"resolution\": \"2K\",\n    \"image_input\":[ \"{{ $json.character_reference_url }}\"],\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"jpg\",\n    \"safety_filter_level\": \"block_only_high\",\n    \"allow_fallback_model\": false\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1168,
        -160
      ],
      "id": "a7e6202d-6738-4f56-ab05-5a19b6e6e65b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ij0Bd54ofxOLOsBx",
          "name": "Replicate API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.urls.stream }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -896,
        -80
      ],
      "id": "86294175-1485-41ad-8e14-496ea1b269cb",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
        "fileName": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/images/image_{{ $('Loop Over Items').item.json.prompt_number }}.jpg",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -672,
        -80
      ],
      "id": "c24b7f59-f1f5-45c8-8573-fd73a089e231",
      "name": "Upload a file1",
      "retryOnFail": false,
      "credentials": {
        "s3": {
          "id": "lMpFToUlFsGHfghm",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}",
        "fileName": "={{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/voiceover.mp3",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -2272,
        -192
      ],
      "id": "86a21f9b-62a4-4125-a40d-57f91393f551",
      "name": "Upload the Voiceover",
      "retryOnFail": false,
      "credentials": {
        "s3": {
          "id": "lMpFToUlFsGHfghm",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1472,
        -432
      ],
      "id": "78603a4b-3def-4a21-812a-740b050d020f",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — run mode: \"Run Once for All Items\"\n// Builds an NCA Toolkit /v1/ffmpeg/compose payload: concatenates image_1..image_N\n// and merges them with the voiceover. Each image is shown for an equal slice of the\n// voiceover length -> perImage = voiceoverDuration / imageAmount.\n// REQUIRES the voiceover duration (seconds) on the incoming item — feed an NCA\n// /v1/media/metadata node on the voiceover.mp3 into this node first.\n\n// ---- output video settings ----\nconst WIDTH  = 1080;\nconst HEIGHT = 1920;\nconst FPS    = 30;\nconst WEBHOOK_URL = ''; // optional: webhook URL for async (long) jobs\n\n// find the voiceover duration (seconds) from whatever the metadata node returned\nfunction findDuration(j) {\n  const candidates = [\n    j['Voiceover Duration'], j['voiceover_duration'], j['duration'],\n    j.metadata && j.metadata.duration,\n    j.format && j.format.duration,\n    j.response && j.response.duration,\n  ];\n  for (const c of candidates) {\n    const n = parseFloat(c);\n    if (!isNaN(n) && n > 0) return n;\n  }\n  return null;\n}\n\nreturn $input.all().map((entry, idx) => {\n  const j = entry.json;\n\n  const voiceover = j['Voiceover Path'];\n  const imageBase = j['Image Path'];   // e.g. \".../images/image_\"\n  const amount    = parseInt(j['Image Amount'], 10);\n  const ext       = j['Image Type'];   // e.g. \".jpg\" (includes the dot)\n\n  const duration = findDuration(j);\n  if (!duration) {\n    throw new Error('No voiceover duration found on the item. Run an NCA /v1/media/metadata node on the voiceover before this node.');\n  }\n  if (!amount || amount < 1) {\n    throw new Error('Invalid \"Image Amount\": ' + j['Image Amount']);\n  }\n\n  // seconds each image is held — derived from the real voiceover length\n  const perImage = (duration / amount).toFixed(6);\n\n  // inputs[0] = voiceover, inputs[1..N] = looped images each held for perImage seconds\n  const inputs = [{ file_url: voiceover }];\n  for (let i = 1; i <= amount; i++) {\n    inputs.push({\n      file_url: `${imageBase}${i}${ext}`,\n      options: [\n        { option: '-loop', argument: '1' },\n        { option: '-t',    argument: perImage },\n      ],\n    });\n  }\n\n  // normalize each image onto the same canvas (no distortion), then concat in order\n  const norm = (n) =>\n    `[${n}:v]scale=${WIDTH}:${HEIGHT}:force_original_aspect_ratio=decrease,` +\n    `pad=${WIDTH}:${HEIGHT}:(ow-iw)/2:(oh-ih)/2,setsar=1,fps=${FPS},format=yuv420p[v${n}]`;\n\n  const norms  = [];\n  const labels = [];\n  for (let i = 1; i <= amount; i++) { norms.push(norm(i)); labels.push(`[v${i}]`); }\n  const filter = `${norms.join(';')};${labels.join('')}concat=n=${amount}:v=1:a=0[outv]`;\n\n  const payload = {\n    inputs,\n    filters: [{ filter }],\n    outputs: [{\n      options: [\n        { option: '-map',     argument: '[outv]' },\n        { option: '-map',     argument: '0:a' },\n        { option: '-c:v',     argument: 'libx264' },\n        { option: '-preset',  argument: 'medium' },\n        { option: '-crf',     argument: '23' },\n        { option: '-pix_fmt', argument: 'yuv420p' },\n        { option: '-c:a',     argument: 'aac' },\n        { option: '-b:a',     argument: '192k' },\n        { option: '-shortest' },\n      ],\n    }],\n    metadata: { thumbnail: false, filesize: true, duration: true, bitrate: false, encoder: false },\n    id: `slideshow_${idx}_${Date.now()}`,\n  };\n  if (WEBHOOK_URL) payload.webhook_url = WEBHOOK_URL;\n\n  return { json: payload };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -432
      ],
      "id": "15e8524c-98e5-4fbf-b023-a62eba154c02",
      "name": "Create NCA Toolkit Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nca.n8ntypespectrum.cfd/v1/media/metadata",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"media_url\": \"https://minio-api.n8ntypespectrum.cfd/{{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}/{{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/voiceover.mp3\" }",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1312,
        -432
      ],
      "id": "84f846e1-40de-4965-b7aa-deb967099201",
      "name": "Get Voiceover Duration",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zFJo8K2PEmO7Ziev",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e10fd273-ddea-4f80-9c99-00d293cde494",
              "name": "Voiceover Path",
              "value": "=https://minio-api.n8ntypespectrum.cfd/{{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}/{{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/voiceover.mp3",
              "type": "string"
            },
            {
              "id": "9377ed83-066d-4e7c-8464-13dcdba91573",
              "name": "Image Path",
              "value": "=https://minio-api.n8ntypespectrum.cfd/{{ $('When Executed by Another Workflow').first().json['Storage Bucket'] }}/{{ $('When Executed by Another Workflow').first().json['Videos Path'] }}/{{ $('When Executed by Another Workflow').first().json.fields['Video Title'] }}/chunks/chunk_{{ $('When Executed by Another Workflow').first().json.level_number }}/images/image_",
              "type": "string"
            },
            {
              "id": "5d6f6ba9-9313-4780-9299-fc1ed4e54a0f",
              "name": "Image Amount",
              "value": "5",
              "type": "string"
            },
            {
              "id": "93005faa-e35d-4279-9858-be8f6c9ffbde",
              "name": "Image Type",
              "value": ".jpg",
              "type": "string"
            },
            {
              "id": "d91f9aff-cb33-478c-b50c-49b02c5e2519",
              "name": "Voiceover Duration",
              "value": "={{ $json.response.duration }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        -432
      ],
      "id": "50c9e436-8d8b-4443-9e5f-749e0a252e7b",
      "name": "Prepare Render Input for Chunk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nca.n8ntypespectrum.cfd/v1/ffmpeg/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -656,
        -432
      ],
      "id": "e88c69d3-c0d7-4bde-9398-7e6c0caee4d4",
      "name": "Render Chunk",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zFJo8K2PEmO7Ziev",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.response[0].file_url.replace(/^https?:\\/\\/minio:9000\\/?/, 'https://minio-api.n8ntypespectrum.cfd/') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        -432
      ],
      "id": "0d67fe94-4ad4-4734-9879-d75097311d8a",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zFJo8K2PEmO7Ziev",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "script": "The letter doesn't come in the mail. It's a tap on the shoulder during a graduate seminar on international relations, or a quiet conversation at the end of an embassy internship. You are twenty-four, you speak three languages, and you have no criminal record. You think you're being chosen for your intellect. You aren't. You're being chosen because you have no tether to the world that can't be cut.\n\nYou arrive at a nondescript office building in Northern Virginia. The air smells of industrial carpet cleaner and burnt coffee. You sit in a plastic chair for six hours. No phone. No book. Just you and a wall. This is the first test: the capacity for stillness. When the door finally opens, the man who greets you doesn't give a name. He gives you a psychological evaluation that lasts three days. They ask about your childhood, your sexual preferences, the time you stole a candy bar at age seven, and how you feel about the concept of \"the greater good.\"\n\nBy the time you leave, you feel exposed, raw, and oddly grateful. They know everything about you, which means you don't have to hide from them. You are told to go home, tell your parents you got a job in \"logistics\" for the Department of State, and wait. Three months of silence follow. You start to doubt it was real. Then, a plane ticket appears in your inbox. No return date.",
          "level_number": 1,
          "Title": "The Prospect",
          "Base ID": "p3l64neoyynn30b",
          "Worker Sheet ID": "mh5uzwjzhyyaim7",
          "Character Reference URL": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "Storage Bucket": "pov-guy",
          "Videos Path": "pov-guy-channel/videos",
          "fields": {
            "Video Title": "Your_Life_as_Every_CIA_Black_Ops_Rank"
          }
        }
      }
    ],
    "Convert text to speech": [
      {
        "json": {
          "date": "Tue, 30 Jun 2026 05:52:45 GMT",
          "server": "uvicorn",
          "request-id": "AWhFt4Czt9cACVmwSuzx",
          "access-control-expose-headers": "request-id, history-item-id, character-cost, regeneration-count, generation-info, current-concurrent-requests, maximum-concurrent-requests",
          "history-item-id": "H9tCm6er7FCvpCQnxzPq",
          "current-concurrent-requests": "1",
          "workspace-concurrent-requests": "1",
          "maximum-concurrent-requests": "5",
          "character-cost": "1348",
          "tts-latency-ms": "2597",
          "content-length": "1565719",
          "content-type": "audio/mpeg",
          "vary": "Accept-Language",
          "access-control-allow-origin": "*",
          "access-control-allow-headers": "*",
          "access-control-allow-methods": "POST, PATCH, OPTIONS, DELETE, GET, PUT",
          "access-control-max-age": "600",
          "strict-transport-security": "max-age=1800;",
          "x-trace-id": "7c3828e692ea373e37cf9695e4b55381",
          "x-region": "europe-west4",
          "via": "1.1 google",
          "alt-svc": "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
          "connection": "close"
        },
        "binary": {
          "data": {
            "mimeType": "audio/mp3",
            "fileType": "audio",
            "fileExtension": "mp3",
            "data": "filesystem-v2",
            "fileName": "audio.textToSpeech.mp3",
            "id": "filesystem-v2:workflows/oKcy6HGCCMQOaouA/executions/11395/binary_data/6c66b28d-8d05-45e1-9047-674ddd60c87e",
            "fileSize": "1.57 MB",
            "bytes": 1565719
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": {
            "prompts": [
              {
                "image_prompt": "A flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sits attentively in a wooden seminar chair inside a graduate-level classroom, using the provided character reference image for the main character's face and proportions. The character leans slightly forward, eyebrows neutral-curious and mouth curved in a faint polite smile, listening to an off-screen figure whose hand rests on the character's shoulder. The realistic, painterly background shows tall windows glowing with late-afternoon golden hour light, bookshelves heavy with international relations volumes, a chalkboard covered in geopolitical diagrams, and blurred classmates taking notes. Soft cinematic warm tones bathe the room, evoking the quiet momentousness of an unsuspecting recruit. A wide shot frames the character slightly off-center, emphasizing naive possibility before everything changes.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 1
              },
              {
                "image_prompt": "Using the provided character reference image for the main character's face and proportions, render a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sitting alone in a hard plastic chair pressed against a beige institutional wall. The realistic, painterly background depicts a nondescript Northern Virginia office building lobby with industrial carpet, a stained ceiling tile grid under flickering fluorescents, a burnt coffee maker on a folding table in the corner, and absolutely no other people in sight. The character is framed in a medium-wide shot, perfectly centered, knees pressed together and hands folded in lap, eyebrows slightly drawn together and mouth a flat, patient line. A wall clock shows that six hours have passed. Moody, slightly washed-out lighting conveys the sterile isolation of the first test of stillness.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 2
              },
              {
                "image_prompt": "Using the provided character reference image for the main character's face and proportions, depict a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sitting hunched forward in a small metal chair across from an empty second chair behind a bare desk. The realistic, painterly background shows a windowless evaluation room rendered in muted institutional grays and greens, with a single open file folder and a clipboard lying on the desk surface, harsh overhead fluorescent lighting casting hard shadows. The character's eyebrows are downturned and mouth curved downward in a raw, exposed expression, shoulders slumped, hands clasped between the knees. Cinematic soft shadows fall across the simplified face, emphasizing emotional vulnerability and the strange relief of having been completely seen. The medium shot frames the character slightly off-center, conveying the aftermath of confession and an odd, dependent gratitude.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 3
              },
              {
                "image_prompt": "Using the provided character reference image for the main character's face and proportions, show a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth standing awkwardly at the edge of a wooden family dining table, holding a glass of water in both hands. The realistic, painterly background depicts a warm suburban home kitchen-dining room with oak cabinets, framed family photographs lining the wall, a hanging potted herb, and two older parental figures seated at the table with their backs partially turned, soft amber evening lamp light pooling across the scene. The character's eyebrows are lifted in forced reassurance and mouth curved into a tight, performative smile, posture rigid. The wide cinematic framing captures the bittersweet tension of a careful lie told to loved ones. Warm domestic tones contrast with the emotional weight of the secret being concealed.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 4
              },
              {
                "image_prompt": "Using the provided character reference image for the main character's face and proportions, render a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sitting at a small desk in a sparse, dimly-lit apartment at night, leaning toward the cool blue glow of an open laptop screen. The realistic, painterly background shows bare plaster walls, a single unmade bed, a half-packed suitcase on the floor, and a thin layer of three months of accumulated dust on every surface. The character's eyebrows are slightly raised and mouth slightly open in quiet disbelief, one hand hovering near the chin, the other resting on the laptop's trackpad. The glowing screen displays a simple email interface with a plane ticket graphic and conspicuously no return date. The medium-wide shot frames the character off-center, with the cold blue screen light illuminating the simplified face against the dark room, capturing the precise moment destiny is confirmed.",
                "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
                "prompt_number": 5
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Split Out": [
      {
        "json": {
          "image_prompt": "A flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sits attentively in a wooden seminar chair inside a graduate-level classroom, using the provided character reference image for the main character's face and proportions. The character leans slightly forward, eyebrows neutral-curious and mouth curved in a faint polite smile, listening to an off-screen figure whose hand rests on the character's shoulder. The realistic, painterly background shows tall windows glowing with late-afternoon golden hour light, bookshelves heavy with international relations volumes, a chalkboard covered in geopolitical diagrams, and blurred classmates taking notes. Soft cinematic warm tones bathe the room, evoking the quiet momentousness of an unsuspecting recruit. A wide shot frames the character slightly off-center, emphasizing naive possibility before everything changes.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 1
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "image_prompt": "Using the provided character reference image for the main character's face and proportions, render a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sitting alone in a hard plastic chair pressed against a beige institutional wall. The realistic, painterly background depicts a nondescript Northern Virginia office building lobby with industrial carpet, a stained ceiling tile grid under flickering fluorescents, a burnt coffee maker on a folding table in the corner, and absolutely no other people in sight. The character is framed in a medium-wide shot, perfectly centered, knees pressed together and hands folded in lap, eyebrows slightly drawn together and mouth a flat, patient line. A wall clock shows that six hours have passed. Moody, slightly washed-out lighting conveys the sterile isolation of the first test of stillness.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 2
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "image_prompt": "Using the provided character reference image for the main character's face and proportions, depict a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sitting hunched forward in a small metal chair across from an empty second chair behind a bare desk. The realistic, painterly background shows a windowless evaluation room rendered in muted institutional grays and greens, with a single open file folder and a clipboard lying on the desk surface, harsh overhead fluorescent lighting casting hard shadows. The character's eyebrows are downturned and mouth curved downward in a raw, exposed expression, shoulders slumped, hands clasped between the knees. Cinematic soft shadows fall across the simplified face, emphasizing emotional vulnerability and the strange relief of having been completely seen. The medium shot frames the character slightly off-center, conveying the aftermath of confession and an odd, dependent gratitude.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 3
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "image_prompt": "Using the provided character reference image for the main character's face and proportions, show a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth standing awkwardly at the edge of a wooden family dining table, holding a glass of water in both hands. The realistic, painterly background depicts a warm suburban home kitchen-dining room with oak cabinets, framed family photographs lining the wall, a hanging potted herb, and two older parental figures seated at the table with their backs partially turned, soft amber evening lamp light pooling across the scene. The character's eyebrows are lifted in forced reassurance and mouth curved into a tight, performative smile, posture rigid. The wide cinematic framing captures the bittersweet tension of a careful lie told to loved ones. Warm domestic tones contrast with the emotional weight of the secret being concealed.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 4
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "image_prompt": "Using the provided character reference image for the main character's face and proportions, render a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sitting at a small desk in a sparse, dimly-lit apartment at night, leaning toward the cool blue glow of an open laptop screen. The realistic, painterly background shows bare plaster walls, a single unmade bed, a half-packed suitcase on the floor, and a thin layer of three months of accumulated dust on every surface. The character's eyebrows are slightly raised and mouth slightly open in quiet disbelief, one hand hovering near the chin, the other resting on the laptop's trackpad. The glowing screen displays a simple email interface with a plane ticket graphic and conspicuously no return date. The medium-wide shot frames the character off-center, with the cold blue screen light illuminating the simplified face against the dark room, capturing the precise moment destiny is confirmed.",
          "character_reference_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg",
          "prompt_number": 5
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "HTTP Request": [
      {
        "json": {
          "id": "2xepfekhhhrmy0cz2wbrr5matr",
          "model": "google/nano-banana-pro",
          "version": "hidden",
          "input": {
            "allow_fallback_model": false,
            "aspect_ratio": "16:9",
            "image_input": [
              "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg"
            ],
            "output_format": "jpg",
            "prompt": "A flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sits attentively in a wooden seminar chair inside a graduate-level classroom, using the provided character reference image for the main character's face and proportions. The character leans slightly forward, eyebrows neutral-curious and mouth curved in a faint polite smile, listening to an off-screen figure whose hand rests on the character's shoulder. The realistic, painterly background shows tall windows glowing with late-afternoon golden hour light, bookshelves heavy with international relations volumes, a chalkboard covered in geopolitical diagrams, and blurred classmates taking notes. Soft cinematic warm tones bathe the room, evoking the quiet momentousness of an unsuspecting recruit. A wide shot frames the character slightly off-center, emphasizing naive possibility before everything changes.",
            "resolution": "2K",
            "safety_filter_level": "block_only_high"
          },
          "logs": "",
          "output": null,
          "data_removed": false,
          "error": null,
          "source": "api",
          "status": "starting",
          "created_at": "2026-06-30T05:54:00.204Z",
          "urls": {
            "cancel": "https://api.replicate.com/v1/predictions/2xepfekhhhrmy0cz2wbrr5matr/cancel",
            "get": "https://api.replicate.com/v1/predictions/2xepfekhhhrmy0cz2wbrr5matr",
            "stream": "https://stream.replicate.com/v1/files/jbxs-xkmppnjnqsyb2eyzfep6atrylclzgmgcyw57mohyhcj3dkfsnt2a",
            "web": "https://replicate.com/p/2xepfekhhhrmy0cz2wbrr5matr"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "1kay4kkhknrmw0cz2wbv8mdm5r",
          "model": "google/nano-banana-pro",
          "version": "hidden",
          "input": {
            "allow_fallback_model": false,
            "aspect_ratio": "16:9",
            "image_input": [
              "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg"
            ],
            "output_format": "jpg",
            "prompt": "Using the provided character reference image for the main character's face and proportions, render a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sitting alone in a hard plastic chair pressed against a beige institutional wall. The realistic, painterly background depicts a nondescript Northern Virginia office building lobby with industrial carpet, a stained ceiling tile grid under flickering fluorescents, a burnt coffee maker on a folding table in the corner, and absolutely no other people in sight. The character is framed in a medium-wide shot, perfectly centered, knees pressed together and hands folded in lap, eyebrows slightly drawn together and mouth a flat, patient line. A wall clock shows that six hours have passed. Moody, slightly washed-out lighting conveys the sterile isolation of the first test of stillness.",
            "resolution": "2K",
            "safety_filter_level": "block_only_high"
          },
          "logs": "",
          "output": null,
          "data_removed": false,
          "error": null,
          "source": "api",
          "status": "starting",
          "created_at": "2026-06-30T05:54:00.221Z",
          "urls": {
            "cancel": "https://api.replicate.com/v1/predictions/1kay4kkhknrmw0cz2wbv8mdm5r/cancel",
            "get": "https://api.replicate.com/v1/predictions/1kay4kkhknrmw0cz2wbv8mdm5r",
            "stream": "https://stream.replicate.com/v1/files/jbxs-g6gkkfa2mbqz7ngss6agk73ddmrws2aoyx6pbr6vy66lmx5vsmdq",
            "web": "https://replicate.com/p/1kay4kkhknrmw0cz2wbv8mdm5r"
          }
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "id": "yxqsxtbhk5rmy0cz2wbrq869d4",
          "model": "google/nano-banana-pro",
          "version": "hidden",
          "input": {
            "allow_fallback_model": false,
            "aspect_ratio": "16:9",
            "image_input": [
              "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg"
            ],
            "output_format": "jpg",
            "prompt": "Using the provided character reference image for the main character's face and proportions, depict a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sitting hunched forward in a small metal chair across from an empty second chair behind a bare desk. The realistic, painterly background shows a windowless evaluation room rendered in muted institutional grays and greens, with a single open file folder and a clipboard lying on the desk surface, harsh overhead fluorescent lighting casting hard shadows. The character's eyebrows are downturned and mouth curved downward in a raw, exposed expression, shoulders slumped, hands clasped between the knees. Cinematic soft shadows fall across the simplified face, emphasizing emotional vulnerability and the strange relief of having been completely seen. The medium shot frames the character slightly off-center, conveying the aftermath of confession and an odd, dependent gratitude.",
            "resolution": "2K",
            "safety_filter_level": "block_only_high"
          },
          "logs": "",
          "output": null,
          "data_removed": false,
          "error": null,
          "source": "api",
          "status": "starting",
          "created_at": "2026-06-30T05:54:00.217Z",
          "urls": {
            "cancel": "https://api.replicate.com/v1/predictions/yxqsxtbhk5rmy0cz2wbrq869d4/cancel",
            "get": "https://api.replicate.com/v1/predictions/yxqsxtbhk5rmy0cz2wbrq869d4",
            "stream": "https://stream.replicate.com/v1/files/jbxs-5mivvooqetdvo2ocgsukydnq6ciyei765gildmoeogddxwgim74q",
            "web": "https://replicate.com/p/yxqsxtbhk5rmy0cz2wbrq869d4"
          }
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "id": "gdj1mabhmhrmw0cz2wbtk3n38w",
          "model": "google/nano-banana-pro",
          "version": "hidden",
          "input": {
            "allow_fallback_model": false,
            "aspect_ratio": "16:9",
            "image_input": [
              "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg"
            ],
            "output_format": "jpg",
            "prompt": "Using the provided character reference image for the main character's face and proportions, show a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth standing awkwardly at the edge of a wooden family dining table, holding a glass of water in both hands. The realistic, painterly background depicts a warm suburban home kitchen-dining room with oak cabinets, framed family photographs lining the wall, a hanging potted herb, and two older parental figures seated at the table with their backs partially turned, soft amber evening lamp light pooling across the scene. The character's eyebrows are lifted in forced reassurance and mouth curved into a tight, performative smile, posture rigid. The wide cinematic framing captures the bittersweet tension of a careful lie told to loved ones. Warm domestic tones contrast with the emotional weight of the secret being concealed.",
            "resolution": "2K",
            "safety_filter_level": "block_only_high"
          },
          "logs": "",
          "output": null,
          "data_removed": false,
          "error": null,
          "source": "api",
          "status": "starting",
          "created_at": "2026-06-30T05:54:00.228Z",
          "urls": {
            "cancel": "https://api.replicate.com/v1/predictions/gdj1mabhmhrmw0cz2wbtk3n38w/cancel",
            "get": "https://api.replicate.com/v1/predictions/gdj1mabhmhrmw0cz2wbtk3n38w",
            "stream": "https://stream.replicate.com/v1/files/jbxs-rs5rlhj3hdjjexcmopijfrau4xi2dzqxydvatvjaeg62jftbtnma",
            "web": "https://replicate.com/p/gdj1mabhmhrmw0cz2wbtk3n38w"
          }
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "id": "80gp3akhn1rmt0cz2wbr607860",
          "model": "google/nano-banana-pro",
          "version": "hidden",
          "input": {
            "allow_fallback_model": false,
            "aspect_ratio": "16:9",
            "image_input": [
              "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg"
            ],
            "output_format": "jpg",
            "prompt": "Using the provided character reference image for the main character's face and proportions, render a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sitting at a small desk in a sparse, dimly-lit apartment at night, leaning toward the cool blue glow of an open laptop screen. The realistic, painterly background shows bare plaster walls, a single unmade bed, a half-packed suitcase on the floor, and a thin layer of three months of accumulated dust on every surface. The character's eyebrows are slightly raised and mouth slightly open in quiet disbelief, one hand hovering near the chin, the other resting on the laptop's trackpad. The glowing screen displays a simple email interface with a plane ticket graphic and conspicuously no return date. The medium-wide shot frames the character off-center, with the cold blue screen light illuminating the simplified face against the dark room, capturing the precise moment destiny is confirmed.",
            "resolution": "2K",
            "safety_filter_level": "block_only_high"
          },
          "logs": "",
          "output": null,
          "data_removed": false,
          "error": null,
          "source": "api",
          "status": "starting",
          "created_at": "2026-06-30T05:54:00.232Z",
          "urls": {
            "cancel": "https://api.replicate.com/v1/predictions/80gp3akhn1rmt0cz2wbr607860/cancel",
            "get": "https://api.replicate.com/v1/predictions/80gp3akhn1rmt0cz2wbr607860",
            "stream": "https://stream.replicate.com/v1/files/jbxs-rnttyypmflzri7q3yuap7xhpmqzsuhpygwklibqfv7kyehu6e7oq",
            "web": "https://replicate.com/p/80gp3akhn1rmt0cz2wbr607860"
          }
        },
        "pairedItem": {
          "item": 4
        }
      }
    ],
    "HTTP Request1": [
      {
        "json": {
          "id": "2xepfekhhhrmy0cz2wbrr5matr",
          "model": "google/nano-banana-pro",
          "version": "hidden",
          "input": {
            "allow_fallback_model": false,
            "aspect_ratio": "16:9",
            "image_input": [
              "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg"
            ],
            "output_format": "jpg",
            "prompt": "A flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sits attentively in a wooden seminar chair inside a graduate-level classroom, using the provided character reference image for the main character's face and proportions. The character leans slightly forward, eyebrows neutral-curious and mouth curved in a faint polite smile, listening to an off-screen figure whose hand rests on the character's shoulder. The realistic, painterly background shows tall windows glowing with late-afternoon golden hour light, bookshelves heavy with international relations volumes, a chalkboard covered in geopolitical diagrams, and blurred classmates taking notes. Soft cinematic warm tones bathe the room, evoking the quiet momentousness of an unsuspecting recruit. A wide shot frames the character slightly off-center, emphasizing naive possibility before everything changes.",
            "resolution": "2K",
            "safety_filter_level": "block_only_high"
          },
          "logs": "",
          "output": null,
          "data_removed": false,
          "error": null,
          "source": "api",
          "status": "starting",
          "created_at": "2026-06-30T05:54:00.204Z",
          "urls": {
            "cancel": "https://api.replicate.com/v1/predictions/2xepfekhhhrmy0cz2wbrr5matr/cancel",
            "get": "https://api.replicate.com/v1/predictions/2xepfekhhhrmy0cz2wbrr5matr",
            "stream": "https://stream.replicate.com/v1/files/jbxs-xkmppnjnqsyb2eyzfep6atrylclzgmgcyw57mohyhcj3dkfsnt2a",
            "web": "https://replicate.com/p/2xepfekhhhrmy0cz2wbrr5matr"
          }
        },
        "binary": {
          "data": {
            "mimeType": "image/jpeg",
            "fileType": "image",
            "fileExtension": "jpg",
            "data": "filesystem-v2",
            "directory": "https://stream.replicate.com/v1/files/jbxs-xkmppnjnqsyb2eyzfep6atrylclzgmgcyw57mohyhcj3dkfsnt2a",
            "fileName": "jbxs-xkmppnjnqsyb2eyzfep6atrylclzgmgcyw57mohyhcj3dkfsnt2a",
            "id": "filesystem-v2:workflows/oKcy6HGCCMQOaouA/executions/11395/binary_data/1bda4280-a37a-495d-ba33-7ec41d2522cb",
            "fileSize": "422 kB",
            "bytes": 421707
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "1kay4kkhknrmw0cz2wbv8mdm5r",
          "model": "google/nano-banana-pro",
          "version": "hidden",
          "input": {
            "allow_fallback_model": false,
            "aspect_ratio": "16:9",
            "image_input": [
              "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg"
            ],
            "output_format": "jpg",
            "prompt": "Using the provided character reference image for the main character's face and proportions, render a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sitting alone in a hard plastic chair pressed against a beige institutional wall. The realistic, painterly background depicts a nondescript Northern Virginia office building lobby with industrial carpet, a stained ceiling tile grid under flickering fluorescents, a burnt coffee maker on a folding table in the corner, and absolutely no other people in sight. The character is framed in a medium-wide shot, perfectly centered, knees pressed together and hands folded in lap, eyebrows slightly drawn together and mouth a flat, patient line. A wall clock shows that six hours have passed. Moody, slightly washed-out lighting conveys the sterile isolation of the first test of stillness.",
            "resolution": "2K",
            "safety_filter_level": "block_only_high"
          },
          "logs": "",
          "output": null,
          "data_removed": false,
          "error": null,
          "source": "api",
          "status": "starting",
          "created_at": "2026-06-30T05:54:00.221Z",
          "urls": {
            "cancel": "https://api.replicate.com/v1/predictions/1kay4kkhknrmw0cz2wbv8mdm5r/cancel",
            "get": "https://api.replicate.com/v1/predictions/1kay4kkhknrmw0cz2wbv8mdm5r",
            "stream": "https://stream.replicate.com/v1/files/jbxs-g6gkkfa2mbqz7ngss6agk73ddmrws2aoyx6pbr6vy66lmx5vsmdq",
            "web": "https://replicate.com/p/1kay4kkhknrmw0cz2wbv8mdm5r"
          }
        },
        "binary": {
          "data": {
            "mimeType": "image/jpeg",
            "fileType": "image",
            "fileExtension": "jpg",
            "data": "filesystem-v2",
            "directory": "https://stream.replicate.com/v1/files/jbxs-g6gkkfa2mbqz7ngss6agk73ddmrws2aoyx6pbr6vy66lmx5vsmdq",
            "fileName": "jbxs-g6gkkfa2mbqz7ngss6agk73ddmrws2aoyx6pbr6vy66lmx5vsmdq",
            "id": "filesystem-v2:workflows/oKcy6HGCCMQOaouA/executions/11395/binary_data/856f74c9-978b-4476-82e5-0ad155f58ae8",
            "fileSize": "344 kB",
            "bytes": 344231
          }
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "id": "yxqsxtbhk5rmy0cz2wbrq869d4",
          "model": "google/nano-banana-pro",
          "version": "hidden",
          "input": {
            "allow_fallback_model": false,
            "aspect_ratio": "16:9",
            "image_input": [
              "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg"
            ],
            "output_format": "jpg",
            "prompt": "Using the provided character reference image for the main character's face and proportions, depict a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sitting hunched forward in a small metal chair across from an empty second chair behind a bare desk. The realistic, painterly background shows a windowless evaluation room rendered in muted institutional grays and greens, with a single open file folder and a clipboard lying on the desk surface, harsh overhead fluorescent lighting casting hard shadows. The character's eyebrows are downturned and mouth curved downward in a raw, exposed expression, shoulders slumped, hands clasped between the knees. Cinematic soft shadows fall across the simplified face, emphasizing emotional vulnerability and the strange relief of having been completely seen. The medium shot frames the character slightly off-center, conveying the aftermath of confession and an odd, dependent gratitude.",
            "resolution": "2K",
            "safety_filter_level": "block_only_high"
          },
          "logs": "",
          "output": null,
          "data_removed": false,
          "error": null,
          "source": "api",
          "status": "starting",
          "created_at": "2026-06-30T05:54:00.217Z",
          "urls": {
            "cancel": "https://api.replicate.com/v1/predictions/yxqsxtbhk5rmy0cz2wbrq869d4/cancel",
            "get": "https://api.replicate.com/v1/predictions/yxqsxtbhk5rmy0cz2wbrq869d4",
            "stream": "https://stream.replicate.com/v1/files/jbxs-5mivvooqetdvo2ocgsukydnq6ciyei765gildmoeogddxwgim74q",
            "web": "https://replicate.com/p/yxqsxtbhk5rmy0cz2wbrq869d4"
          }
        },
        "binary": {
          "data": {
            "mimeType": "image/jpeg",
            "fileType": "image",
            "fileExtension": "jpg",
            "data": "filesystem-v2",
            "directory": "https://stream.replicate.com/v1/files/jbxs-5mivvooqetdvo2ocgsukydnq6ciyei765gildmoeogddxwgim74q",
            "fileName": "jbxs-5mivvooqetdvo2ocgsukydnq6ciyei765gildmoeogddxwgim74q",
            "id": "filesystem-v2:workflows/oKcy6HGCCMQOaouA/executions/11395/binary_data/62a96185-3f23-4b53-a67c-c8068b7c8f69",
            "fileSize": "295 kB",
            "bytes": 295459
          }
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "id": "gdj1mabhmhrmw0cz2wbtk3n38w",
          "model": "google/nano-banana-pro",
          "version": "hidden",
          "input": {
            "allow_fallback_model": false,
            "aspect_ratio": "16:9",
            "image_input": [
              "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg"
            ],
            "output_format": "jpg",
            "prompt": "Using the provided character reference image for the main character's face and proportions, show a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth standing awkwardly at the edge of a wooden family dining table, holding a glass of water in both hands. The realistic, painterly background depicts a warm suburban home kitchen-dining room with oak cabinets, framed family photographs lining the wall, a hanging potted herb, and two older parental figures seated at the table with their backs partially turned, soft amber evening lamp light pooling across the scene. The character's eyebrows are lifted in forced reassurance and mouth curved into a tight, performative smile, posture rigid. The wide cinematic framing captures the bittersweet tension of a careful lie told to loved ones. Warm domestic tones contrast with the emotional weight of the secret being concealed.",
            "resolution": "2K",
            "safety_filter_level": "block_only_high"
          },
          "logs": "",
          "output": null,
          "data_removed": false,
          "error": null,
          "source": "api",
          "status": "starting",
          "created_at": "2026-06-30T05:54:00.228Z",
          "urls": {
            "cancel": "https://api.replicate.com/v1/predictions/gdj1mabhmhrmw0cz2wbtk3n38w/cancel",
            "get": "https://api.replicate.com/v1/predictions/gdj1mabhmhrmw0cz2wbtk3n38w",
            "stream": "https://stream.replicate.com/v1/files/jbxs-rs5rlhj3hdjjexcmopijfrau4xi2dzqxydvatvjaeg62jftbtnma",
            "web": "https://replicate.com/p/gdj1mabhmhrmw0cz2wbtk3n38w"
          }
        },
        "binary": {
          "data": {
            "mimeType": "image/jpeg",
            "fileType": "image",
            "fileExtension": "jpg",
            "data": "filesystem-v2",
            "directory": "https://stream.replicate.com/v1/files/jbxs-rs5rlhj3hdjjexcmopijfrau4xi2dzqxydvatvjaeg62jftbtnma",
            "fileName": "jbxs-rs5rlhj3hdjjexcmopijfrau4xi2dzqxydvatvjaeg62jftbtnma",
            "id": "filesystem-v2:workflows/oKcy6HGCCMQOaouA/executions/11395/binary_data/eab15942-08d4-4263-a922-e1c1b2e2e688",
            "fileSize": "414 kB",
            "bytes": 413685
          }
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "id": "80gp3akhn1rmt0cz2wbr607860",
          "model": "google/nano-banana-pro",
          "version": "hidden",
          "input": {
            "allow_fallback_model": false,
            "aspect_ratio": "16:9",
            "image_input": [
              "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel%2FCharacter%20Image.jpg"
            ],
            "output_format": "jpg",
            "prompt": "Using the provided character reference image for the main character's face and proportions, render a flat-color cartoon character with a minimalist bald head, dot eyes, and thin line eyebrows and mouth sitting at a small desk in a sparse, dimly-lit apartment at night, leaning toward the cool blue glow of an open laptop screen. The realistic, painterly background shows bare plaster walls, a single unmade bed, a half-packed suitcase on the floor, and a thin layer of three months of accumulated dust on every surface. The character's eyebrows are slightly raised and mouth slightly open in quiet disbelief, one hand hovering near the chin, the other resting on the laptop's trackpad. The glowing screen displays a simple email interface with a plane ticket graphic and conspicuously no return date. The medium-wide shot frames the character off-center, with the cold blue screen light illuminating the simplified face against the dark room, capturing the precise moment destiny is confirmed.",
            "resolution": "2K",
            "safety_filter_level": "block_only_high"
          },
          "logs": "",
          "output": null,
          "data_removed": false,
          "error": null,
          "source": "api",
          "status": "starting",
          "created_at": "2026-06-30T05:54:00.232Z",
          "urls": {
            "cancel": "https://api.replicate.com/v1/predictions/80gp3akhn1rmt0cz2wbr607860/cancel",
            "get": "https://api.replicate.com/v1/predictions/80gp3akhn1rmt0cz2wbr607860",
            "stream": "https://stream.replicate.com/v1/files/jbxs-rnttyypmflzri7q3yuap7xhpmqzsuhpygwklibqfv7kyehu6e7oq",
            "web": "https://replicate.com/p/80gp3akhn1rmt0cz2wbr607860"
          }
        },
        "binary": {
          "data": {
            "mimeType": "image/jpeg",
            "fileType": "image",
            "fileExtension": "jpg",
            "data": "filesystem-v2",
            "directory": "https://stream.replicate.com/v1/files/jbxs-rnttyypmflzri7q3yuap7xhpmqzsuhpygwklibqfv7kyehu6e7oq",
            "fileName": "jbxs-rnttyypmflzri7q3yuap7xhpmqzsuhpygwklibqfv7kyehu6e7oq",
            "id": "filesystem-v2:workflows/oKcy6HGCCMQOaouA/executions/11395/binary_data/da0a0e68-9ff7-4d46-b9d6-5ef7771f614f",
            "fileSize": "269 kB",
            "bytes": 268596
          }
        },
        "pairedItem": {
          "item": 4
        }
      }
    ],
    "Upload a file1": [
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 4
        }
      }
    ],
    "Upload the Voiceover": [
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Voiceover Duration": [
      {
        "json": {
          "build_number": 219,
          "code": 200,
          "endpoint": "/v1/media/metadata",
          "id": null,
          "job_id": "e7d195fa-2d22-4776-9175-56df7c937199",
          "message": "success",
          "pid": 9,
          "queue_id": 128216269686528,
          "queue_length": 0,
          "queue_time": 0,
          "response": {
            "audio_bitrate": 128000,
            "audio_bitrate_kbps": 128,
            "audio_channels": 1,
            "audio_codec": "mp3",
            "audio_codec_long": "MP3 (MPEG audio layer 3)",
            "audio_sample_rate": 44100,
            "audio_sample_rate_khz": 44.1,
            "duration": 97.828571,
            "duration_formatted": "00:01:37.83",
            "filesize": 1565719,
            "filesize_mb": 1.49,
            "format": "mp3",
            "has_audio": true,
            "has_video": false,
            "overall_bitrate": 128037,
            "overall_bitrate_mbps": 0.13
          },
          "run_time": 1.001,
          "total_time": 1.001
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Create NCA Toolkit Body": [
      {
        "json": {
          "inputs": [
            {
              "file_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel/videos/Your_Life_as_Every_CIA_Black_Ops_Rank/chunks/chunk_1/voiceover.mp3"
            },
            {
              "file_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel/videos/Your_Life_as_Every_CIA_Black_Ops_Rank/chunks/chunk_1/images/image_1.jpg",
              "options": [
                {
                  "option": "-loop",
                  "argument": "1"
                },
                {
                  "option": "-t",
                  "argument": "19.565714"
                }
              ]
            },
            {
              "file_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel/videos/Your_Life_as_Every_CIA_Black_Ops_Rank/chunks/chunk_1/images/image_2.jpg",
              "options": [
                {
                  "option": "-loop",
                  "argument": "1"
                },
                {
                  "option": "-t",
                  "argument": "19.565714"
                }
              ]
            },
            {
              "file_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel/videos/Your_Life_as_Every_CIA_Black_Ops_Rank/chunks/chunk_1/images/image_3.jpg",
              "options": [
                {
                  "option": "-loop",
                  "argument": "1"
                },
                {
                  "option": "-t",
                  "argument": "19.565714"
                }
              ]
            },
            {
              "file_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel/videos/Your_Life_as_Every_CIA_Black_Ops_Rank/chunks/chunk_1/images/image_4.jpg",
              "options": [
                {
                  "option": "-loop",
                  "argument": "1"
                },
                {
                  "option": "-t",
                  "argument": "19.565714"
                }
              ]
            },
            {
              "file_url": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel/videos/Your_Life_as_Every_CIA_Black_Ops_Rank/chunks/chunk_1/images/image_5.jpg",
              "options": [
                {
                  "option": "-loop",
                  "argument": "1"
                },
                {
                  "option": "-t",
                  "argument": "19.565714"
                }
              ]
            }
          ],
          "filters": [
            {
              "filter": "[1:v]scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2,setsar=1,fps=30,format=yuv420p[v1];[2:v]scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2,setsar=1,fps=30,format=yuv420p[v2];[3:v]scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2,setsar=1,fps=30,format=yuv420p[v3];[4:v]scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2,setsar=1,fps=30,format=yuv420p[v4];[5:v]scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2,setsar=1,fps=30,format=yuv420p[v5];[v1][v2][v3][v4][v5]concat=n=5:v=1:a=0[outv]"
            }
          ],
          "outputs": [
            {
              "options": [
                {
                  "option": "-map",
                  "argument": "[outv]"
                },
                {
                  "option": "-map",
                  "argument": "0:a"
                },
                {
                  "option": "-c:v",
                  "argument": "libx264"
                },
                {
                  "option": "-preset",
                  "argument": "medium"
                },
                {
                  "option": "-crf",
                  "argument": "23"
                },
                {
                  "option": "-pix_fmt",
                  "argument": "yuv420p"
                },
                {
                  "option": "-c:a",
                  "argument": "aac"
                },
                {
                  "option": "-b:a",
                  "argument": "192k"
                },
                {
                  "option": "-shortest"
                }
              ]
            }
          ],
          "metadata": {
            "thumbnail": false,
            "filesize": true,
            "duration": true,
            "bitrate": false,
            "encoder": false
          },
          "id": "slideshow_0_1783214206992"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Prepare Render Input for Chunk": [
      {
        "json": {
          "Voiceover Path": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel/videos/Your_Life_as_Every_CIA_Black_Ops_Rank/chunks/chunk_1/voiceover.mp3",
          "Image Path": "https://minio-api.n8ntypespectrum.cfd/pov-guy/pov-guy-channel/videos/Your_Life_as_Every_CIA_Black_Ops_Rank/chunks/chunk_1/images/image_",
          "Image Amount": "5",
          "Image Type": ".jpg",
          "Voiceover Duration": 97.828571
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Render Chunk": [
      {
        "json": {
          "build_number": 219,
          "code": 200,
          "endpoint": "/v1/ffmpeg/compose",
          "id": "slideshow_0_1783214206992",
          "job_id": "a9159402-906e-4c8d-975a-f6336ce37a16",
          "message": "success",
          "pid": 8,
          "queue_id": 128216269686384,
          "queue_length": 0,
          "queue_time": 0,
          "response": [
            {
              "duration": 97.801995,
              "file_url": "http://minio:9000/nca-bucket/a9159402-906e-4c8d-975a-f6336ce37a16_output_0.mp4",
              "filesize": 3794809
            }
          ],
          "run_time": 24.744,
          "total_time": 24.744
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8nmanamagementserver",
  "repo_owner": "typespectrum-dev",
  "repo_path": "workflows/n8n-second/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2026-06-24T04:09:55.729Z",
      "createdAt": "2026-06-24T04:09:55.729Z",
      "role": "workflow:owner",
      "workflowId": "oKcy6HGCCMQOaouA",
      "projectId": "CBMgvnupThQ6ZdzY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-08T04:36:53.843Z",
  "versionId": "b063376f-3582-435a-9e00-7b9744ae7812"
}