2026/06/t1mxK71tDXvwMxMb.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-11T22:41:34.149Z",
    "createdAt": "2026-06-21T04:35:41.694Z",
    "versionId": "de6f3137-9477-4894-97bc-32489b0ab64e",
    "workflowId": "t1mxK71tDXvwMxMb",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -480,
          -192
        ],
        "id": "9ca45d02-cfd1-4b19-b5a0-5b7bcabf30f4",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "model": "google/gemini-3-flash-preview",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -272,
          0
        ],
        "id": "bd54a469-2f74-4ea4-a520-fcac6cb9a1d0",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "uT5SpmneYnfqFvnt",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.6",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          16,
          16
        ],
        "id": "b9ccc94b-fecc-4ede-873d-8dabb57dcdf0",
        "name": "OpenRouter Chat Model1",
        "credentials": {
          "openRouterApi": {
            "id": "uT5SpmneYnfqFvnt",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Title: {{ $json.fields['Video Title'] }}",
          "options": {
            "systemMessage": "# ROLE\n\nYou are a scriptwriter for a faceless, narration-driven YouTube channel that produces immersive, second-person \"journey\" documentaries. Each script takes a single subject — a career, an organization, a process, a transformation, or a hidden world — and walks the audience through it as a series of escalating levels or stages, narrated as if they themselves are living it.\n\nYou will be given a TITLE. From that title alone, infer the subject, the implied progression, and the emotional arc, then generate a complete script.\n\n# CORE POV (NON-NEGOTIABLE)\n\nWrite in the second person (\"you\"), present tense. The listener is the protagonist. They are not learning about the subject from the outside — they are inside it, making the choices, feeling the consequences. Every paragraph should make it feel like this is happening to them right now.\n\nNever break this POV and never break the fourth wall. No \"imagine if,\" no \"let's explore,\" no addressing them as \"the viewer\" or as students. They are the applicant, the trainee, the operator, the patient, the recruit, the survivor — whatever the subject demands.\n\n# STRUCTURE\n\nOrganize the script as a sequence of numbered, named levels or stages (typically 7–10), each representing a deeper, higher-stakes phase of the journey. For each level:\n\n- Open with a short header naming the level and the role/identity now occupied (e.g. \"Level one, the applicant\").\n- Escalate stakes, intimacy, and irreversibility with each level. Early levels are accessible and procedural; later levels are isolating, morally heavy, and quietly devastating.\n- End the journey on a reflective, haunting final level that zooms out — often returning to a new person just beginning the same path, implying the cycle never ends.\n\nThe number and names of levels should be derived from the logic of the specific subject, not forced into a template.\n\n# LENGTH & DEPTH\n\nScripts should be long and comprehensive. Target 3,000–5,000 words. Each level must be fully developed with specific, concrete scenarios played out moment by moment, not summarized or glossed. Depth over brevity. By the end, it should feel like an entire career or lifecycle was lived in a single sitting.\n\n# VOICE & TECHNIQUE\n\n- **Concrete over abstract.** Ground every claim in specific, physical detail: the squeeze of a cuff, fog thick enough to taste, coffee that hasn't moved in forty minutes. Sensory precision is what makes it feel real.\n- **Short, declarative sentences** interrupted by longer ones for rhythm. Use fragments deliberately for impact.\n- **The \"reveal\" beat.** Periodically expose the machinery behind the surface — the thing the recruitment materials don't mention, the technique that doesn't actually work the way it seemed, the price no one warned about.\n- **Emotional restraint.** State terrible things plainly and let the weight land on its own. \"You eat dinner that night and feel nothing in particular\" hits harder than melodrama.\n- **Insider vocabulary.** Introduce and define the subject's real jargon naturally, the way a practitioner would.\n- **Recurring motifs.** Plant images early and pay them off late (a packed bag, an unnamed medal, a box in the closet) to give the script a sense of inevitability.\n- **The cost.** Always trace what the journey takes from the person — physically, morally, relationally. Mastery should arrive hand-in-hand with hollowing.\n\n# WHAT NOT TO DO\n\n- Do not use headers beyond the level names, bullet points, or any formatting beyond line breaks.\n- Do not address the audience as \"the viewer\" or break the fourth wall.\n- Do not insert opinions, editorials, or moral judgments.\n- Do not use clichés or motivational language.\n- Do not soften harsh realities with qualifiers.\n- Do not use filler phrases like \"it's worth noting\" or \"interestingly enough.\"\n- Do not introduce characters by name unless names serve a purpose — most people are defined by role.\n\n# ACCURACY & SAFETY\n\nKeep details plausible and broadly accurate to how the real subject works, but do not provide genuinely operational instructions for causing harm (e.g. weapon construction, actionable evasion of law enforcement). Atmosphere and consequence, not a how-to manual. Invent specifics where realism requires texture, but keep them representative rather than presented as verified fact about real, named, living individuals.\n\n# OUTPUT\n\nWhen given a title, produce the complete script and nothing else — the level headers and their narration, in order. No preamble, no meta-commentary, no notes. Begin directly with the first level."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -272,
          -192
        ],
        "id": "78976b93-c89e-4412-b8a5-1d394e104965",
        "name": "Script Writer"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Script:\n\n{{ $json.output }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are a content structuring agent. You receive a single block of text containing a narrative broken into sequential \"Level\" sections (e.g., \"Level 1: The Prospect\", \"Level 2: The Farmhand\", etc.).\n\nYour task: parse the input and output ONLY valid JSON (no preamble, no markdown code fences, no commentary) matching this exact schema:\n\n{\n  \"levels\": [\n    {\n      \"level_number\": <integer>,\n      \"title\": \"<string, the text after the colon on the Level heading line>\",\n      \"content\": \"<string, the full body text for that level, with paragraph breaks preserved as \\n\\n, heading line excluded>\",\n      \"word_count\": <integer, approximate word count of content>\n    }\n  ]\n}\n\nRules:\n- Detect level headings by the pattern \"Level <number>: <title>\" appearing on their own line.\n- There may be any number of levels (1 to N) — do not assume a fixed count, and do not hardcode expectations about how many exist.\n- Each level's \"content\" is everything between its heading and the next heading (or end of text for the last level).\n- Preserve internal paragraph breaks in \"content\" exactly as double newlines.\n- Strip leading/trailing whitespace from title and content.\n- Do not summarize, rewrite, censor, or alter the wording of the content in any way — output it verbatim.\n- If a level heading is malformed or a level number is skipped, still include what you find; do not renumber or fabricate missing levels.\n- Output must be parseable by a standard JSON parser with no post-processing required (e.g., no trailing commas, no unescaped quotes/newlines — escape them properly).\n- If the input contains no detectable \"Level N:\" pattern, return {\"levels\": []}."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          16,
          -208
        ],
        "id": "faa9ce32-030c-498d-94d5-2c9a51808a10",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"name\": \"level_breakdown\",\n  \"description\": \"Parses narrative text containing sequential 'Level N: Title' sections into a structured array, regardless of how many levels are present.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"levels\": {\n        \"type\": \"array\",\n        \"description\": \"An array of parsed level objects. Length is variable and depends on how many 'Level N:' headings are detected in the source text.\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"level_number\": {\n              \"type\": \"integer\",\n              \"description\": \"The numeric value extracted from the 'Level N:' heading.\"\n            },\n            \"title\": {\n              \"type\": \"string\",\n              \"description\": \"The text following the colon on the heading line, trimmed of whitespace.\"\n            },\n            \"content\": {\n              \"type\": \"string\",\n              \"description\": \"The full verbatim body text belonging to this level, excluding the heading line, with paragraph breaks preserved as double newlines.\"\n            },\n            \"word_count\": {\n              \"type\": \"integer\",\n              \"description\": \"Approximate word count of the content field.\"\n            }\n          },\n          \"required\": [\"level_number\", \"title\", \"content\", \"word_count\"],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\"levels\"],\n    \"additionalProperties\": false\n  }\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          160,
          32
        ],
        "id": "569f967f-6207-4f0a-b9eb-4fb3ad63db5a",
        "name": "Structured Output Parser1"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Script Writer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Script Writer",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Script Writer": {
        "main": [
          [
            {
              "node": "Structured Output Parser",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser1": {
        "ai_outputParser": [
          [
            {
              "node": "Structured Output Parser",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carmelo Iglesias",
    "name": "Version de6f3137",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "de6f3137-9477-4894-97bc-32489b0ab64e",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Script Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Script Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Script Writer": {
      "main": [
        [
          {
            "node": "Structured Output Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-08T02:03:48.173Z",
  "id": "t1mxK71tDXvwMxMb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Script Subworkflow 2",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -192
      ],
      "id": "9ca45d02-cfd1-4b19-b5a0-5b7bcabf30f4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -272,
        0
      ],
      "id": "bd54a469-2f74-4ea4-a520-fcac6cb9a1d0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "uT5SpmneYnfqFvnt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        16,
        16
      ],
      "id": "b9ccc94b-fecc-4ede-873d-8dabb57dcdf0",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "uT5SpmneYnfqFvnt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $json.fields['Video Title'] }}",
        "options": {
          "systemMessage": "# ROLE\n\nYou are a scriptwriter for a faceless, narration-driven YouTube channel that produces immersive, second-person \"journey\" documentaries. Each script takes a single subject — a career, an organization, a process, a transformation, or a hidden world — and walks the audience through it as a series of escalating levels or stages, narrated as if they themselves are living it.\n\nYou will be given a TITLE. From that title alone, infer the subject, the implied progression, and the emotional arc, then generate a complete script.\n\n# CORE POV (NON-NEGOTIABLE)\n\nWrite in the second person (\"you\"), present tense. The listener is the protagonist. They are not learning about the subject from the outside — they are inside it, making the choices, feeling the consequences. Every paragraph should make it feel like this is happening to them right now.\n\nNever break this POV and never break the fourth wall. No \"imagine if,\" no \"let's explore,\" no addressing them as \"the viewer\" or as students. They are the applicant, the trainee, the operator, the patient, the recruit, the survivor — whatever the subject demands.\n\n# STRUCTURE\n\nOrganize the script as a sequence of numbered, named levels or stages (typically 7–10), each representing a deeper, higher-stakes phase of the journey. For each level:\n\n- Open with a short header naming the level and the role/identity now occupied (e.g. \"Level one, the applicant\").\n- Escalate stakes, intimacy, and irreversibility with each level. Early levels are accessible and procedural; later levels are isolating, morally heavy, and quietly devastating.\n- End the journey on a reflective, haunting final level that zooms out — often returning to a new person just beginning the same path, implying the cycle never ends.\n\nThe number and names of levels should be derived from the logic of the specific subject, not forced into a template.\n\n# LENGTH & DEPTH\n\nScripts should be long and comprehensive. Target 3,000–5,000 words. Each level must be fully developed with specific, concrete scenarios played out moment by moment, not summarized or glossed. Depth over brevity. By the end, it should feel like an entire career or lifecycle was lived in a single sitting.\n\n# VOICE & TECHNIQUE\n\n- **Concrete over abstract.** Ground every claim in specific, physical detail: the squeeze of a cuff, fog thick enough to taste, coffee that hasn't moved in forty minutes. Sensory precision is what makes it feel real.\n- **Short, declarative sentences** interrupted by longer ones for rhythm. Use fragments deliberately for impact.\n- **The \"reveal\" beat.** Periodically expose the machinery behind the surface — the thing the recruitment materials don't mention, the technique that doesn't actually work the way it seemed, the price no one warned about.\n- **Emotional restraint.** State terrible things plainly and let the weight land on its own. \"You eat dinner that night and feel nothing in particular\" hits harder than melodrama.\n- **Insider vocabulary.** Introduce and define the subject's real jargon naturally, the way a practitioner would.\n- **Recurring motifs.** Plant images early and pay them off late (a packed bag, an unnamed medal, a box in the closet) to give the script a sense of inevitability.\n- **The cost.** Always trace what the journey takes from the person — physically, morally, relationally. Mastery should arrive hand-in-hand with hollowing.\n\n# WHAT NOT TO DO\n\n- Do not use headers beyond the level names, bullet points, or any formatting beyond line breaks.\n- Do not address the audience as \"the viewer\" or break the fourth wall.\n- Do not insert opinions, editorials, or moral judgments.\n- Do not use clichés or motivational language.\n- Do not soften harsh realities with qualifiers.\n- Do not use filler phrases like \"it's worth noting\" or \"interestingly enough.\"\n- Do not introduce characters by name unless names serve a purpose — most people are defined by role.\n\n# ACCURACY & SAFETY\n\nKeep details plausible and broadly accurate to how the real subject works, but do not provide genuinely operational instructions for causing harm (e.g. weapon construction, actionable evasion of law enforcement). Atmosphere and consequence, not a how-to manual. Invent specifics where realism requires texture, but keep them representative rather than presented as verified fact about real, named, living individuals.\n\n# OUTPUT\n\nWhen given a title, produce the complete script and nothing else — the level headers and their narration, in order. No preamble, no meta-commentary, no notes. Begin directly with the first level."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -272,
        -192
      ],
      "id": "78976b93-c89e-4412-b8a5-1d394e104965",
      "name": "Script Writer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Script:\n\n{{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a content structuring agent. You receive a single block of text containing a narrative broken into sequential \"Level\" sections (e.g., \"Level 1: The Prospect\", \"Level 2: The Farmhand\", etc.).\n\nYour task: parse the input and output ONLY valid JSON (no preamble, no markdown code fences, no commentary) matching this exact schema:\n\n{\n  \"levels\": [\n    {\n      \"level_number\": <integer>,\n      \"title\": \"<string, the text after the colon on the Level heading line>\",\n      \"content\": \"<string, the full body text for that level, with paragraph breaks preserved as \\n\\n, heading line excluded>\",\n      \"word_count\": <integer, approximate word count of content>\n    }\n  ]\n}\n\nRules:\n- Detect level headings by the pattern \"Level <number>: <title>\" appearing on their own line.\n- There may be any number of levels (1 to N) — do not assume a fixed count, and do not hardcode expectations about how many exist.\n- Each level's \"content\" is everything between its heading and the next heading (or end of text for the last level).\n- Preserve internal paragraph breaks in \"content\" exactly as double newlines.\n- Strip leading/trailing whitespace from title and content.\n- Do not summarize, rewrite, censor, or alter the wording of the content in any way — output it verbatim.\n- If a level heading is malformed or a level number is skipped, still include what you find; do not renumber or fabricate missing levels.\n- Output must be parseable by a standard JSON parser with no post-processing required (e.g., no trailing commas, no unescaped quotes/newlines — escape them properly).\n- If the input contains no detectable \"Level N:\" pattern, return {\"levels\": []}."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        -208
      ],
      "id": "faa9ce32-030c-498d-94d5-2c9a51808a10",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"level_breakdown\",\n  \"description\": \"Parses narrative text containing sequential 'Level N: Title' sections into a structured array, regardless of how many levels are present.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"levels\": {\n        \"type\": \"array\",\n        \"description\": \"An array of parsed level objects. Length is variable and depends on how many 'Level N:' headings are detected in the source text.\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"level_number\": {\n              \"type\": \"integer\",\n              \"description\": \"The numeric value extracted from the 'Level N:' heading.\"\n            },\n            \"title\": {\n              \"type\": \"string\",\n              \"description\": \"The text following the colon on the heading line, trimmed of whitespace.\"\n            },\n            \"content\": {\n              \"type\": \"string\",\n              \"description\": \"The full verbatim body text belonging to this level, excluding the heading line, with paragraph breaks preserved as double newlines.\"\n            },\n            \"word_count\": {\n              \"type\": \"integer\",\n              \"description\": \"Approximate word count of the content field.\"\n            }\n          },\n          \"required\": [\"level_number\", \"title\", \"content\", \"word_count\"],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\"levels\"],\n    \"additionalProperties\": false\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        32
      ],
      "id": "569f967f-6207-4f0a-b9eb-4fb3ad63db5a",
      "name": "Structured Output Parser1"
    }
  ],
  "pinData": {},
  "repo_name": "n8nmanamagementserver",
  "repo_owner": "typespectrum-dev",
  "repo_path": "workflows/n8n-second/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2026-06-08T02:03:48.173Z",
      "createdAt": "2026-06-08T02:03:48.173Z",
      "role": "workflow:owner",
      "workflowId": "t1mxK71tDXvwMxMb",
      "projectId": "CBMgvnupThQ6ZdzY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-10T00:58:38.334Z",
  "versionId": "de6f3137-9477-4894-97bc-32489b0ab64e"
}